{% extends 'layout.html.twig' %}
{% block header %}
{% endblock %}


{% block content %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">

                <div class="box box-solid" id="presentation">

                    <div class="box-body">
                        <div class="pull-right">
                            <img src="{{ app.request.basepath }}/assets/images/simplasso_logo_400.png" alt=""
                                 class="img-responsive" width="190"/>
                        </div>
                        <h2>{{ 'simplasso_nom'|trans }}<br/>
                            <small> {{ 'simplasso_slogan'|trans }}</small>
                        </h2>
                        <p>{{ 'simplasso_presentation'|trans }} </p>
                        <hr/>

                        <ul class="list-inline">
                            <li>
                                <strong>{{ 'Liens'|trans }} :</strong>
                            </li>
                            <li>
                                <a href="https:/www.simplasso.org" target="_blank">{% trans %}
                                    Site du logiciel{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ documentation_lien() }}" target="_blank">{% trans %}
                                    Documentation en ligne{% endtrans %}</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="box box-solid" id="actualiste">
                    <div class="box-header"><h2>Actualités</h2></div>
                    <div class="box-body" id="actu-rss">

                    </div>
                    <script>
                        $(document).ready(function () {

                                    $.getFeed({
                                        url: 'rss',
                                        success: function (feed) {
                                            tmp = '<ul class="list-unstyled">';
                                            nb = Math.min(feed.items.length, 5);
                                            for (i = 0; i < nb; i++) {
                                                item = feed.items[i];

                                                var date = moment(item['updated']);
                                                tmp += "<li><div class=\"label label-default pull-right\">Publié le " + date.calendar() + "</div><div class=\"titre\"> <a href=\"" + item['link'] + "\">" + item['title'] + "</a></div><div class=\"texte\"> "+ item['description'] + "</div></li>"
                                            }
                                            tmp += "</ul>";
                                            $("#actu-rss").html(tmp);
                                            $("#actu-rss .texte a[rel=directory]").remove();
                                            $("#actu-rss .texte").each(function(){
                                                texte_rss = $(this).text()
                                                $(this).text(texte_rss.substr(0,texte_rss.length-8));
                                            })
                                        }
                                    });

                                }
                        )

                    </script>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="box " id="raccourci">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'Raccourcis'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        <a class="btn btn-app" href="{{ path('membre_liste') }}">
                            <i class="fa fa-users"></i> {{ 'membres'|trans }}
                        </a>
                        <a class="btn btn-app" href="{{ path('individu_liste') }}">
                            <i class="fa fa-user"></i> {{ 'individus'|trans }}
                        </a>
                        <a class="btn btn-app" href="{{ path('statistique') }}">
                            <i class="fa fa-bar-chart"></i> {{ 'statistique'|trans }}
                        </a>
                        <a class="btn btn-app" href="{{ path('paiement_liste') }}">
                            <i class="fa fa-euro"></i> {{ 'paiement'|trans }}
                        </a>
                        <a class="btn btn-app" href="{{ path('documents') }}">
                            <i class="fa fa-files-o"></i> {{ 'documents'|trans }}
                        </a>
                        {% if import_en_attente %}
                            <a class="btn btn-app" href="{{ path('import_liste') }}">
                                <i class="glyphicon glyphicon-import"></i> {{ 'import_attente'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if pref('accueil.stat.afficher') %}
                    <div class="info-box bg-green">
                        <span class="info-box-icon "><i class="fa fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"></span>
                            <span class="info-box-number">{{ nb_adherent_ok }} {{ 'membres'|trans }}
                                {{ 'stat_msg1'|trans }} {{ nb_adherent }} {{ 'stat_msg2'|trans }}
                            </span>
                            <div class="progress">
                                <div class="progress-bar" style="width: {{ nb_adherent_ok_pourcentage }}%"></div>
                            </div>
                            <span class="progress-description"> {{ 'stat_msg3'|trans }}
                                {{ nb_adherent_ok_pourcentage }}{{ 'stat_msg4'|trans}}</span>

                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'Dernières opérations'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        {% include('inclure/timeline.html.twig') with{'decoupage':'heure'} %}
                        <a class="btn btn-block btn-success" href="{{ path('timeline') }}">Voir tout l'historique</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

