{% extends 'layout.html.twig' %}
{% set active = 'admin_modeles' %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/markitup/skins/markitup/style.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/markitup/sets/default/style.css">
{% endblock head %}
{% block scripts_footer %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/js/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/markitup.js"></script>
    {% include 'inclure/carto_js.twig' %}
{% endblock %}





{% block content %}

    <h3>Modèles de documents</h3>

    <div class="row">
    <div id="aside" class="col-sm-3">
        <div class="informations">
            <h4>Liste des modèles de documents</h4>
        <ul>
        {% for k,mod in modeles %}
        <li><a href="{{ path('admin_modeles',{'id_doc':k }) }}" >{{ mod['nom'] }} <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
        {% endfor %}
        </ul>
        </div>
    </div>
    <div id="contenu" class="col-sm-9 ">

        {% if id_doc is defined %}
            <h3> Modèle de document : {{ modeles[id_doc]['nom'] }}</h3>
            {% if modeles[id_doc]['param'] %}
                <div class="container-fluid">
                <div class="col-sm-9 ">

                    <p> <strong>Param&egrave;tres pouvant &ecirc;tre pris en compte :</strong>

                        {{ modeles[id_doc]['param']|join(', ') }} </p>

                </div>
                <div class="col-sm-3">
                    <div class="btn-group text-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('admin_modeles',{'id_doc': id_doc }) }}">Recharger la version actuelle</a></li>
                            <li><a href="{{ path('admin_modeles',{'id_doc': id_doc,'recup':1 }) }}">Rétablir la version sauvegardée en janvier 2015</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            {% endif %}

          {% if form is defined %}

            {{ form(form, {action:  path('admin_modeles',{'id_doc':id_doc}) }) }}

          {% endif %}
        {% endif %}

    </div>
    </div>
{% endblock %}