{% extends 'layout_zero.html.twig' %}

{% block formulaire %}

<h4>{{ titre }}</h4>

    <div class="progression">
    <div id="etat_progression">{{ message }}</div>
    <div id="barre_progression" class="progress progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ progression_pourcent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progression_pourcent }}%;">
    {{ progression_pourcent }}
    </div>
    </div>



    <script type="application/javascript">



    function lancer_traitement(adresse){
        $.ajax({
        dataType: "json",
        url: adresse,
        success: function(msg){
            $('#barre_progression').css("width",msg["progression_pourcent"]+"%")
            $('#barre_progression').text(msg["progression_pourcent"]+"%")
            $('#etat_progression').html(msg["message"])
            if(msg["progression_pourcent"]==100)
                window.location.href = '{{ url_redirect|raw }}';
            else
                lancer_traitement(adresse)
            }
        });
    }

    $(document).ready(function(){
        var adresse ='{{ url|raw }}';

        lancer_traitement(adresse);
        $('.progress').after('<div class="patience_la_fontaine">« Patience et longueur de temps font plus que force ni que rage. »</div>'
                +'<div id="etat_progression"></div>');

    });

    </script>


{% endblock %}
