{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block content %}

        <h2>{{ 'carte'|trans }}</h2>
        {% block formulaire %}
            <div id="map_pos" class="map carte"></div>
            {% form_theme form with ['form_large.html.twig'] %}
            {{ form(form) }}
            <style>
                #map_pos {
                    width: 100%;
                    height: 400px;
                }
            </style>



            <script type="text/javascript">
                $('#carte').before('');
                $(document).ready(function(){

                    lat = $('#carte_lat').val();
                    lon= $('#carte_lon').val();
                    zoom=10;

                    if (lat == '' || lon == ''){
                        lat=50.75;
                        lon =2.50;
                        zoom=7
                    }
                    lat_lon = new L.latLng(lat, lon);

                    var map = L.map('map_pos');
                    var marker = new L.marker(lat_lon, {draggable: true});
                    map.addLayer(marker);

                    marker.on('dragend', function (event) {

                        var marker = event.target;
                        var result = marker.getLatLng();
                        $('#carte_lat').val(result.lat);
                        $('#carte_lon').val(result.lng);
                    });


                    // add an OpenStreetMap tile layer
                    L.tileLayer('https://a.tiles.mapbox.com/v4/guillaumew.lno8fg97/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3VpbGxhdW1ldyIsImEiOiJiREFkR3IwIn0.-CUhlefzCSV-FTSQTcre9g', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    map.setView([lat, lon], zoom);


                });

            </script>



        {% endblock %}

{% endblock %}

