<ul class="filtre" id="filtre_{{ nom_filtre }}"
        {% if class is defined %}
            class="{{ class }}"
        {% else %}
            class="{{ filtre_select }}"
        {% endif %}>
    {% for f in filtre %}
        <li><a href="{{ f['path'] }}" {% if (f['selected']) %}class="selected"{% endif %}>{{ f['label'] }}</a></li>
    {% endfor %}
</ul>
