{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-body">
                    <h3>Contributeurs</h3>
                    <ul>
                        <li>Guillaume Wauquier</li>
                        <li>Claude Wauquier</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

