{% extends 'layout.html.twig' %}


{% block content %}




    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'Liste des documents'|trans }}</h3>
        </div>
        <div class="box-body">
            <div class="row-fluid">
                <div class="col-md-3">
                    <div class="well">

                        <div class="pull-left"><i class="fa fa-file-pdf-o fa-4x"></i></div>
                        <h4>{{ 'Liste d\'émargement pour l\'assemblée générale'|trans }}</h4>
                        <a href="{{ path('documents',{'action':'assemblee_generale'}) }}">Générer le document</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>{{ 'Liste assemblée'|trans }}</h4>
                    <a class="btn btn-app btn-block" href="{{ path('documents') }}">
                        <i class="fa fa-file-o"></i> {{ 'individus'|trans }}
                    </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>{{ 'Liste assemblée'|trans }}</h4>
                    <a class="btn btn-app btn-block" href="{{ path('documents') }}">
                        <i class="fa fa-file-o"></i> {{ 'statistique'|trans }}
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
