{% extends 'layout_basic.html.twig' %}
{% set active = '404' %}

{% block content %}
    <div class="row">
    <div class="col-lg-3 col-xs-6">


    <div class="small-box bg-red">

        <div class="inner">
            <h3>404</h3>
            <p>Page introuvable</p>
        </div>
        <div class="icon">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <a href="{{ path('homepage') }}" class="small-box-footer">
            <i class="fa fa-arrow-circle-right"></i> retour à l'accueil
        </a>

        <!-- /.info-box-content -->
    </div>
    </div>
    </div>
{% endblock %}

