{% extends 'layout_basic.html.twig' %}

{% block content %}
<h2> Accès refusé/interdit</h2>
<p>Vous n'êtes pas autorisé à accèder à cette page.</p>
    <p><a href="{{ path('accueil') }}">retour à l'accueil</a></p>
{% endblock %}

