{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block menu_header_suppl %}
    <li>
        <a href="{{ path('helloasso_form') }}" class="modal_form btn btn-success">Importer des données</a>
    </li>
{% endblock %}

{% block content %}

    <div id="aside" class="col-sm-3">
        <h1>Hello Asso</h1>
        <h3>Statistique</h3>

    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-9">


        <div class="box box-default">
            <div class="box-header">
                <h3>Importation en cours des données Hello Asso</h3>
            </div>
            <div class="box-body">
                {% for import in tab_import_en_cours %}
                    <div class="row-fluid">
                        <div class="nom  col-md-2">{{ import.avancement }}</div>
                        <div class="date_import col-md-2">{{ import.createdAt|localizeddate('medium', 'none', 'fr') }}</div>
                        <div class="nom  col-md-8">{{ import.nom }}</div>
                        <div class="nom  col-md-12">
                            <table>
                                <tr><td></td></tr>

                            </table>

                        </div>
                    </div>
                    <hr class="clearfix" />
                {% endfor %}
            </div>
        </div>

        <div class="box box-default">
            <div class="box-header">
                <h3>Validation des lignes</h3>
            </div>
            <div class="box-body">
                {% for import in tab_import_proposition %}
                    <div class="row-fluid">
                        <div class="nom  col-md-2">{{ import.avancement }}</div>
                        <div class="date_import col-md-2">{{ import.createdAt|localizeddate('medium', 'none', 'fr') }}</div>
                        <div class="nom  col-md-8">{{ import.nom }}</div>
                        <div class="nom  col-md-12">
                            <form name="validation_helloasso">
                            <table class="table table-responsive">
                                <tr><th>Num. ligne</th><th>Extraits fichiers</th><th>Proposition</th><th>Validation</th></tr>
                                {% for num_ligne,ligne in tab_import_proposition_ligne[import.IdImport] %}
                                    <tr>
                                        <td>{{ num_ligne }}</td>
                                        <td>
                                            <dl class="dl-horizontal">
                                                <dt>Numéro :</dt>
                                                <dd>{{  ligne['variables']['id'] }}</dd>
                                                <dt>Date :</dt>
                                                <dd>{{  ligne['variables']['date'] }}</dd>
                                                <dt>Qui :</dt>
                                                <dd>{{  ligne['variables']['nom'] }}</dd>
                                                <dt>Type :</dt>
                                                <dd>{{  ligne['variables']['type_prestation'] }}</dd>
                                                <dt>Montant :</dt>
                                                <dd>{{  ligne['variables']['montant'] }}</dd>
                                            </dl>

                                        </td>
                                        <td>
                                            <dl class="dl-horizontal">
                                                <dt>Qui :</dt>
                                                    {% if ligne['propositions']['membres'] is defined %}
                                                        {% for membre in  ligne['propositions']['membres'] %}
                                                            <dd><a href="{{ path('membre',{'id_membre':membre.IdMembre}) }}">{{ membre.nom }}</a></dd>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if ligne['propositions']['individus'] is defined %}
                                                        {% for individu in  ligne['propositions']['individus'] %}
                                                            <dd><a href="{{ path('individu',{'id_individu':individu.IdIndividu}) }}">{{ individu.nomFamille }} {{ individu.prenom }}</a></dd>
                                                        {% endfor %}
                                                    {% endif %}
                                                <dt>Service rendu :</dt>
                                                    {% if ligne['propositions']['id_prestation'] is defined %}
                                                        <dd>{{ tab('prestation.'~ligne['propositions']['id_prestation']~'.prestation_type_nom')|trans }}
                                                            {{ tab('prestation.'~ligne['propositions']['id_prestation']~'.nom') }}</dd>
                                                    {% endif %}
                                                </dl>
                                        </td>
                                        <td><input type="checkbox" checked="checked"></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            </form>
                        </div>
                    </div>
                    <hr class="clearfix" />


                {% endfor %}
                <script type="application/javascript">
                    $(document).ready(function() {
                        conteneur_form = $('form[name=validation_helloasso]');
                        $('input.bs_switch',conteneur_form).bootstrapSwitch({
                                onText : 'oui',
                                offText : 'non',
                                size :'small'
                        });

                    });
                </script>
            </div>
        </div>


        <div class="box box-default">
            <div class="box-header">
                <h3>Historique des importations des données Hello Asso</h3>
            </div>
            <div class="box-body">

            </div>
        </div>

    </div>
{% endblock %}
