<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->

<head>
    {% include 'inclure/head.html.twig' with {title:app.name|trans } only %}
    <script src="{{ asset('js_vars') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/scripts.js') }}" type="text/javascript"></script>
    {% if js_suppl is defined %}
        <script src="{{ app.request.basepath }}/assets/js/{{ js_suppl }}.js"></script>
    {% endif %}
    {% block head_cplt %}{% endblock %}
</head>

<body class="hold-transition skin-green layout-top-nav">
<div class="wrapper">


    <!--[if lt IE 9]><p class="firefoxframe">Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->


    {% block content %}
        {% block aside %}

        {% endblock %}
        {% block contenu %}

        {% endblock %}
    {% endblock %}



</div>
{% include 'inclure/footer.html.twig' only %}
{% block scripts_footer %}
    <script src="{{ asset('assets/js/scripts_footer.js') }}"></script>
    {% block scripts_footer_cplt %}{% endblock %}
    <script type="application/javascript">
        $("document").ready(function(){
            setTimeout( function(){
                $.get("{{ path('tache',{'action':'execute'}) }}");
            }, 25)
        });

    </script>


{% endblock %}
</body>
</html>
