<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->

<head>
    {% include 'inclure/head.html.twig' with {title:app.name|trans~'-'~(sac('page')|trans) } only %}
    <script src="{{ asset('vars.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/scripts.js') }}" type="text/javascript"></script>
    {% if js_suppl is defined %}
        <script src="{{ app.request.basepath }}/assets/js/{{ js_suppl }}.js"></script>
    {% endif %}
    {% block head_cplt %}{% endblock %}
</head>

<body class="hold-transition skin-green layout-top-nav">
<div class="wrapper">


    <!--[if lt IE 9]><p class="firefoxframe">Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->

    {% block menu %}
    {% include 'menu.html.twig' %}
    {% endblock %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <section class="content-header">
                {% block header %}
                    <div class="row">
                        {% block menu_header %}
                            <div id="menu_page_droite" class="pull-right">
                                <ul class="list-inline">
                                    {% block menu_header_suppl %}
                                    {% endblock %}
                                    {% for lignefil in menu_page_droite() %}
                                        <li>{% include('inclure/lien.html.twig') with lignefil only %}</li>
                                    {% endfor %}
                                    {% block documentation %}
                                        <li><a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a></li>
                                    {% endblock %}
                                </ul>
                            </div>
                        {% endblock %}

                        <div id="fil_ariane">
                            {% block breadcrumb %}
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="{{ path('homepage') }}"><i
                                                    class="fa fa-home"></i> {{ 'accueil'|trans }}</a></li>
                                    {% for lignefil in menu_page_gauche() %}
                                        {% if lignefil['url'] is defined %}
                                            {% if lignefil['url'] is null %}
                                                <li>{{ lignefil['nom']|raw }}</li>
                                            {% else %}
                                                <li><a href="{{ lignefil['url'] }}">{{ lignefil['nom']|raw }} </a></li>
                                            {% endif %}
                                        {% else %}
                                            {% if lignefil['nom'] is defined %}
                                                <li>{{ lignefil['nom']|raw }} </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </section>

            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}">
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message|trans|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row-fluid a_cheval">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>


</div>
{% include 'inclure/footer.html.twig' only %}
{% block scripts_footer %}
    <script src="{{ asset('assets/js/scripts_footer.js') }}"></script>
    {% block scripts_footer_cplt %}{% endblock %}
    <script type="application/javascript">
        $("document").ready(function(){
        setTimeout( function(){
            $.get("{{ path('tache',{'action':'execute'}) }}");
        }, 25)
        });

    </script>


{% endblock %}
</body>
</html>
