{% extends 'layout_basic.html.twig' %}
{% block breadcrumb %}{% endblock %}
{% block content %}


    <div class="login-box">
        <div class="login-logo">
            <img src="{{ app.request.basepath }}/assets/images/simplasso_login.png" alt="{{ 'simplasso_nom'|trans }}" />

        </div>
        <!-- /.login-logo -->
        <div class="login-box-body ">
            <p class="login-box-msg"></p>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error|trim('.')|trans() }}
                </div>

            {% endif %}
            <form action="{{ path('login_check') }}" method="post" novalidate class="form-vertical">
                {% form_theme form with ['bootstrap_3_layout.html.twig'] %}
                {{ form_widget(form) }}

                <div class="row">

                    <div class="col-xs-4">
                        <button class="btn btn-primary  " type="submit">{{ 'Se connecter'|trans }}</button>
                    </div>
                    <div class="col-xs-8">
                        <div class="checkbox_remember">
                            <label for="remember_me">
                                    <input type="checkbox"  id="remember_me"  name="_remember_me"  /> {{ 'Se souvenir de moi'|trans }}
                            </label>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="mdpp"><a href="{{ path('login',{'action':'motdepasseperdu'}) }}">{{ 'J\'ai oublié mon mot de passe'|trans }}</a></div>

    </div>

{% endblock %}
