{% extends 'layout_basic.html.twig' %}

{% block title %}Mot de passe perdu?{% endblock %}

{% block content %}

    <div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content">
    <div class="panel-heading">
        <h3 class="panel-title">Mot de passe perdu?</h3>
    </div>
    <div class="panel-body">



        <p class="text-muted lead">
            {% trans %} Mot_de_passe_perdu_message {% endtrans %}
        </p>

        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-vertical" method="POST" >
            <div class="form-group">
                <label class="control-label" for="inputEmail">Mon adresse mail</label>

                    <input class="form-control" name="email" type="text" id="inputEmail" required value="{{ email }}">

            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary">Envoi des instructions de <réinitialisation></réinitialisation></button>
                    <a href="{{ path('login') }}" style="margin-left: 10px;">Retour à l'accueil</a>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2" style="margin-top: 20px;">
                    <hr/>
                    If you don't get an email within a few minutes, make sure to check your spam or junk folder.
                    The sender is <strong>{{ fromAddress }}</strong>.
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
</div>

{% endblock %}