<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <!--partie gauche simplasso-->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}"><img
                            src="{{ asset('assets/images/simplasso_entete.png')}}" alt="{{ application_nom }}"/> </a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!--partie gauche simplasso-->
            </div>
            {#</section>#}
            {#le 25 /8/2016 mis en commentaire car pas de section#}
            <!-- partie centrale menu général + acces direct + choix entite -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <!-- menu déroulant recherche entite-->
                {% if menu_general is defined  and menu_general %}
                    <ul class="nav navbar-nav">
                        {% for key, item in menu_general %}

                            {% if item['menu'] is defined %}


                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                        role="button" aria-expanded="false">
                                        {% if item['label'] is defined %}
                                            {{ item['label']|trans }}
                                        {% else %}
                                            {{ key }}
                                        {% endif %}
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for k,i in item['menu'] %}
                                            {% if k|slice(0,1)=='#' %}
                                                <li role="separator" class="divider"></li>
                                            {% else %}
                                                <li>
                                                    {% if k|slice(0,4)=='http' %}
                                                        <a href="{{ k }}">{{ i|trans }}</a>
                                                    {% else %}
                                                        <a href="{{ path(k) }}">{{ i|trans }}</a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path(key) }}" role="button" aria-expanded="false">
                                        {% if item['label'] is defined %}
                                            {{ item['label']|trans }}
                                        {% else %}
                                            {{ key }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                <!-- fin menu général -->
                    <!-- acces direct recherche-->
                    <form class="navbar-form navbar-left" role="search" action="{{ path('recherche') }}"
                          method="get">
                        <div class="form-group">

                            <input type="text" class="form-control" id="navbar-search-input"  placeholder="{{ 'Nom, numéro adhérent'|trans }}"
                                   name="recherche"/>
                        </div>
                        <button type="submit" class="btn btn-default hide">{{ 'Accès direct'|trans }}</button>
                    </form>
                    <!-- fin acces direct -->
                    <!-- affichage et selection entite -->
                    {% set  entite_id = pref('en_cours.id_entite')%}
                    {% set  entite_nom = tab('entite.'~entite_id~'.nom') %}
                    {% if entite_multi %}
                    <ul class="nav navbar-nav navbar">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% set  entite_multi =true %}
                                {#{{ 'entite'|trans }} #}
                                {{ entite_id }} {{ entite_nom }}

                                <span class="caret"></span>

                            </a>

                                <ul class="dropdown-menu">
                                    {% for id_entite in suc('entite') %}
                                            {% if  id_entite != entite_id %}

                                                <li><a  data-confirm="Voulez vous basculer vers l'entité : {{ id_entite }} {{ tab('entite.'~id_entite~'.nom') }} "
                                                    data-href="{{ path('accueil',{action:'choisir','id_entite':id_entite}) }}"
                                                    href="#"
                                                        >
                                                    {{ id_entite }} {{ tab('entite.'~id_entite~'.nom') }}
                                                </a></li>
                                        {% endif %}

                                {% endfor %}
                            </ul>

                        </li>
                     </ul>

                    {% endif %}
                     <!-- fin de partie entite -->
                {% endif %}
                <!-- fin de la partie centrale -->
            </div>
            <!-- partie droite -->
            <div class="navbar-custom-menu pull-right">
                {% set  id_operateur = suc('operateur.id')%}
                <ul class="nav navbar-nav">
                    {% set tab_notifications = suc('notifications') %}
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            {% if tab_notifications|length > 0 %}
                            <span class="label label-warning">10</span>
                            {% endif  %}
                        </a>

                        <ul class="dropdown-menu">

                            <li class="header">{{ 'Vous avez nb notifications'|trans({nb:tab_notifications|length}) }}</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                    <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                        <li>
                                            {% for id, notification in tab_notifications %}
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i>{{  notification.nom|trans }}
                                            </a>
                                            {% endfor %}
                                        </li>
                                    </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 195.122px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                            </li>
                            <li class="footer"><a href="{{ path('notification_liste')}}">Voir les anciennes</a></li>
                        </ul>

                    </li>


                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                            <!-- The user image in the navbar-->
                            <span class="glyphicon glyphicon-user"></span>
                            <!--
                            <img alt="User Image" class="user-image" src="../../dist/img/user2-160x160.jpg">-->
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs"> {{ suc('operateur.nom') }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">

                                {{ image_mini('individu',id_operateur,"User Image")|raw  }}
                                <p>
                                    {{ suc('operateur.nom') }}
                                    <small>
                                        fonction : {{ suc('operateur.profil') }}
                                    </small>
                                </p>
                            </li>
                            <!-- Menu Body -->

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="col-sm-4">

                                    <a href="{{ path('individu',{'id_individu':id_operateur }) }}" class="btn btn-default btn-block btn-flat" title="{{ 'Votre profil'|trans }}"><span
                                                class="glyphicon glyphicon-user"></span>
                                    </a>

                                </div>
                                <div class="col-sm-4">
                                    <a href="{{ path('preferences',{'id_individu':id_operateur }) }}" class="btn btn-default btn-block btn-flat" title="{{ 'preferences'|trans }}"><span
                                                class="glyphicon glyphicon-asterisk"></span>
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                     <a href="{{ path('logout') }}" class="btn btn-default btn-flat btn-block" title="{{ 'Se déconnecter'|trans }}"><span
                                                class="glyphicon glyphicon-off"></span> </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
