{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
{#todo repris de tva fonctionne partiellement pour unité a améliorer 2 champ géré nom et nom_court#}
    {#todo probleme avec les enregistrements 0 considéré comme null  tva et unite mis 8 et 4 voir en saisie de prestation #}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ico ico-tva"></i></span>

            <div class="info-box-content">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_tva':id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_tva':id}) }}
                    </div>
                </div>
                {#<span class="info-box-text">{{ objet_data.IdTva }}</span>#}
                <span class="info-box-number">{{ objet_data.nom }}</span>
                <span class="info-box-number">{{ objet_data.nomcourt }}</span>
            </div>
        </div>
        <div class="box box-default logo">
            <div class="box-header">
                <h5> {{ 'Logo'|trans }} </h5>
            </div>
            <div class="box-body">
                {#{{ image_mini('tva',objet_data.IdEntite)|raw }}#}
            </div>
        </div>


        <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'Informations'|trans }}
                </h5>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">

                    {% if objet_data.createdAt!=objet_data.updatedAt %}
                        <dt>{{ 'modification'|trans }}:</dt>
                        <dd>{{ objet_data.updatedAt|date('d/m/Y') }}
                            par {{ objet_data.getQuiModifie|getNomIndividu }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}
    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">

        {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}
