{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        {% if objet_action is defined and objet_action is not empty %}

        <div class="back">
            <a href='{{  path(page)}}' class="btn btn-default">{{'retour_liste'|trans }}</a>
        </div>
            {% else %}
                <a href='{{  path('homepage')}}' class="btn btn-default">{{'retour'|trans }}</a>
        {% endif %}
    </div>

    {% block contenu %}
	<!-- Colonne principal-->
	<div id="contenu" class="col-sm-8">
	    <div class="box box-default">
		<div class="box-header">
		    <h2>{{ page|trans }}</h2>
		</div>
		<div class="box-body">
		    {% block formulaire %}
		        {% include('inclure/form.html.twig') %}
		    {% endblock %}
		</div>
	    </div>
	</div>

    {% endblock %}
{% endblock %}

