{% extends 'layout'~layout_cplt~'.html.twig' %}


{% block content %}
    <div id="contenu" class="box">
    <div class="box-header"><h2>Liste des individus ayant des coordonnées à rectifier</h2></div>

        <div id="super_tableau_individu">
            <nav class="navbar navbar-default">

                {% set tab_filtres = donneTabFiltre() %}
                <div class="container-fluid">
                    {% include('inclure/barre_filtre.html.twig') with {'objet':'individu','tab_filtres':tab_filtres } only %}

                </div>
            </nav>
            {% set tab_col = donneTabCol('individu') %}

            {% include('inclure/table_col.html.twig') with{'tab_col':tab_col,class : 'ajaxdatatable'} only %}

        </div>
    </div>

    {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet,'objet':'individu','tab_col':tab_col,'tab_filtres':tab_filtres,'filtres_statiques':{mots:tab_mot_npai}} only %}
    <script>
        $(document).ready(function(){

            initialisation_champs_autocomplete_geo($('#super_tableau_individu'),'toto');
            initialisation_selection();


        })

    </script>
{% endblock %}
