{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-12">


    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-12">
        <h1>Recherche</h1>
        <div class="box box-default">
            <div class="box-header">
                <h3>Liste des membres <span class="small">{{ nb_membre }}</span></h3>
            </div>
            <div class="box-body">
                {% include('asso/membre_table.html.twig') with {tab : tab_membre} only %}
            </div>
        </div>

        <div class="box box-default">
            <div class="box-header">
                <h3>Liste des individus <span class="small">{{ nb_individu }}</span></h3>
            </div>
            <div class="box-body">
                {% include('asso/individu_table.html.twig') with {tab : tab_individu} only %}
            </div>
        </div>

        <div class="box box-default">
            <div class="box-header">
            <h3>Liste des courriers <span class="small">{{ nb_courrier }}</span></h3>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>

{% endblock %}

