<ul class="filtre{% if class is defined %} {{ class }}{% else %} filtre_select{% endif %}" id="filtre_{{ nom_filtre }}">
    {% for f in filtre %}
        <li><a href="{{ f['path'] }}" {% if (f['selected']) %}class="selected"{% endif %}>{{ f['label'] }}</a></li>
    {% endfor %}
</ul>
