{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block menu_header_suppl %}
    <li><a href='{{  path('preferences',{'pref':'statistique','redirect':'statistique'})}}'
       class="btn btn-default modal_form">
        <span class="glyphicon glyphicon-asterisk"></span> Options des statitisques
    </a></li>
{% endblock %}

        {% block content %}
            <!-- Colonne de gauche-->
            <div id="aside" class="col-sm-2">
                <p>
                </p>
            </div>

        <!-- Colonne principal-->
        <div id="contenu" class="col-sm-10">

            <div class="box box-default">
                <div class="box-header">
                    <h1>Statistiques</h1>
                </div>
                <div class="box-body">



                {% for stat in tab_stat %}

                     <h3>{{ stat.titre  }}</h3>

                    {% if stat.donnees_charts is not empty %}
                    <canvas id="chart_{{ stat.identifiant  }}" width="1000" height="400"></canvas>
                    <script>

                        $(document).ready(function() {

                            var options = {

                                responsive: true,
                                title:{
                                    display:true,
                                    text:"titre"
                                },
                                scales: {
                                    xAxes: [{
                                        type: "time",
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }],
                                    yAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Nombre'
                                        }
                                    }]
                                }
                            };


                            var data = {
                                labels: [moment("{{ stat.donnees_charts|keys|join('"),moment("')|raw }}")],
                                datasets: [
                                    {
                                        label: "Total",
                                        fillColor: "rgba(210, 214, 222, 1)",
                                        strokeColor: "rgba(210, 214, 222, 1)",
                                        pointColor: "rgba(210, 214, 222, 1)",
                                        pointStrokeColor: "#c1c7d1",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(220,220,220,1)",
                                        data: [{{ stat.donnees_charts|join(',') }}]
                                    }
                                ]
                            };

                            var ctx = $("#chart_{{ stat.identifiant }}").get(0).getContext("2d");

                            var myLineChart = new Chart(ctx, {
                                type: 'line',
                                data: data,
                                options: options
                            });



                        });
                    </script>

                    {{ stat.donnees|array2htmltable({th:true})  }}
                    {% endif %}

                {% endfor %}
             </div>
             </div>
        </div>

{% endblock %}

