{% extends 'layout.html.twig' %}
{% set active = 'utilisateur_form' %}
{% if gestionnaire is defined  %}
	{% set user = gestionnaire.Utilisateur %}
{% endif %}

{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-2">

        <div class="back">
            <a href='accueil' class="btn btn-default">{{  'Retour a l\'accueil'|trans }}</a></li>
        </div>
    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-9">

			<h2>{{ 'Modifier vos informations'|trans }}</h2>

	{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
    {{ form(form, {action:  path('utilisateur_form') }) }}
	</div>
{% endblock %}
