{% extends 'layout.html.twig' %}

{% set active = 'gestionnaire' %}

{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-sm-2">


    <div class="actions">
        <ul>
           <li> <a href="{{ path('utilisateur_form')}}" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"> {{ 'Modifier vos informations'|trans }}</span></a></li>

        </ul>
    </div>

</div>

<!-- Colonne principal-->
<div id="contenu" class="col-sm-9">
<h2>{{ 'Vos informations'|trans }}</h2>


    <dl class="dl-horizontal">
        <dt>{{ 'Nom'|trans }} :</dt>
        <dd>{{ utilisateur.nomFamille }}</dd>

        <dt>{{ 'Prenom'|trans }} :</dt>
        <dd>{{ utilisateur.prenom }}</dd>

        <dt>{{ 'Adresse'|trans }} :</dt>
        <dd>{{ utilisateur.adresse }}<br/>{{ utilisateur.codePostal }} {{ utilisateur.ville }}</dd>

        <dt>{{ 'Email'|trans }} :</dt>
        <dd>{{ utilisateur.email }}</dd>

        <dt>{{ 'Telephone'|trans }} :</dt>
        <dd>{{ utilisateur.telephone }}</dd>



    </dl>

</div>


{% endblock %}

