$(document).ready(
function(){
    conteneur_form = $('form[name={{ form.vars.name }}]')
    nom_formulaire = $(conteneur_form).eq(0).attr('id');
    $("input[name=membre_sortir\\\[adhesion_remboursable\\\]]",nom_formulaire).change(function(){

    valeur = $(this).val();

    if (valeur=='remboursement'){
        $("#membre_sortir_reglement",nom_formulaire).parent().parent().slideDown();
        $("#membre_sortir_reglement",nom_formulaire).parent().parent().prev().slideDown();;
    } else {
        $("#membre_sortir_reglement",nom_formulaire).parent().parent().slideUp();
        $("#membre_sortir_reglement",nom_formulaire).parent().parent().prev().slideUp();
    }

});
    $("input:checked[name=membre_sortir\\\[adhesion_remboursable\\\]]",nom_formulaire).trigger('change');
    $('#{{ form.vars.name }}_reglement_question', conteneur_form ).bootstrapSwitch({
        size: 'mini',
        onText: 'Oui',
        offText: 'Non',
        onColor: 'success',
        offColor: 'info',
        onInit: function () { },
        onSwitchChange: function () {
            if ($(this).bootstrapSwitch('state')) {
                $("#membre_sortir_reglement",nom_formulaire).parent().parent().slideUp('fast')
            }
            else {
                $("#membre_sortir_reglement",nom_formulaire).parent().parent().slideDown();

            }
    }
    });
}
);