chemin_root ='{{ path('homepage') }}';
chemin_web ='{{ app.request.basepath }}';



function getValeur(tab,id,champs){
    if(typeof(id)!= "undefined"){
        if(typeof(tab[id])!= "undefined"){

            if(typeof(champs)!= "undefined"){
                if(typeof(tab[id][champs])!= "undefined") {
                    return tab[id][champs];
                }
                else
                    return '';
            }
            else{
                return tab[id];}
        }
        else
            return '';
    }
    return tab;
}


function getEntite(id,champs){
    tab={{tab('entite')|json_encode|raw}};
    return getValeur(tab,id);
}

function getPrestation(id,champs){
    tab={{tab('prestation')|json_encode|raw}};
    return getValeur(tab,id);
}

function getPrestationType(id){
    tab = {{tab('prestation_type')|json_encode|raw}};
    return getValeur(tab,id);
}

function getInfolettre(id,champs){
    tab = {{tab('infolettre')|json_encode|raw}};
    return getValeur(tab,id);
}

function getTresor(id,champs){
    tab = {{tab('tresor')|json_encode|raw}};
return getValeur(tab,id);
}

function getZonegroupe(id,champs){
    tab = {{tab('zonegroupe')|json_encode|raw}};
return getValeur(tab,id);
}

function getTva(id,champs){
    tab = {{tab('tva')|json_encode|raw}};
    return getValeur(tab,id);
}

function getCarteAdherentEtat(id){
    tab = {{range(0, 4)|transtab('carte_adh_')|json_encode|raw}};
    return getValeur(tab,id);
}

function getCarteAdherentAction(id){
    tab = {{range(0, 4)|transtab('carte_adh_action_')|json_encode|raw}};
    return getValeur(tab,id);
}
