{% extends 'layout.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/wysi.css') }}"/>
    <script src="{{ asset('assets/js/wysi.js') }}"></script>
{% endblock %}
{% set objet_data = charger_objet() %}
{% block content %}

<!-- Colonne principal-->
   <div id="contenu" >

        <div class="box box-default">
            <div class="box-header">
                <h2>{{ page|trans }}</h2>
            </div>
            <div class="box-body">


                <dl class="dl-horizontal">

                    <dt>{{ 'nom'|trans }} :</dt>            <dd>{{ objet_data.Nom }}</dd>

                    <dt>{{ 'valeurs'|trans }} :</dt>    <dd>{{ objet_data.valeurs }}</dd>
                    <dt>{{ 'texte'|trans }} :</dt>    <dd>{{ objet_data.texte }}</dd>
                    <dt>{{ 'canal'|trans }} :</dt>         <dd>{{ objet_data.canal }}</dd>

                </dl>
            </div>
        </div>
 </div>


{% endblock %}

