{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block menu_header_suppl %}
    <a href="{{  path('composition_form',{'action':'import_document'}) }}" class="btn btn-warning">Importer les blocs à partir des fichiers</a>
{% endblock %}
{% block content %}
    <div id="contenu" class="box">
        {% include(fichier_twig('table')) %}
    </div>
{% endblock %}