{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-sm-4">
    <div class="box">
        <div class="box-header">
            <div class="pull-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {class_cplt:'modal_form'}) }}

                    {{ bouton('supprimer') }}
                </div>
            </div>
            {{ 'courrier_numero'|trans }} : {{ objet_data.idComposition }}
            <h2>{{ objet_data.nom }}</h2>


        </div>

    </div>

</div>


<div id="contenu" class="col-sm-8">


    <div class="box">
        <div class="box-header">
            <div class="pull-right">
                <a href="{{ path('composition_form',{'action':'ajouter','id_composition':objet_data.idComposition,'canal':'E'}) }}"
                   class="btn btn-success modal_form">Ajout d'un bloc</a>
            </div>
            <h3>Courriel</h3>
        </div>
        <div class="box-body">
            <ul class="sortable list-unstyled"
                data-href="{{ path('composition_form',{'action':'trier','canal':'L','id_composition':objet_data.getPrimaryKey}) }}">
                {% for bloc_id,bloc in objet_data.blocsEmail %}
                    <li data-id="{{ bloc_id }}">
                        <div class="pull-right">
                            <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        </div>
                        {{ bloc.nom }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="box">
        <div class="box-header">
            <div class="pull-right">
                <a href="{{ path('composition',{'action':'apercu','id_composition':objet_data.idComposition,'canal':'L'}) }}"
                   class="btn btn-success">Apercu PDF</a>
                <a href="{{ path('composition_form',{'action':'ajouter','id_composition':objet_data.idComposition,'canal':'L'}) }}"
                   class="btn btn-success modal_form">Ajout d'un bloc</a>
            </div>
            <h3>Lettre</h3>
        </div>
        <div class="box-body">
        <ul class="sortable list-unstyled"
            data-href="{{ path('composition_form',{'action':'trier','canal':'L','id_composition':objet_data.getPrimaryKey}) }}">
            {% for bloc_id,bloc in objet_data.blocsLettre %}
                <li data-id="{{ bloc_id }}">
                    <div class="pull-right">
                        <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                    </div>
                    {{ bloc.nom }}
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>


    <div class="box">
        <div class="box-header">
            <div class="pull-right">
                <a href="{{ path('composition_form',{'action':'ajouter','id_composition':objet_data.idComposition,'canal':'S'}) }}"
                   class="btn btn-success modal_form">Ajout d'un bloc</a>

            </div>
            <h3>SMS</h3>
        </div>
        <div class="box-body">
            <ul class="sortable list-unstyled"
                data-href="{{ path('composition_form',{'action':'trier','canal':'S','id_composition':objet_data.getPrimaryKey}) }}">
                {% for bloc_id,bloc in objet_data.blocsSMS %}
                    <li data-id="{{ bloc_id }}">
                        <div class="pull-right">
                            <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        </div>
                        {{ bloc.nom }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    {% endblock %}

