{% extends 'layout.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/wysi.css') }}"/>
    <script src="{{ asset('assets/js/wysi.js') }}"></script>
{% endblock %}
{% set objet_data = charger_objet() %}
{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-sm-4">
    <div class="box">
        <div class="box-header">
            <div class="pull-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {class_cplt:'modal_form'}) }}
                    <a id="lien_modifier" data-placement="bottom" title="{{ 'envoyer_courrier'|trans }}" href="{{ path('courrier',{'action':'envoyer_decollage','id_courrier':id, 'format':'pdf' }) }}" class="btn btn-warning  modal_form force-tooltip">
                        <i class="fa fa-send"></i>
                    </a>
                    {{ bouton('supprimer') }}
                </div>
            </div>
            {{ 'courrier_numero'|trans }} : {{ objet_data.idCourrier }}
            <h2>{{ objet_data.nom }}</h2>

            <dl class="dl-horizontal">
                <dt>{{ 'date_creation'|trans }} :</dt>
                <dd>{{ objet_data.createdAt|date("d/m/Y") }}</dd>
                <dt>{{ 'statut'|trans }} :</dt>
                <dd>{{ objet_data.statut }}</dd>
                <dt>{{ 'observation'|trans }} :</dt>
                <dd>{{ objet_data.observation }}</dd>
            </dl>
        </div>

    </div>
    {% if objet_data.valeur is iterable %}
    <div class="box">
        <div class="box-header">
            <h5>Variables</h5>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                {% for k,valeur in objet_data.toutesLesVariables %}
                <dt>{{ k }} :</dt>
                <dd><a class="xeditable" data-url="{{ path('courrier_form',{'action':'variable','id_courrier':objet_data.idCourrier })|raw }}" id="{{ k }}">{{ valeur }}</a></dd>
                {% endfor %}
            </dl>

        </div>
    </div>
    {% endif%}
</div>


    <div id="contenu" class="col-sm-8">
        {% if objet_data.estSms()   %}
        <div class="box">
            <div class="box-header">
                <div class="pull-right">
                    <a href="{{ path('courrier_form',{'action':'ajouter_bloc','id_courrier':objet_data.idCourrier,'canal':'S'}) }}"
                       class="btn btn-success modal_form">Ajout d'un bloc</a>
                </div>
                <h3>Texte du SMS</h3></div>
            <div class="box-body">
                <ul class="sortable list-unstyled">
                {% for bloc_id,bloc in objet_data.blocSms %}
                    <div class="bloc_id clearfix">
                        <div class="pull-right">
                        <a href="{{  path('courrier_form',{'action':'texte','id_courrier':id,'canal':'S','bloc_id':bloc_id})}}" class="btn btn-default modal_form">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Modifier le texte
                        </a>
                        </div>
                            {{ bloc.texte|raw }}
                    </div>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if objet_data.estEmail()   %}

            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <a href="{{  path('courrier_form',{'action':'options_bloc_email','id_courrier':id})}}" class="btn btn-default modal_form">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </a>
                       <a href="{{ path('courrier',{'action':'envoyer_test','id_courrier':id}) }}" class="btn btn-warning modal_form">Envoyer un test</a>
                    </div>
                    <h3>Email</h3></div>



                <div class="box-body">


                    <h4>Sujet</h4>
                    <div class="row-fluid">
                        <div class="col-md-8">
                            <span class="xeditable" data-url="{{ path('courrier_form',{'action':'email_sujet','id_courrier':id}) }}">{{ objet_data.EmailSujet.texte }}</span>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                {% for nom_var,val_var in objet_data.EmailSujet.variables|vars_specifiques %}
                                    <li class="">
                                        {{ nom_var }} : <a class="xeditable" data-url="{{ path('courrier_form',{'action':'variable','canal':'email_sujet','id_courrier':objet_data.idCourrier })|raw }}" id="{{ nom_var }}">{{  val_var }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                     </div>
                    <div class="clearfix"></div>
                    <hr/>
                    <div class="pull-right">
                        <a href="{{ path('courrier_form',{'action':'ajouter_bloc','id_courrier':objet_data.idCourrier,'canal':'E'}) }}"
                           class="btn btn-sm btn-success modal_form">Ajout d'un bloc</a>
                    </div>
                    <h4>Les blocs de texte</h4>
                    <ul class="sortable list-unstyled" data-href="{{ path('courrier_form',{'action':'trier','canal':'E','id_courrier':objet_data.getPrimaryKey}) }}">
                    {% for bloc_id,bloc in objet_data.blocEmail %}
                        <li class="bloc_id clearfix"  data-id="{{ bloc_id }}">
                            <div class="row-fluid ">
                                <div class="col-md-8 clearfix">
                                    <div class="pull-right">
                                        <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                                        <a href="{{  path('courrier_form',{'action':'texte','id_courrier':id,'canal':'E','bloc_id':bloc_id})}}" class="btn btn-default modal_form">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Modifier le texte
                                        </a>
                                    </div>
                                {{ bloc.texte|raw }}
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        {%  set variables = bloc.variables|vars_specifiques %}
                                    {% for nom_var,val_var in variables %}
                                    <li class="">
                                        {{ nom_var }} : <a class="xeditable" data-url="{{ path('courrier_form',{'action':'variable','canal':'email','bloc_id':bloc_id,'id_courrier':objet_data.idCourrier })|raw }}" id="{{ nom_var }}">{{  val_var }}</a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    <h4>Les pièces jointes</h4>
                    <ul>
                    {% for pj  in objet_data.PieceJointeEmail %}
                       <li>
                          <a href="{{ path('image',{'id_ged':pj.IdGed}) }}"> <i class="fa fa-file-o"></i> {{ pj.nom }} -  {{ pj.extension }}</a>
                       </li>
                    {% endfor %}
                    </ul>
                    <h5>Ajouter une piece jointe</h5>
                    {{ form(form_upload_piece_jointe) }}



                </div>
            </div>
        {% endif %}


        {% if objet_data.estLettre()   %}
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <a href="{{ path('courrier_form',{'action':'ajouter_bloc','id_courrier':objet_data.idCourrier,'canal':'L'}) }}"
                           class="btn btn-success modal_form">Ajout d'un bloc</a>
                       <a id="lien_modifier" title="Apercu" href="{{ path('courrier',{'action':'imprimer','id_courrier':id}) }}" class="btn btn-warning force-tooltip modal_form">
                            <i class="glyphicon glyphicon-eye"></i> Apercu
                        </a>
                        <a id="lien_modifier" title="Apercu" href="{{ path('courrier',{'action':'imprimer','id_courrier':id,'format':'pdf'}) }}" class="btn btn-warning force-tooltip">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Apercu PDF
                        </a>
                    </div>
                    <h3>Texte de la lettre</h3>
                </div>
                <div class="box-body">
                    <ul class="sortable list-unstyled" data-href="{{ path('courrier_form',{'action':'trier','canal':'L','id_courrier':objet_data.getPrimaryKey}) }}">
                    {% for bloc_id,bloc in objet_data.blocLettre %}

                        <li class="bloc_id clearfix" data-id="{{ bloc_id }}">
                            <div class="row-fluid ">
                                <div class="col-md-9 clearfix">

                            <div class="pull-right">
                                <a class="xeditable" data-type="select" data-source="{'hautdepage': 'hautdepage','corp': 'corp','basdepage': 'basdepage'}" data-url="{{ path('courrier_form',{'action':'position_bloc','id_courrier':objet_data.idCourrier })|raw }}" id="{{ bloc_id }}">{{ bloc.position }}</a>

                                <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>

                                <a href="{{  path('courrier_form',{'action':'condition','id_courrier':id,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-default modal_form">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    Condition d'affichage
                                </a>
                                <a href="{{  path('courrier_form',{'action':'style','id_courrier':id,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-default modal_form">
                                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                    Ajuster le style
                                </a>
                                <a href="{{  path('courrier_form',{'action':'texte','id_courrier':id,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-default modal_form">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Modifier le texte
                                </a>
                                <a data-href="{{  path('courrier_form',{'action':'supprimer_bloc','id_courrier':id,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-danger" data-confirm="Etes vous sur de supprimer ce bloc ?">
                                    <i class="fa fa-trash-o"  aria-hidden="true"></i>
                                </a>
                            </div>
                            <h4>{{ bloc_id }}</h4>
                            {{ bloc.texte|raw }} </div>
                                <div class="col-md-3">
                                <ul class="list-unstyled">
                                    {%  set variables = bloc.variables|vars_specifiques %}
                                    {% for nom_var,val_var in variables %}
                                        <li class="">
                                            {{ nom_var }} : <a class="xeditable" data-url="{{ path('courrier_form',{'action':'variable','canal':'lettre','bloc_id':bloc_id,'id_courrier':objet_data.idCourrier })|raw }}" id="{{ nom_var }}">{{  val_var }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            </div>

                        </li>
                    {% endfor %}
                        </ul>
                </div>
            </div>
        {% endif %}


        <div class="box">

            <div class="box-header">
                <div class="pull-right">
                    <a href="{{  path('courrierlien_form',{'id_courrier':objet_data.idCourrier,'objet':'membre'})}}" class="btn btn-success modal_form">Ajout de membre</a>
                    <a href="{{  path('courrierlien_form',{'id_courrier':objet_data.idCourrier,'objet':'individu'})}}" class="btn btn-success modal_form">Ajout d'individu</a>

                </div>
                    <h3>Les destinataires</h3></div>
            <div class="box-body">
               {% include 'com/courrierlien_table.html.twig' with {objet:'courrierlien' ,tab_col:tab_col_courrierlien,tab_filtre:{},filtres_statiques:{id_courrier:id}} only %}
            </div>
        </div>



{% endblock %}

