{% include('inclure/table_dyn.html.twig') with{'objet':'courrierlien','tab_col':tab_col,'options':{'redirection':true},'tab_filtres':donneTabFiltre('courrierlien'),'filtres_statiques':filtres_statiques} only %}
