{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block menu_header_suppl %}
    <a href="{{  path('infolettre_form',{'action':'import_spip'}) }}" class="btn btn-warning">Importer la liste des infolettres depuis SPIP</a>
{% endblock %}
{% block content %}
    <div id="contenu" class="box">
        {% include(fichier_twig('table')) %}
    </div>
{% endblock %}