{% extends 'layout.html.twig' %}
{% block content %}
<div  class="col-sm-4">
       <table class="table table-striped super_tableau">
            <thead>
            <tr>
                <th>ID</th>
                <th><h3>{{ 'individus'|trans }}   {{ 'autorisés'|trans }}</h3></th>
                <th></th>
            </tr>
            </thead>
            {% set objet_en_cours = _self|trouverObjet %}
            {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
            {% for objet_data in charger_tab_objet({'objet':'individu','roles_niveaux':roles_niveaux,'roles_profils':roles_profils,'groupe':'autorisation','tab_enfant':tab_enfant}) %}
                <tr>
                    <td>{{ objet_data.IdIndividu }} </td>
                    <td>{{ objet_data.Nom }}</td>
                    <td class="text-right">

                        {% if  autoriser('G4') or autoriser('C4') or autoriser('A4')%}
                            {{ bouton('modifier',{ objet:objet,'id':objet_data.getIdIndividu ,'cle':'id_individu'} ) }}
                        {% endif %}
                         {% if  autoriser('A5') %}
                            {{ bouton('supprimer',{objet:objet,'id':objet_data.getIdIndividu ,'cle':'id_individu','action':'supprimer'}) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

           </table>
</div>
{% endblock %}