{% set objet_en_cours = _self|trouverObjet %}
<table class="table table-striped super_tableau">
    <thead>
    <tr>
        {#<th>{{ 'ID'|trans }}</th>#}
        <th>{{ 'entite'|trans }}</th>
        <th>{{ 'profil'|trans }}</th>
        <th>{{ 'niveau'|trans }}</th>
        <th>{{ 'restrictions'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for objet_data in charger_enfant_direct( objet_bloc) %}
        <tr>
            {#<td>{{ objet_data.idAutorisation }}</td>#}
            <td>{{ tab('entite.'~objet_data.idEntite~'.nom') }}</td>
            <td>{{ objet_data.profil|getProfil(objet_data.profil) }}</td>
            <td>{{ objet_data.niveau|getNiveau(objet_data.niveau) }}</td>
            <td>{{ tab('restriction.'~objet_data.idRestriction~'.nom') }}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.getIdIndividu ,'cle':'id_saisie','args':{'redirect':"individu"}}) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>