{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    {% block contenu %}
        <!-- Colonne principal-->
        {% block formulaire %}
            {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
            <h4> {{ objet|trans}} </h4>
             {{ form(form) }}
            <script></script>

         {% endblock %}

    {% endblock %}
{% endblock %}
