{% extends 'layout.html.twig' %}

{% block content %}
    <div id="contenu" class="col-sm-6">
        <h3>{{ objet_action|trans }}
            {% if modification is defined %}

                <dd>{{ objet_data.nom }}
                    {{ objet_data.idEntite|getNomEntite }}
                    {{ objet_data.IdIndividu|getNomIndividu() }}
                </dd>
            {% endif %}

        </h3>
        {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
        {#{{ form(form, {action:retour_form }) }}#}
        {{ form(form ) }}
        {% if tab_btn_popup is defined %}
            <button type="button">
                <li>
                    <a class=" {{ tab_btn_popup['popup_saisie']['class'] }}  "
                       data-toggle="modal"
                       data-target="#lien_html_btn_resultat">
                        <span class="{{ tab_btn_popup['popup_saisie']['ico'] }}" aria-hidden="true"></span>
                        {{ tab_btn_popup['popup_saisie']['label'] }}
                    </a>
                </li>
            </button>
        {% endif %}
    </div>
    {% if tab_btn_popup is defined %}
        {% set param = tab_btn_popup['popup_saisie'] %}
        {% set param = param|merge({'id':'lien_html_btn_resultat'}) %}
        {% include 'inclure/modal.html.twig' with param %}
    {% endif %}

{% endblock %}
