{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}

{% block content %}
    <div id="contenu">
        <div class="box box-default">
            <div class="box-header">
                {#<h2 class="box-title">{{ objet_action|trans }}</h2>#}
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{{ 'nom'|trans }} :</dt>
                    <dd>{{ objet_data.nom }}</dd>
                    <dt>{{ 'entite'|trans }} :</dt>
                    <dd>{{ objet_data.idEntite|getNomEntite }}</dd>
                    <dt>{{ 'observation'|trans }} :</dt>
                    <dd>{{ objet_data.observation }}</dd>
                    <dt>{{ 'cree_le'|trans }} :</dt>
                    <dd>{{ objet_data.createdAt|date('d/m/Y') }}
                    </dt>
                    <dt>{{ 'modifie_le'|trans }} :</dt>
                    <dd>
                    {{ objet_data.updatedAt|date('d/m/Y') }}</dt>
                    <dt>{{ 'variables affiche'|trans }} :</dt>
                    <dd>{{ arbre(objet_data.valeur) }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}

