{% set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
{% set filtreindividu  = 'individu' %}
{% if autoriser('G4') %}{% set filtreindividu = '' %}{% endif %}


<table class="table table-striped super_tableau">
    <thead>
    <tr>
        <th>{{ 'id'|trans }}</th>
        <th>{{ 'nom'|trans }}</th>
        <th>{{ 'entite'|trans }}</th>
        <th>{{ 'observation'|trans }}</th>
         <th></th>
    </tr>
    </thead>

     {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'groupe':filtreindividu,'tab_enfant':tab_enfant}) %}
        <tr>
            <td>{{ objet_data.idconfig }}</td>
            <td>{{ objet_data.nom }}</td>
            <td>{{ objet_data.idEntite|getNomEntite }}</td>
            <td>{{ objet_data.observation }}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {% if  autoriser('G4') %}
                        {#{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}
                        {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}

</table>

