{% extends 'layout.html.twig' %}
{#{% set active = 'accueil' %}#}

{% block content %}
<div id="contenu" class="col-sm-3 offset-sm-2">

        <img src="{{ app.request.basepath }}/images/construction.gif" alt='En construction'>

    <div><strong>En construction</strong></div>
</div>
{% endblock %}

