{% extends 'layout.html.twig' %}
{% set section = 'cotisation_liste' %}
{% set active = 'cotisations_ajout' %}


{% block content %}

    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-2">
        <div class="informations">

                <dd>{{ 'cotisations_nouvelles'|trans }}</dd>

        </div>

        <div class="back">
            <a href='{{ path('cotisation_liste') }}' class="btn btn-default">{{ 'retour_liste'|trans }}</a>
            <a href='{{ path('membre_liste') }}'
               class="btn btn-default">{{ 'membre_liste_retour'|trans }}</a>
        </div>
    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-10">

            {% form_theme form 'Form/bootstrap.html.twig' %}
            {{ form_start(form, {style: 'horizontal','label_col': 2, 'widget_col': 10 ,action:  path('cotisation_masse_form')} ) }}


        <fieldset class="fieldset_cotisation">
            <legend>Enregistrement d'une cotisation</legend>
            {{ form_row(form.id_membres) }}
            {{ form_row(form.id_entite) }}
            {{ form_row(form.id_prestation) }}
            {{ form_row(form.montant) }}
            <div class="row">
                <div class="col-lg-4">
                    {{ form_row(form.date_debut,{ 'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(form.date_fin,{ 'label_col': 2, 'widget_col': 10}) }}
                </div>
            </div>
            {{ form_row(form.observation) }}
            {#{{ form_row(form.prochaines) }}#}
            {% if not servicerendu.idServicerendu is  defined %}
                {{ form_row(form.reglement_question) }}
            {% endif %}

        </fieldset>

        {% if not servicerendu.idServicerendu is defined %}

            <fieldset class="fieldset_reglement">
                <legend>Réglement</legend>
                {{ form_row(form.reglement.montant) }}
                {{ form_row(form.reglement.id_tresor) }}
                {{ form_row(form.reglement.date_cheque) }}
                {{ form_row(form.reglement.date_enregistrement) }}
                {{ form_row(form.reglement.observation) }}
                <div class="row">
                    <div class="col-lg-4">
                        {{ form_row(form.date_debut,{ 'label_col': 6, 'widget_col': 6}) }}
                    </div>
                    <div class="col-lg-3">
                        {{ form_row(form.date_fin,{ 'label_col': 2, 'widget_col': 10}) }}
                    </div>
                </div>
            </fieldset>
        {% endif %}
        {{ form_end(form) }}


        <script type="application/javascript">

            var combinaison = {{ tab_prochaines_cotisations|json_encode|raw }}
                    $("#form_reglement_question").bootstrapSwitch({
                        size:'mini',
                        onText:'Oui',
                        offText:'Non',
                        onColor:'success',
                        offColor:'info',


                        onInit: function() {},
                        onSwitchChange:function(){
                            if($(this).bootstrapSwitch('state')){
                                $(".fieldset_reglement").slideUp('fast');
                            }
                            else {
                                $(".fieldset_reglement").slideDown(); }
                        }
                    });



            $('#form_id_entite input').change(function () {
                var id_entite = $(this).val();

                $('#form_id_prestation label').hide();
                $('#form_id_prestation input').removeAttr('checked');

                for (id_prestation in combinaison[id_entite]) {
                    $('#form_id_prestation input[value=' + id_prestation + ']').parent().show();
                    // $('#form_id_prestation input[value='+id_prestation+']')

                }
                $('#form_id_prestation input:visible:first').prop('checked', true);
                $('#form_id_prestation input:checked').trigger("change");
            });

            $('#form_id_prestation input').change(function () {
                var id_entite = $('#form_id_entite input:checked').val();
                if (id_entite === undefined)
                    id_entite =$('#form_id_entite').val();

                var id_prestation = $(this).val();

                var pres = combinaison[id_entite][id_prestation]
                $('#form_date_debut').val(pres['date_debut'])
                $('#form_date_fin').val(pres['date_fin'])
                var montant = donnePrix(pres['prix'], pres['date_debut'])
                $('#form_montant').val(montant)
                $('#form_reglement_montant').val(montant)
            });


            $('#form_date_debut input').change(function () {
                var id_entite = $('#form_id_entite input:checked').val();
                var id_prestation = $('#form_id_entite input:checked').val();

                var pres = combinaison[id_entite][id_prestation]
                var montant = donnePrix(pres['prix'], pres['date_debut'])
                $('#form_montant').val(montant)
                $('#form_reglement_montant').val(montant)
            });

            $('#form_id_entite input:checked').trigger("change");

            $('#form_date_debut input').trigger("change");


            function donnePrix(grille_prix, st_date) {
                var pattern = '`(\d{2})/(\d{2})/(\d{4})`';
                var date = new Date(st_date.replace(pattern, '$3-$2-$1'));
                var tdate = date.getDay();
                m = grille_prix[0].montant

                for (var i = 1; i < grille_prix.length; i++) {
                    if (tdate > grille_prix[i].date_fin)
                        break;
                    m = grille_prix[i].montant;
                }

                return m


            }
        </script>
    </div>
{% endblock %}
