{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}

<!-- Colonne de gauche-->
<div id="aside" class="col-sm-4">

    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ico ico-entite"></i></span>

        <div class="info-box-content">
            <div class="pull-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {'id_entite':id,'class_cplt':'modal_form'}) }}
                    {{ bouton('supprimer',{'id_entite':id}) }}
                </div>
            </div>
            <span class="info-box-text">{{ objet_data.IdEntite }}</span>
            <span class="info-box-number">{{ objet_data.nom }}</span>
            <span class="info-box-number">{{ objet_data.nomcourt }}</span>

            {% if objet_data.ville %}
                <div class="pull-left">
                    <a href="{{ path('carte',{objet:'entite','action':'positionner','id': objet_data.IdEntite}) }}"
                       class="btn modal_form modal-large{% if not objet_data.estGeoreference  %} text-danger{% endif %}" id="btn_carte{{ objet_data.IdEntite }}"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="el npai">
                    {{ objet_data.adresse }}<br/>
                    {{ objet_data.codePostal }} {{ objet_data.ville }}
                </div>
            {% endif %}
            {% if objet_data.email %}
                <div class="el npai">
                    {{ objet_data.email|lien_courriel }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="box box-default logo">
        <div class="box-header">
            <h5> {{ 'Logo'|trans }} </h5>
        </div>
        <div class="box-body">
            {{ image_mini('entite',objet_data.IdEntite)|raw }}
        </div>
    </div>


    <div class="box box-default informations">
        <div class="box-header">
            <h5> {{ 'Informations'|trans }}
            </h5>
        </div>
        <div class="box-body">
        <dl class="dl-horizontal">

            <dt>{{ 'creation'|trans }}:</dt>
            <dd>{{ objet_data.createdAt|date('d/m/Y') }} par {{ objet_data.getQuiCree|getNomIndividu }}</dd>
            {% if objet_data.createdAt!=objet_data.updatedAt %}
                <dt>{{ 'modification'|trans }}:</dt>
                <dd>{{ objet_data.updatedAt|date('d/m/Y') }}
                    par {{ objet_data.getQuiModifie|getNomIndividu }}</dd>
            {% endif %}
        </dl>
        </div>
    </div>
</div>


<!-- Colonne principal-->
<div id="contenu" class="col-sm-8">

        {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}

