{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ 'nomcourt'|trans }}</th>
        {#<th>{{ 'ID'|trans }}</th>#}
        <th>{{ 'Nom'|trans }}</th>
        <th></th>
    </tr>
    </thead>
     {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
        <tr>
            <td>{{ objet_data.nomcourt }}</td>
            {#<td>{{ objet_data.idEntite }}</td>#}
            <td>{{ objet_data.nom }}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">


                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
