{% extends 'layout'~layout_cplt~'.html.twig' %}
{#{% extends 'layout.html.twig' %}#}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        <p>
            <a href="{{ path('preferences',{'pref':'membre_import'|url_encode,'redirect':'membre_liste','a_suivre': 'import_membre'}) }}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-asterisk"></span> Options de l'import
            </a>
            {#<a href='{{  path('preferences',{'pref':'membre_import','retour':'statistique'})}}'#}
            {#class="btn btn-default">#}
            {#<span class="glyphicon glyphicon-asterisk"></span> Options des statitisques#}
            {#</a>#}
        </p>
    </div>
    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">


        {% block  contenu %}
            {% block formulaire %}
                <h4>
                    {{ sac('objet_action')|trans }}

                </h4>
                {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
                {{ form(form) }}
                <script type="application/javascript">

                    $("document").ready(function () {
                        initialisation_composant_form('form[name=import]');
                    });

                </script>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
