{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet('individu') %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        <div class="info-box">
            {% set tab_infolettre=tab('infolettre') %}
            {% include('asso/fiche/individu.html.twig')with{'individu':objet_data,'tab_infolettre':tab_infolettre} only %}
        </div>

        <div class="box box-default informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    {% if objet_data.url %}
                        <dt>{{ 'observation'|trans }}</dt>
                        <dd>{{ objet_data.observation }}</dd>
                    {% endif %}
                    {% if objet_data.url %}
                        <dt>{{ 'URL'|trans }} :</dt>
                        <dd>{{ objet_data.url }}</dd>
                    {% endif %}
                    <dt> {{ "Accepte d'étre contacté"|trans }} :</dt>
                    <dd>{% if objet_data.ContactSouhait() %}
                            oui
                        {% else %}
                            non
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>

        {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}

        <div class="back">
            <a href='{{ path(objet~'_liste') }}' class="btn btn-default">{{ 'retour_liste'|trans }}</a>
        </div>

    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">


        {% set membres = objet_data.membre  %}

        <div class="box box-default">
            <div class="box-header">
                <div class="btn-group btn-group-sm pull-right" role="group">
                    <a href="{{ path('membre_form',{'action':'ajoute_titularise'}) }}"></a>
                    {% if membres is empty %}
                        <a class="btn btn-success bt-sm" href="{{ path('membre_form',{'action':'ajoute_titularise','titularise':objet_data.IdIndividu,'redirect':url_courante }) }}">{{ 'membre_ajouter_titularise'|trans }}</a>
                    {% endif %}
                    <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>
                </div>
                <h3 class="box-title">{{ 'membre_liste'|trans }}</h3>
            </div>

            <div class="box-body">
                <div class="container_fluid">
                    {% if membres is not empty %}
                            {% for membre in membres %}

                            {#{% set mot_cle = membre.afficheMots() %}#}
                            <div class="col-md-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
                                    <div class="info-box-content">
                                        <div class="col-md-5">
                                            membre : {{ membre.IdMembre }}
                                            {% if membre.civilite %} - {{ membre.civilite }}{% endif %}</span>
                                             <span class="info-box-number">{{ membre.nom }}</span>
                                            {% if conf('module.adhesion') and pref('adhesion.affichage')%}
                                                {% if membre.estSorti %}
                                                    Sorti le {{ membre.dateSortie|date('d/m/Y') }}
                                                {% endif %}
                                            {% endif %}
                                            <div>
                                            {% if tab('module.adhesion')=='oui' and pref('adhesion.affichage')=='oui' %}
                                                <strong> {{ 'etat'|trans }}</strong>
                                                {% if membre.etatAdhesion %}{{ 'Adherent'|trans }}
                                                {% else %}{{ 'Non adherent'|trans }}
                                                {% endif %}
                                            {% endif %}<br/>

                                            <strong> {{ 'cotisation'|trans }}</strong> {% if membre.etatCotisation %}OK{% else %}Echu{% endif %}
                                            <br/>
                                            <strong>{{ 'servicerendu'|trans }}</strong> {{ membre.servicerenduMontant|number_format(2, '.', ' ') }}
                                            € depuis
                                            le {{ pref('solde.amj_servicerendu').format('d/m/Y') }}<br/>
                                            <strong>{{ 'paiement'|trans }}</strong> {{ membre.paiementMontant|number_format(2, '.', ' ') }}
                                            € depuis
                                            le {{ pref('solde.amj_paiement').format('d/m/Y') }}<br/>
                                            {% if (membre.servicerenduMontant - membre.paiementMontant>=0.01) %}
                                                {{ 'solde'|trans }}: {{ (membre.paiementMontant-membre.servicerenduMontant)|number_format(2, '.', ' ') }}
                                                <br/>
                                            {% endif %}
                                            {% if ( membre.servicerenduMontant - membre.paiementMontant >=0.01) %}
                                                {{ 'soldenegatif'|trans }} : {{ ((membre.servicerenduMontant-membre.paiementMontant)|number_format(2, '.', ' ')) }}€
                                                <br/>
                                            {% endif %}
                                        </div>

                                        {% set mot_cle = membre.getMots() %}
                                        <div class="el mot">

                                            <strong> {{ 'mot'|trans }} </strong>:
                                            {% if mot_cle is not empty %}
                                                <ul class="list-inline inline">
                                                    {% for mot in mot_cle %}
                                                        <li>{{ tab('mot.'~mot~'.nom') }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                Aucun
                                            {% endif %}
                                            {{ bouton('tagguer',{'action':'tagguer','id_objet': membre.IdMembre ,'objet': 'membre','redirect':url_courante}) }}
                                        </div>


                                        </div>
                                        <div class="col-md-6">

                                            {% set tab_ind = membre.individus %}
                                            <table class="table table-striped">
                                                <caption>{{ tab_ind|length }} individus</caption>

                                                {% for ind in tab_ind %}
                                                      {% if ind.IdIndividu == membre.IdIndividuTitulaire %}
                                                        {% set id_titulaire = membre.IdIndividuTitulaire %}
                                                        {% set statut_titulaire = 'Titulaire' %}
                                                     {% else %}
                                                         {% set id_titulaire = 0 %}
                                                         {% set statut_titulaire = ' ' %}
                                                     {% endif %}

                                                    <tr><td><a href="{{path('individu',{id_individu:ind.IdIndividu})  }}">{{ ind.IdIndividu }}-{{ ind.Nom }}</a> {{ statut_titulaire }}</td></tr>
                                                {% endfor %}
                                            </table>

                                            {% set tab_stat = membre.Stat %}
                                            <ul>
                                                {% for type,nb in tab_stat %}
                                                    {#{% if conf('module.'~type) %}#}
                                                     <li>{{ nb }} {{ type }}</li>
                                                    {#{% endif %}#}
                                                {% endfor %}
                                            </ul>

                                        </div>

                                        <div class="col-md-1">
                                            <div class="btn-group-vertical" role="group">
                                                {% set id_titulaire = 0 %}
                                                {% for ind in tab_ind %}
                                                    {% if ind.IdIndividu == membre.IdIndividuTitulaire %}
                                                        {% set id_titulaire = membre.IdIndividuTitulaire %}
                                                     {% endif %}
                                                {% endfor %}
                                                {{ bouton('voir', {'objet':'membre', 'id':membre.idMembre}) }}
                                                {{ bouton('ajouter',{'objet':'individu' ,'cle':'id_membre','id':membre.idMembre,'title':'membre_ajouter_individu'|trans,redirect:url_courante }) }}
                                                {{ bouton('modifier', {'objet':'membre','id':membre.idMembre,'class_cplt':'modal_form','redirect':url_courante}) }}
                                                {{ bouton('supprimer',{'objet':'membre','id':membre.idMembre,'redirect':url_courante}) }}
                                                {% if conf('module.adhesion') %}
                                                    {% if not membre.estSorti %}
                                                        {{ bouton('sortir',{'action':'sortir','id_membre':membre.idMembre,'class_cplt':'modal_form'}) }}
                                                    {% else %}
                                                        <a href="{{ path('membre_form',{'action':'reprendre','id_membre':membre.idMembre}) }}"
                                                           data-confirm="{{ 'texte_modal_reprendre'|trans }}"
                                                           class="btn btn-success force-tooltip"
                                                           title="{{ 'membre_reprendre'|trans }}">
                                                            <i class="fa fa-sign-in"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>


                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        {% else %}
                            Cet individu n'est pas adhérent
                        {% endif %}
                </div>
            </div>
        </div>


        {% if conf('module.newsletter') %}
            {% if objet_data.email %}

                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-envelope-o"></i> {{ 'Newsletters'|trans }}</h3>
                    </div>

                    <div class="box-body">

                        <ul class="list-inline">
                            {% set tab_inscription = objet_data.getIdInfolettreInscrit() %}

                            {% for nl in tab('infolettre') %}
                                <li>
                                    {% if nl.id_infolettre in tab_inscription|keys %}
                                        <a href="{{ path('individu_form',{'action':'newsletter_unsubscribe','id_liste':nl.id_infolettre,'id_individu':objet_data.IdIndividu}) }}"
                                           class="btn btn-primary" title="Désincription">{{ nl.nom }}</a>
                                    {% else %}
                                        <a href="{{ path('individu_form',{'action':'newsletter_subscribe','id_liste':nl.id_infolettre,'id_individu':objet_data.IdIndividu}) }}"
                                           class="btn btn-default" title="Inscription">{{ nl.nom }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% include('inclure/table_bloc_servicerendu.html.twig') with {'filtres_statiques':{id_individu:objet_data.primaryKey}} only %}

        {% set tab_bloc = ['paiement','autorisation'] %}
        {#{% set tab_bloc = [] %}#}
        {% for objet_bloc in tab_bloc %}
            {% include('inclure/table_bloc.html.twig') with{'charger_data':true,'dyn':false,'objet_bloc':objet_bloc,'filtres_statiques':{ id_individu: objet_data.primaryKey}} only %}
        {% endfor %}
    </div>
    <script type="application/javascript">
        $('document').ready(function () {
            initialisation_modal_infolettre();
            initialisation_infolettre();
            initialisation_npai();
        })
    </script>
{% endblock %}

