{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
<div id="contenu" class="box">
    <div id="super_tableau_{{ objet }}">
        <nav class="navbar navbar-default ">
            <div class="container-fluid">

                {% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres,'selection':true} only %}


                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="{{ path('carte',{objet:'individu','selection':'courante'}) }}" class="btn btn-modal modal-large" id="btn_carte"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="btn-group">
                        <a href="{{ path('preferences',{'pref':'individu.export'|url_encode,'redirect': path('individu_liste',{'action':'export_individu'})}) }}"
                           class="btn modal_form">
                            <span class="glyphicon glyphicon-export"></span> Exporter
                        </a>
                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='{{ path('preferences',{'pref':'individu_export'|url_encode,'redirect':path('individu_liste',{'action':'export_vcard'})}) }}'
                                   class="modal_form">
                                    <span class="glyphicon glyphicon-export"></span>Vcard simple
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="btn-group">
                        <a href="{{ path('preferences',{'pref':'imprimante.etiquette.individu'|url_encode,'redirect':path('individu_liste',{'action':'etiquettes'})}) }}"
                           class="btn modal_form">
                            <span class="fa fa-print" aria-hidden="true"> </span> Imprimer des étiquettes
                        </a>
                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='{{ path('preferences',{'pref':'imprimante.etiquette','redirect':'individu_liste'}) }}'
                                   class="modal_form">
                                    dimensions {{ 'etiquettes'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>


            {% include('inclure/table_col.html.twig') with{'tab_col':tab_col,class : 'ajaxdatatable'} only %}

    </div>
</div>
    {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet,'tab_col':tab_col,'tab_filtres':tab_filtres} only %}
<script>
    $(document).ready(function(){

        initialisation_champs_autocomplete_geo($('#super_tableau_{{ objet }}'),'toto');
        initialisation_selection();


    })

</script>
{% endblock %}
