{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    {% block contenu %}
        <div id="contenu" class="col-sm-8">
            <div class="box-body">
            {% block formulaire %}
                <h3> {{ titre }}   </h3>
                {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.recherche_membre) }}
                {{ form_row(form.recherche_individu) }}
                {{ form_row(form.id_membre) }}
                {{ form_row(form.id_individu) }}
                {{ form_label(form.submit) }}
                {{ form_end(form) }}


                <script type="application/javascript">
                        $(document).ready(function () {
                            membre_form('form[name=form_membre]')
                            initialisation_composant_form_membre(conteneur_form,'form_membre');

                     });
                </script>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}