{% set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}
    {% set tab_enfant = false %}
{% endif %}
{% if tab is not defined %}
    {% set tab = charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
{% endif %}
<div class="box-header">
    <table class="table table-striped super_tableau_membre">
        <thead>
        <tr>
            <th>{{ 'ID'|trans }}</th>
            <th>{{ 'nom'|trans }}</th>
            <th>{{ 'mobile/telephone'|trans }}</th>
            <th>{{ 'ville'|trans }}</th>
            <th>{{ 'email'|trans }}</th>
            <th>{{ 'action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for objet_data in tab %}
            <tr>
                <td>{{ objet_data.idMembre }}</td>
                <td>{{ objet_data.nom }}</td>
                <td>{{ objet_data.getIndividuTitulaire.getTelephones|raw }}</td>
                <td>{{ objet_data.getIndividuTitulaire.getcodePostal|raw }}
                {{ objet_data.getIndividuTitulaire.getVille|raw }}</td>
                <td>{{ objet_data.getIndividuTitulaire.getEmail|raw }}</td>

                <td class="text-right">
                    <div class="btn-group" role="group" aria-label="...">
                        {{ bouton('voir',{'sans_texte':true, objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                        {{ bouton('modifier',{'sans_texte':true, objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                        {{ bouton('supprimer',{'sans_texte':true, objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>

