{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
 {% block menu_header_suppl %}
     {% if tab('prestationslot') is not empty %}
         <li>
             {{ bouton('ajouter',{'bt_texte':true,'bouton_id':'lien_servicerendu_ajouter','nom':'Ajout d\'un lot de prestation','objet':'servicerendu','url':path('servicerendu_form',{lot:true,'id_membre':objet_data.IdMembre})}) }}
         </li>
     {% endif %}
 {% endblock %}

{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_membre':id,'class_cplt':'modal_form'}) }}

                       <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                type="button"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="text-right">
                                {{ bouton('supprimer',{'id_membre':id,'bt_texte':true,'bt_texte_gauche':'true','class':'force-tooltip'}) }}
                            </li>

                                {% if not objet_data.estSorti %}
                                    <li class="text-right">
                                        {{ bouton('sortir',{'action':'sortir','id_membre':id,'title':'supprimer ce membre','class_cplt':'modal_form','bt_texte':true,'bt_texte_gauche':'true','class':'force-tooltip'}) }}
                                    </li>
                                {% else %}
                                    <li class="text-right">
                                        <a data-href="{{ path('membre_form',{'action':'reprendre','id_membre':id}) }}"
                                        data-confirm="{{ 'texte_modal_reprendre'|trans }}"
                                        class=" force-tooltip"
                                        title="{{ 'membre_reprendre'|trans }}">
                                        <i class="fa fa-sign-in"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="text-right">
                                    {% set titre = 'membre_fusion'|trans~' : '~objet_data.nom~' '~id~'avec'|trans %}
                                    {{ bouton('fusion',{'action':'fusion','id_membre':id,'title':titre,'bt_texte_gauche':'true','bt_texte':true,'args':{'titre':titre,'ajax':'choisir'},'redirect':url_courante,'class':'force-tooltip'}) }}
                                </li>

                        </ul>
                    </div>
                </div>
                <span class="info-box-text">
                    {% set tab_id_mot = objet_data.getMots() %}
                    {% set carte_adherent = tab_id_mot|carte_adherent_etat %}
                     {% if conf('carte_adherent.actif') and conf('carte_adherent.objet')=='membre' %}
                         <a class="carte_adherent carte_adherent_mini"
                            data-href="{{ path('membre_form',{action:'carte_adherent','id_membre':id }) }}"
                            title="{{ ('carte_adh_'~carte_adherent)|trans }}" data-toggle="tooltip">
                                            <span class="label label-sm label-carte{{ carte_adherent }}"><i
                                                        class="fa fa-id-card-o" aria-hidden="true"></i></span>
                         </a>
                     {% endif %}
                    {{ objet_data.IdMembre }}
                    {% if objet_data.civilite %} - {{ objet_data.civilite }}{% endif %}
                </span>


                <span class="info-box-number">{{ objet_data.nom }}</span>
                   {% if objet_data.estSorti %}
                        <span class="label label-danger">Sorti le {{ objet_data.dateSortie|date('d/m/Y') }}</span>
                    {% endif %}
                <div>
                    {% if tab('module.adhesion')=='oui' and pref('adhesion.affichage')=='oui' %}
                    <strong> {{ 'etat'|trans }}</strong>
                    {% if objet_data.etatAdhesion %}{{ 'Adherent'|trans }}
                    {% else %}{{ 'Non adherent'|trans }}
                    {% endif %}
                    {% endif %}<br/>

                    <strong> {{ 'cotisation'|trans }}</strong> {% if objet_data.etatCotisation %}OK{% else %}Echu{% endif %}
                    <br/>
                    <strong>{{ 'servicerendu'|trans }}</strong> {{ objet_data.servicerenduMontant|number_format(2, '.', ' ') }}
                    € depuis
                    le {{ pref('solde.amj_servicerendu').format('d/m/Y') }}<br/>
                    <strong>{{ 'paiement'|trans }}</strong> {{ objet_data.paiementMontant|number_format(2, '.', ' ') }}
                    € depuis
                    le {{ pref('solde.amj_paiement').format('d/m/Y') }}<br/>
                    {% if (objet_data.servicerenduMontant - objet_data.paiementMontant>=0.01) %}
                        {{ 'solde'|trans }}: {{ (objet_data.paiementMontant-objet_data.servicerenduMontant)|number_format(2, '.', ' ') }}
                        <br/>
                    {% endif %}
                    {% if ( objet_data.servicerenduMontant - objet_data.paiementMontant >=0.01) %}
                        {{ 'soldenegatif'|trans }} : {{ ((objet_data.servicerenduMontant-objet_data.paiementMontant)|number_format(2, '.', ' ')) }}€
                        <br/>
                    {% endif %}
                </div>

                {% set mot_cle = objet_data.getMots() %}
                <div class="mot">

                    <strong> {{ 'mot'|trans }} </strong>:
                    {% if mot_cle is not empty %}
                        <ul class="list-inline inline">
                            {% for mot in mot_cle %}
                                <li>{{ tab('mot.'~mot~'.nom') }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Aucun
                    {% endif %}
                    {{ bouton('tagguer',{'action':'tagguer','id_objet': id ,'objet': objet,'redirect':url_courante}) }}
                </div>


                {% if objet_data.observation is not empty %}
                    <div class="remarque">
                        <strong>{{ 'observation'|trans }}</strong> :
                        {{ objet_data.observation|raw }}
                    </div>
                {% endif %}

            </div>
        </div>


        <div class="box box-default informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
            </div>
            <dl class="dl-horizontal">
                {% if objet_data.identifiantInterne %}
                    <dt>{{ 'identifiant_interne'|trans }}:</dt>
                    <dd>{{ objet_data.identifiantInterne }}</dd>
                {% endif %}
            </dl>
        </div>

        {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}

    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">


        <div class="box box-default">
            <div class="box-header">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    {{ bouton('ajouter',{'bt_texte':true,'objet':'individu' ,'cle':'id_membre','id':objet_data.IdMembre,redirect:url_courante}) }}
                        <div class="btn-group " role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item btn" href="{{ path('membre_form',{'action':'recopier_adresse','id_membre':objet_data.idMembre,'redirect':url_courante}) }}">Recopier l'adresse du titulaire</a>
                            </div>
                        </div>
                    <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>

                </div>
                <h3 class="box-title">{{ 'individu_liste'|trans }}</h3>
            </div>

            <div class="box-body">
                {% set tab_infolettre=tab('infolettre') %}
                <div class="container_fluid">

                    {% for individu in objet_data.individus %}
                        <div class="col-md-6">
                            <div class="info-box">
                                {% include('asso/fiche/individu.html.twig')with{'individu':individu,'membre':objet_data,tab_infolettre:tab_infolettre} only %}
                            </div>
                        </div>
                        {% if loop.index % 2 == 0 %}
                            <div class="clearfix"></div>{% endif %}
                    {% endfor %}
                </div>


            </div>
        </div>

        {% include('inclure/table_bloc_servicerendu.html.twig')with{'filtres_statiques':{id_membre:objet_data.primaryKey}} only %}

        {% set tab_bloc = ['paiement'] %}
        {% for objet_bloc in tab_bloc %}
            {% include('inclure/table_bloc.html.twig') with{'dyn':false,'charger_data' : true,'objet_bloc':objet_bloc,'filtres_statiques':{ id_membre: objet_data.primaryKey}} only %}
        {% endfor %}

    </div>
    <script type="application/javascript">
        $('document').ready(function () {
            initialisation_membre();
            {% set declencheur = declencheur()%}
            {% if declencheur is not empty  %}
                $('#lien_{{ declencheur }}_ajouter').trigger('click');
            {% endif %}
        })
    </script>



{% endblock %}

