{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}


    {% block contenu %}
        <!-- Colonne principal-->
        <div id="contenu" class="col-sm-8">
            <div class="box-header"></div>
            <div class="box-body">


                {% block formulaire %}
                    {% set mode_saisie = 'tortue' %}
                    {% if pref('membre.mode_saisie')==1 %}
                        {% set mode_saisie = 'lievre' %}
                    {% endif %}

                    {% form_theme form with ['form_large.html.twig'] %}
                    {{ form_start(form, {style: 'horizontal','label_col': 3, 'widget_col': 9,'attr':{'class':mode_saisie} }) }}

                    {{ form_row(form.id_individu) }}
                    {{ form_row(form.mode_individu) }}




                    <ul class="nav nav-tabs" id="tab_mode_individu">
                        <li class="active" data-value="existant" role="presentation">
                            <a data-toggle="tab" href="#existant">{{ 'individu_existant'|trans }}</a>
                        </li>
                        <li class="nouvel" data-value="nouvel" role="presentation">
                            <a data-toggle="tab" href="#nouvel">{{ 'individu_nouvel'|trans }}</a>
                        </li>
                    </ul>



                    <div class="tab-content" id="tab_content_mode_individu">
                        <div id="existant" class="tab-pane">
                            {{ form_row(form.recherche_individu) }}
                        </div>
                        <div id="nouvel" class="tab-pane fade  in  active">
                            {% include('form/individu.html.twig') with {'form':form} only %}
                        </div>
                    </div>

                    {% if nouveau_membre %}
                    <div class="form-group">
                        {% include('form/membre.html.twig') with {'form':form,saisie_nom:saisie_nom} only %}
                    </div>
                    {% endif %}


                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ form_label(form.submit) }}
                        </div>
                        {% if not modification %}
                            <div class="col-sm-6">
                                {{ form_widget(form.submit) }}
                                {% if pref('membre.enchainement')=='sr_cotisation' and conf('module.cotisation') %}
                                    {{ form_widget(form.submit_cotisation) }}
                                {% elseif pref('membre.enchainement')=='sr_adhesion' and conf('module.adhesion') %}
                                    {{ form_widget(form.submit_adhesion) }}
                                {% elseif pref('membre.enchainement')=='servicerendu' %}
                                    {{ form_widget(form.submit_servicerendu) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    {{ form_end(form) }}


                    <script type="application/javascript">
                        $(document).ready(function () {

                            conteneur_form = $('form[name=form_membre]');
                            //   membre_form('form[name=form_membre]')

                            //       initialisation_composant_form_individu(conteneur_form,'form_membre');

                              //  initialisation_composant_form_individu_liaison(conteneur_form,'form_membre');


                            membre_form(
                                    'form[name=form_membre]',
                                    '{{ path('membre_form',{'action':'generer_nomcourt','nom':''})|raw }}',
                                    '{{ path('individu_form',{'action':'generer_login','nom':''})|raw }}',
                                    {
                                        'champs_nomcourt': {% if conf("champs.membre.nomcourt") %} true {% else %}
                                        false {% endif %}
                                    }
                            );
                        });

                    </script>
                {% endblock %}

            </div>
        </div>
    {% endblock %}
{% endblock %}