{% extends 'layout'~layout_cplt~'.html.twig' %}
 {% block breadcrumb %}
     <ol class="breadcrumb">
         <li>
             <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'accueil'|trans }}</a>
         </li>
         <li>
             <a href="{{ path('motgroupes') }}">{{ 'motgroupes'|trans }}</a>
         </li>
         <li>
             {{ 'mot'|trans }}
         </li>
     </ol>
 {% endblock %}

{% set objet_data = charger_objet() %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        {#<div id="contenu" >#}
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-tag"></i></span>

            <div class="info-box-content">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_mot':id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_mot':id}) }}
                            {% set titre = 'mot_fusion'|trans~' : '~objet_data.nom~' '~id~'avec'|trans %}
                            {{ bouton('fusion',{'action':'fusionner','id_membre':id,'title':titre,'redirect':url_courante,'class_cplt':'force-tooltip'}) }}

                    </div>
                </div>
                {% set motgroupe_nom =  tab('motgroupe.'~objet_data.idMotgroupe) %}
                <dl class="dl-horizontal descriptif">
                    <span class="info-box-number">{{ objet_data.IdMot }}</span>
                    <span class="info-box-text">{{ objet_data.nom }}</span>
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.Descriptif }}</dd>
                    {#<dt>{{ 'texte'|trans }} :</dt>#}
                    {#<dd>{{ objet_data.Texte }}</dd>#}
                    <dt>{{ 'motgroupe'|trans }} :</dt>
                    <dd>
                        <a href="{{ path('motgroupes') }}#motgroupe{{ objet_data.idMotgroupe }}">
                            {{ objet_data.idMotgroupe }} - {{ tab('motgroupe.'~objet_data.idMotgroupe~'.nom') }}
                        </a>
                    </dd>

                </dl>
            </div>
        </div>
        <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'information'|trans }}
                </h5>
            </div>
            <dl class="dl-horizontal">

                <dt>{{ 'creation'|trans }}:</dt>
                <dd>{{ objet_data.createdAt|date('d/m/Y') }}
                    {#par {{ objet_data.getQuiCree|getNomIndividu }}#}
                </dd>
                {% if objet_data.createdAt!=objet_data.updatedAt %}
                    <dt>{{ 'modification'|trans }}:</dt>
                    <dd>{{ objet_data.updatedAt|date('d/m/Y') }}
                        {#par {{ objet_data.getQuiModifie|getNomIndividu }}#}
                    </dd>
                {% endif %}
            </dl>

        </div>


    </div>
    <div id="contenu" class="col-sm-8">

        {% set tab_bloc = ['individu','membre'] %}
        {#{% set tab_bloc = [] %}#}
        {% for objet_bloc in tab_bloc %}
            {% include('inclure/table_bloc.html.twig') with{'charger_data':true,'dyn':true,'objet_bloc':objet_bloc,'filtres_statiques':{ 'mots': objet_data.primaryKey}} only %}
        {% endfor %}

    </div>
{% endblock %}
