{% set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped super_tableau">
    <thead>
    <tr>
        {#<th>{{ 'iD'|trans }}</th>#}
        <th>{{ 'nomcourt'|trans }}</th>
        <th>{{ 'nom'|trans }}</th>
        <th>{{ 'desriptif'|trans }}</th>
        {#<th>{{ 'texte'|trans }}</th>#}
        <th>{{ 'Groupe'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
    {#{% for objet_data in charger_tab_objet({objet:objet_en_cours}) %}#}
        {#,'id_filtre':objet_data.idMotgroupe#}
        <tr>
            {#<td>{{ objet_data.IdMot }}</td>#}
            <td>{{ objet_data.Nomcourt }}</td>
            <td>{{ objet_data.Nom }}</td>
            <td>{{ objet_data.Descriptif }}</td>
            {#<td>{{ objet_data.Texte }}</td>#}
            <td>{{ objet_data.idMotgroupe|getNomMotparent }} </td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">


                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>