{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        {#<div id="contenu" >#}
        <div class="box box-default">
            <div class="box-header">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_motgroupe' :id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_motgroupe':id}) }}
                    </div>
                </div>
                <dl class="dl-horizontal">
                    <span class="info-box-text">Numero {{ objet_data.IdMotgroupe }}</span>
                    <span class="info-box-number">{{ objet |trans }} :{{ objet_data.nom }}</span>
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.Descriptif }}</dd>
                    {#<dt>{{ 'texte'|trans }} :</dt>#}
                    {#<dd>{{ objet_data.Texte }}</dd>#}
                    {#<dt>{{ 'options'|trans }} :</dt>#}
                    {#<dd>{{ objet_data.Options }}</dd>#}
                    <dt>{{ 'objetenlien'|trans }} :</dt>
                    <dd>{{ objet_data.ObjetsEnLien }}</dd>

                </dl>
            </div>
        </div>
        <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'information'|trans }}  </h5>
            </div>
            <dl class="dl-horizontal">

                <dt>{{ 'creation'|trans }}:</dt>
                <dd>{{ objet_data.createdAt|date('d/m/Y') }}
                    {#par {{ objet_data.getQuiCree|getNomIndividu }}#}
                </dd>
                {% if objet_data.createdAt!=objet_data.updatedAt %}
                    <dt>{{ 'modification'|trans }}:</dt>
                    <dd>{{ objet_data.updatedAt|date('d/m/Y') }}
                        {#par {{ objet_data.getQuiModifie|getNomIndividu }}#}
                    </dd>
                {% endif %}
            </dl>

        </div>
    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">

        <div class="box box-default">
            <div class="box-header">
                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                    {{ bouton('ajouter',{'bt_texte':true,'objet':'mot' ,'cle':'id_motgroupe','id':objet_data.PrimaryKey,'redirect':url_courante}) }}
                    <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>
                </div>
                <h3 class="box-title">{{ 'mot_liste'|trans }}</h3>
            </div>

            <div class="box-body">

                {% include('inclure/table_dyn.html.twig') with{'objet':'mot','tab_col':donneTabCol('mot'),'tab_filtres':donneTabFiltre('mot'),'filtres_statiques':{'id_motgroupe':objet_data.PrimaryKey}} only %}
            </div>
        </div>
    </div>
{% endblock %}

