{% extends 'layout.html.twig' %}
{% block menu_header_suppl %}
    {{ bouton('ajouter',{'objet':'motgroupe','bt_texte':true,'url_redirect':url_courante}) }}
{% endblock %}
{% block content %}
    <div id="contenu" class="col-sm-2">
        <nav id="spy" class=" hidden-print hidden-sm hidden-xs" data-spy="affix" data-offset-top="60"
             data-offset-bottom="200">
            <ul class="nav nav-pills nav-stacked left-menu">
                {% for k,nom  in choix %}
                    <li><a href="#motgroupe{{ k }}">{{ nom }}</a></li>
                {% endfor %}
            </ul>
        </nav>


    </div>
    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-10">
        {% for k,nom  in choix %}
            {% set mg = tab('motgroupe.'~k) %}


            <div class="box panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="...">
                            {{ bouton('modifier', {'objet':'motgroupe','id' :k,'class_cplt':'modal_form'}) }}
                            {{ bouton('supprimer',{'objet':'motgroupe','id':k}) }}
                        </div>
                    </div>

                    <h3 id="motgroupe{{ k }}" class="panel-title">{{ nom }}</h3>
                </div>
                <div class="box-body">

                    {% include('asso/fiche/motgroupe.html.twig') with  { 'mg': mg } only %}

                </div>
            </div>




        {% endfor %}

        {% if tab_mots_orphelins is not empty %}

        <div class="box panel-default">
            <div class="panel-heading">

                <h3 id="mots_orphelins" class="panel-title">Mots orphelins</h3>
            </div>
            <div class="box-body">
                <ul class="list-inline groupe_mot">
                    {% for id_mot  in tab_mots_orphelins %}
                        {% set mot = tab('mot.'~id_mot) %}
                        <li><a href="{{ path('mot',{'id_mot':id_mot}) }}">{{ mot['nom'] }}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        {% endif %}

        <script type="application/javascript">

            $("document").ready(function () {


                /*Menu-toggle*/
                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("active");
                });

                /*Scroll Spy*/
                $('body').scrollspy({target: '#spy', offset: 80});

                /*Smooth link animation*/
                $('#spy a[href*=#]:not([href=#])').click(function () {

                        var target = $(this.hash);
                        target = target.length ? target : $('[id=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }

                });

            });

        </script>
    </div>

{% endblock %}