{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
    <div id="aside" class="col-sm-4">
        <div class="box box-default">
            <div class="box-header">
                <h2>{{ objet |trans }} : {{ objet_data.idPaiement }}</h2>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    {#<dt>{{ 'ID'|trans }}</dt><dd>{{ objet_data.idPaiement }}</dd>#}
                    <dt>{{ 'date_cheque'|trans }}</dt>
                    <dd>{{ objet_data.Datecheque|localizeddate('medium', 'none', 'fr') }}</dd>
                    <dt>{{ 'date_enregistrement'|trans }}</dt>
                    <dd>{{ objet_data.Dateenregistrement|localizeddate('medium', 'none', 'fr') }}</dd>
                    <dt>{{ 'entite'|trans }}</dt>
                    <dd>{{ objet_data.idEntite|getNomEntite }}</dd>
                    <dt>{{ 'tresor'|trans }}</dt>
                    <dd>{{ objet_data.IdTresor|getNomTresor }}</dd>
                    <dt>{{ 'membre'|trans }}</dt>
                    <dd>{{ objet_data.NomTitulaire }}</dd>
                    <dt>{{ 'montant'|trans }}</dt>
                    <dd>{{ objet_data.Montant }}</dd>
                    <dt>{{ 'remise'|trans }}</dt>
                    <dd>{{ objet_data.remise }}</dd>
                    <dt>{{ 'comptabilise'|trans }}</dt>
                    <dd>{{ objet_data.comptabilise }}</dd>
                    <dt>{{ 'observations'|trans }}</dt>
                    <dd>{{ objet_data.observation }}</dd>
                    <dt>{{ 'cree_le'|trans }}</dt>
                    <dd>{{ objet_data.createdAt|localizeddate('medium', 'none', 'fr') }}</dd>
                    <dt>{{ 'modifie_le'|trans }}</dt>
                    <dd>{{ objet_data.updatedAt|localizeddate('medium', 'none', 'fr') }}</dd>
                </dl>
            </div>
        </div>


    {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}

  </div>
    <div id="contenu" class="col-sm-8">
        {% include( descr('servicerendu.source')~descr('servicerendu.twig.table')~'.html.twig' ) with {'filtres_statiques':{'id_paiement':objet_data.idPaiement}} %}
    </div>
{% endblock %}

