{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block content %}
    <div id="contenu" class="col-md-12">
        <div class="box">
            <div id="super_tableau_{{ objet }}">
                <nav class="navbar navbar-default ">
                    <div class="container-fluid">
                        {% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres} only %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="{{ documentation_lien('Remises-en-banque','toto') }}" target="_blank"
                                   class="btn "><i class="fa fa-book" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="{{ path('preferences',{'pref':'paiement|export','redirect':path('paiement_liste',{'action':'remise0'})}) }}"
                                   class="modal_form">
                                    <span class="glyphicon glyphicon-th-list"></span> {{ 'remise_en_bamque'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('preferences',{'pref':'paiement|edition_comptabilise','redirect':path('paiement_liste',{'action':'remise1'})}) }}"
                                   class="modal_form">
                                    <span class="glyphicon glyphicon-ok"></span> {{ 'edition_comptabilise'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="box-body">
                    {% include('inclure/table_col.html.twig') with{'tab_col':tab_col,class : 'ajaxdatatable'} only %}
                </div>
            </div>
            {#{% set tab_col_exclure= ['created_at'] %}#}
            {#{% set tri =['date_enregistrement','desc'] %}#}
            {#{% set tab_col = donneTabCol('servicerendu')|exclure_cles(tab_col_exclure) %}#}
            {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet,'tab_col':tab_col,'tab_filtres':tab_filtres} only %}
        </div>
    </div>

{% endblock %}
