<div class="table-actions">
    {% set objet_en_cours = _self|trouverObjet %}
    {% if tab_enfant is not defined %}
        {% set tab_enfant = false %}
    {% else %}
        {%  set objet_en_cours = tab_enfant %}{% endif %}

    <div class="box box-default">
        <div class="box-header">
            {% set nom_prestation_type_liste =nom_objet~'_liste' %}
            <h3 class="box-title">  {{ nom_prestation_type_liste|trans }}</h3>
            <div class="pull-right">
                {{ bouton('ajouter',{'bouton_id':'ajouter_'~nom_objet,
                    'nom':nom_objet~'_ajouterxx',
                    'bt_texte':true,
                    'objet':nom_objet,
                    'cle': descr(objet~'.cle'),
                    'id': id ,
                    'prestation_type':id_prestation_type}) }}
                <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>
            </div>
        </div>


        <div class="box-body">


            {% set tri =['date_enregistrement','desc'] %}
            {#{% set tab_col = donneTabCol('paiement')|exclure_cles(tab_col_exclure) %}#}
            {% include('inclure/table_sta.html.twig') with{'objet_bloc':nom_objet,'charger_data':true,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':filtres_statiques } only %}


        </div>

    </div>
</div>

