{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block content %}
    <!-- Colonne de gauche-->
    {% block aside %}
        <div id="aside" class="col-sm-3">
        <div class="informations">
            <dl>
                {% if modification %}
                    <dt>{{  'Numero de paiement'|trans }} :  {{ id }} </dt>
                <a class='lien_fiche' href="{{ path(objet,{'id_paiement':objet_data.idPaiement}) }}">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    {{  'Voir la fiche'|trans }} {{ objet|trans }}
                </a>
                <a class='lien_fiche' href="{{ path(objet_data.objet,{'id_membre':objet_data.IdObjet}) }}">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    {{  'Voir la fiche '|trans }} {{ 'membre'|trans }}
                </a>
            {% else %}
                <dd >{{  'Nouveau'|trans }}</dd>
            {% endif %}
           </dl>
        </div>
        <div class="back">
            <a href='{{  path(objet~'_liste')}}' class="btn btn-default">{{'retour_liste'|trans }}</a>
        </div>
    </div>
    {% endblock %}
    {% block contenu %}
        <div id="contenu" class="col-sm-8">

            <div class="box box-default">
                {% if objet_action is defined and objet_action is not empty %}
                    <div class="box-header">
                        <h2 class="box-title">{{ objet_action|trans }}</h2>
                    </div>
                {% endif %}
                <div class="box-body">

                    {% block formulaire %}
                    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

                     {{ form_start(form, {style: 'horizontal','label_col': 3, 'widget_col': 9  }) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.objet) }}
                    {{ form_row(form.id_objet) }}
                    {% if form.id_entite is  defined %}
                    {{ form_row(form.id_entite) }}
                    {% endif %}
                    {{ form_row(form.id_tresor) }}
                    {{ form_row(form.montant) }}


                    <div class="form-group">
                        {{ form_label(form.date_cheque) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.date_cheque) }}
                        </div>
                        {{ form_label(form.date_enregistrement) }}
                        <div class="col-sm-4 champs_date_enregistrement">
                            {{ form_widget(form.date_enregistrement) }}
                        </div>
                        {{ form_errors(form.date_cheque) }}
                        {{ form_errors(form.date_enregistrement) }}
                    </div>


                    {{ form_row(form.numero) }}
                    {{ form_row(form.observation) }}
                    {% if form.utilise is  defined %}
                        {{ form_row(form.utilise) }}
                    {% endif %}
                    {% if form.solde is  defined %}
                        {{ form_row(form.solde) }}
                    {% endif %}

                   {{  form_end(form) }}


            </div>
                <script type="application/javascript">

                    var combinaison ={{ tab_combinaisons|json_encode|raw }}
                    var soldes ={{ tab_soldes|json_encode|raw }}
                    var modepaiement ={{ tab_modepaiements|json_encode|raw }}
                    var nom_formulaire = 'form_paiement'
                    var modification= {{ modification }}+0;

                    function donne_id_entite() {
                        var id_entite = $('input[name=' + nom_formulaire + '\\\[id_entite\\\]]:checked').val();
                        if (id_entite === undefined)
                            id_entite = $('#' + nom_formulaire + '_id_entite').val();
                        return id_entite
                    }

                    $("document").ready(function () {

                        initialisation_composant_form('form[name=form_paiement]');
                        var jq_form = $('form[name=' + nom_formulaire + ']').eq(0);
                        $('input[name=' + nom_formulaire + '\\\[id_entite\\\]]', jq_form).change(function () {
                            var id_entite = $(this).val();

                            if (!modification) {
                                var selecteur_tresor = 'input[name=' + nom_formulaire + '\\\[id_tresor\\\]]'
                                $(selecteur_tresor, jq_form).parent().hide();
                                $(selecteur_tresor, jq_form).removeAttr('checked');
                                for (id_tresor in modepaiement[id_entite]) {
                                    $(selecteur_tresor + '[value=' + id_tresor + ']').parent().show();
                                }
                                $(selecteur_tresor + ':visible:first', jq_form).prop('checked', true);
                                $(selecteur_tresor + ':checked', jq_form).trigger("change");
                                var selecteur_utilise = 'input[name=' + nom_formulaire + '\\\[utilise\\\]\\\[\\\]]'
                                $(selecteur_utilise, jq_form).parent().parent().hide();
                                $(selecteur_utilise, jq_form).removeAttr('checked');
                                for (temp in soldes[id_entite]) {
                                    $(selecteur_utilise + '[value=' + temp + ']').parent().parent().show();
                                }
                                var selecteur_solde = 'input[name=' + nom_formulaire + '\\\[solde\\\]\\\[\\\]]'
                                $(selecteur_solde, jq_form).parent().parent().hide();
                                $(selecteur_solde, jq_form).removeAttr('checked');
                                for (temp in soldes[id_entite]) {
                                    $(selecteur_solde + '[value=' + temp + ']').parent().parent().show();
                                }
                            }
                         });
                        $('input[name=' + nom_formulaire + '\\\[id_entite\\\]]:checked').trigger("change");

                    })

                </script>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
