{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}

{% block content %}

<!-- Colonne de gauche-->
<div id="aside" class="col-sm-4">
    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-gift"></i></span>

        <div class="info-box-content">
            <div class="pull-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {'id_membre':id,'class_cplt':'modal_form'}) }}
                    {{ bouton('supprimer',{'id_membre':id}) }}


                </div>
            </div>
            <span class="info-box-text">{{ objet_data.primaryKey }}</span>
            <span class="info-box-number">{{ objet_data.nom }}</span>
            <dl class="dl-horizontal">
                <dt>{{ 'montant'|trans }} :</dt>
                <dd>{{ objet_data.montant }}</dd>
                <dt>{{ 'observation'|trans }} :</dt>
                <dd>{{ objet_data.Observation }}</dd>
            </dl>
    </div>
    </div>
</div>


<!-- Colonne principal-->
<div id="contenu" class="col-sm-8">

    <div class="box box-default">
        <div class="box-header">
            <h3>{{ 'prestation_liste'|trans }} </h3>
        </div>
        <div class="box-body">
            {{  bouton('ajouter', { 'url': path('prestationslot_form',{action:'ajouter_prestation','id_prestationslot':objet_data.primaryKey}),'bt_texte':true}) }}
            <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Type de prestation'|trans }}</th>
                <th>{{ 'nom'|trans }}</th>
                <th>{{ 'quantite'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for lien in objet_data.PrestationslotPrestations %}
                <tr>
                    <td>{{ tab('prestation.'~lien.idPrestation~'.prestation_type_nom') }}</td>
                    <td>{{ tab('prestation.'~lien.idPrestation~'.nom') }}</td>
                    <td>{{ lien.quantite }}</td>
                    <td>
                        <div class="btn-group" role="group" >
                        {{ bouton('modifier', { 'url': path('prestationslot_form',{action:'ajouter_prestation','id_prestationslot':objet_data.primaryKey})}) }}
                        {{ bouton('supprimer',{ 'url': path('prestationslot_form',{action:'supprimer_prestation','id_prestation':lien.idPrestation,'id_prestationslot':objet_data.primaryKey})}) }}
                            </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        </div>
    </div>
</div>
{% endblock %}

