{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}

{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-sm-6">

    <div class="box box-default">
        <div class="box-body">
            <div class="pull-right">
                 <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {class_cplt:'modal_form'}) }}
                    {#{{ bouton('dupliquer', {class_cplt:'modal_form'}) }}#}
                     {#todo $dupliquer est absent a l'enregistrement voir ligne 24 dans prestation_form.php #}
                    {{ bouton('supprimer') }}
                 </div>
            </div>


                <h2>{{ objet |trans }} : {{ objet_data.nom }}</h2>
                <dl class="dl-horizontal">
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'nom_groupe'|trans }} :</dt>
                    <dd>{{ objet_data.nomGroupe }}</dd>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.Descriptif }}</dd>
                    <dt>{{ 'prestationType'|trans }} :</dt>
                    <dd>{{ tab('prestation.'~objet_data.idPrestation~'.prestation_type_nom') }}</dd>
                    <dt>{{ 'beneficiaire'|trans }} :</dt>
                    <dd>{{ tab('prestation.'~objet_data.idPrestation~'.objet_beneficiaire')|join(',') }}</dd>
                    <dt>{{ 'periodique'|trans }} :</dt>
                    <dd>{{ tab('prestation.'~objet_data.idPrestation~'.libelle') }}</dd>
                    <dt>{{ 'Retard en jours'|trans }} :</dt>
                    <dd>{{ objet_data.retardJours }}</dd>
                    {% if objet_data.prestationType==2 %}
                        <dt>{{ 'nombre_numero'|trans }} :</dt>
                        <dd>{{ objet_data.nombreNumero }}</dd>
                        <dt>{{ 'prochain_numero'|trans }} :</dt>
                        <dd>{{ objet_data.prochainNumero }}</dd>
                    {% endif %}
                    <dt>{{ 'active'|trans }} :</dt>
                    <dd>{{ objet_data.Active|ouinon }}</dd>
                    <dt>{{ 'prixlibre'|trans }} :</dt>
                    <dd>{{ objet_data.Prixlibre|ouinon }}</dd>
                    <dt>{{ 'Compte de recettes'|trans }} :</dt>
                    <dd>{{ objet_data.idCompte|getNomIntitule }} </dd>
                    <dt>{{ 'tva'|trans }} :</dt>
                    <dd>{{ tab('tva.'~objet_data.getidTva~'.nom') }}</dd>
                    <dt>{{ 'quantite'|trans }} :</dt>
                    <dd>{{ objet_data.getquantite|ouinon }}</dd>
                    <dt>{{ 'unite'|trans }} :</dt>
                    <dd>{{ tab('unite.'~objet_data.getidUnite~'.nom') }}</dd>

                </dl>
        </div>
    <div class="back">
        <a href='{{  path(objet~'_liste')}}' class="btn btn-default">{{  'retour_liste'|trans }}</a>
    </div>
</div>
</div>

<!-- Colonne principal-->
<div id="contenu" class="col-sm-6">

    {% set tab_bloc = ['prix'] %}
    {% for objet_bloc in tab_bloc %}
        {% include('inclure/table_bloc.html.twig') with{'objet_bloc':objet_bloc,'filtres_statiques':{'id_prestation':objet_data.idPrestation}} only %}
    {% endfor %}

    </div>
{% endblock %}

