{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}

{% block content %}
<div id="contenu">
    <div class="box box-default">
        <div class="box-header">
            <h3>{{ objet|trans }} </h3>
        </div>
        <div class="box-body">
        <dl class="dl-horizontal">
            <dt>{{ 'date_debut'|trans }} :</dt>
            <dd>{{objet_data.DateDebut|date("d/m/Y") }}</dd>
            <dt>{{ 'montant'|trans }} :</dt>
            <dd>{{ objet_data.Montant }}</dd>
            <dt>{{ 'observation'|trans }} :</dt>
            <dd>{{ objet_data.Observation }}</dd>
        </dl>
    </div>
    </div>
    {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}

