{% set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        {% if entite_multi %} <td>{{ 'entite'|trans }}</td>{% endif %}
        <th>{{ 'nom'|trans }}</th>
        <th>{{ 'date_creation'|trans }}</th>
        <th>{{ 'date_envoi'|trans }}</th>
        <th>{{ 'statut'|trans }}</th>
        <th>{{ 'observation'|trans }}</th>
        <th></th>
    </tr>
    </thead>
     {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
        <tr>
            {% if entite_multi %}<td>{{ objet_data.idEntite|getNomEntite }}</td>{% endif %}
            <td>{{ objet_data.Nom }}</td>
            <td>{{ objet_data.DateEnvoi|date("d/m/Y") }}</td>
            <td>{{ objet_data.CreatedAt|date("d/m/Y") }}</td>
            <td>{{ objet_data.statut }}</td>
            <td>{{ objet_data.observation }}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
