{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-sm-4">
    <div class="box">
        <div class="box-header">
            <div class="pull-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {class_cplt:'modal_form'}) }}

                    <a id="lien_modifier" data-placement="bottom" title="{{ 'envoyer_courrier'|trans }}" href="{{ path('courrier',{'action':'envoyer','id_courrier':id, 'format':'pdf' }) }}" class="btn btn-warning force-tooltip">
                        <i class="fa fa-send"></i>
                    </a>
                    {{ bouton('supprimer') }}
                </div>
            </div>
            {{ 'relance_numero'|trans }} : {{ objet_data.idCourrier }}
            <h2>{{ objet_data.nom }}</h2>

            <dl class="dl-horizontal">
                <dt>{{ 'date_creation'|trans }} :</dt>
                <dd>{{ objet_data.createdAt|date("d/m/Y") }}</dd>
                <dt>{{ 'statut'|trans }} :</dt>
                <dd>{{ objet_data.statut }}</dd>
                <dt>{{ 'observation'|trans }} :</dt>
                <dd>{{ objet_data.observation }}</dd>
            </dl>
        </div>

    </div>
</div>


    <div id="contenu" class="col-sm-8">
        {% if objet_data.estSms()   %}
        <div class="box">
            <div class="box-header"><h3>Texte du SMS</h3></div>
            <div class="box-body">
                {{ objet_data.TexteSMS }}
            </div>
        </div>
        {% endif %}

        {% if objet_data.estEmail()   %}
            <div class="box">
                <div class="box-header"><h3>Texte de l'email</h3></div>
                <div class="box-body">
                    <a href="{{  path('courrier_form',{'action':'texte','id_courrier':id,'canal':'E'})}}" class="btn btn-default modal_form">Modifier le texte</a>

                    <a href="{{ path('courrier',{'action':'envoyer_test','id_courrier':id}) }}" class="btn btn-default modal_form">Envoyer un test</a>
                    <div class="texte">
                        {{ objet_data.SujetEmail|raw }}
                    </div>
                    <div class="texte">
                    {{ objet_data.TexteEmail|raw }}
                    </div>
                </div>
            </div>
        {% endif %}


        {% if objet_data.estLettre()   %}
            <div class="box">
                <div class="box-header"><h3>Texte de la lettre</h3></div>
                <div class="box-body">

                    <a href="{{  path('courrier_form',{'action':'texte','id_courrier':id,'canal':'L'})}}" class="btn btn-default modal_form">Modifier le texte</a>
                    <a id="lien_modifier" title="Apercu" href="{{ path('courrier',{'action':'imprimer','id_courrier':id}) }}" class="btn btn-warning force-tooltip modal_form">
                        <i class="glyphicon glyphicon-eye"></i> Apercu
                    </a>
                    <div class="texte">
                    {{ objet_data.TexteLettre|raw }}
                        </div>
                </div>
            </div>
        {% endif %}


        <div class="box">
            <div class="box-header"><h3>Les destinataires</h3></div>
            <div class="box-body">
                <a href="{{  path('courrierlien_form',{'id_courrier':objet_data.idCourrier,'objet':'membre'})}}" class="btn btn-success modal_form">Ajout de membre</a>
                <a href="{{  path('courrierlien_form',{'id_courrier':objet_data.idCourrier,'objet':'individu'})}}" class="btn btn-success modal_form">Ajout d'individu</a>
                {% include 'asso/courrierlien_table.html.twig' with {tab_col:tab_col_courrierlien} only %}
             </div>
        </div>


{% endblock %}

