{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}

<!-- Colonne de gauche-->
<div id="aside" class="col-sm-4">

    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ico ico-restriction"></i></span>

        <div class="info-box-content">
            <div class="pull-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {'id_restriction':id,'class_cplt':'modal_form'}) }}
                    {{ bouton('supprimer',{'id_restriction':id}) }}
                </div>
            </div>
            <span class="info-box-text"> numéro : {{ objet_data.IdRestriction }}</span>
            <span class="info-box-text"> nom    : {{ objet_data.nom }}</span>
            <span class="info-box-text"> nom_court : {{ objet_data.nomcourt }}</span>
            <span class="info-box-text"> Actif     : {{ objet_data.Actif }}</span>
        </div>

    </div>
            <div class="box box-default informations">
                <div class="box-header">
            <h5> {{ 'Informations'|trans }}
            </h5>
        </div>
        <div class="box-body">
        <dl class="dl-horizontal">

            <dt>{{ 'creation'|trans }}:</dt>
            <dd>{{ objet_data.createdAt|date('d/m/Y') }} par {{ objet_data.getQuiCree|getNomIndividu }}</dd>
            {% if objet_data.createdAt!=objet_data.updatedAt %}
                <dt>{{ 'modification'|trans }}:</dt>
                <dd>{{ objet_data.updatedAt|date('d/m/Y') }}
                    par {{ objet_data.getQuiModifie|getNomIndividu }}</dd>
            {% endif %}
        </dl>
        </div>
    </div>
</div>

 <!-- Colonne principal-->
<div id="contenu" class="col-sm-8">
    <div class="box box-default informations">
        <div class="box-header">
            <h5> {{ 'Filtre'|trans }}{{ ' : ' }}
            </h5>
            {{ arbre(variable) }}
        </div>
    </div>


    {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}

