{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">
        <div class="informations">
            <dl>
                <dt>{{  'Numero d \'individu'|trans }} : </dt>
                {% if modification %}
                    <dd class="numero"> {{ objet_data.IdRestriction }} </dd>
                {% else %}
                    <dd >{{  'Nouveau'|trans }}</dd>
                {% endif %}
            </dl>
            {% if modification %}
                <a class='lien_fiche' href="{{ path(objet,{'id_restriction':objet_data.IdRestriction}) }}">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    {{ 'Voir la fiche'|trans }}
                </a>
            {% endif %}
        </div>

        <div class="back">
            <a href='{{  path(objet~'_liste')}}' class="btn btn-default">{{  'retour_liste'|trans }}</a>
        </div>
    </div>



    {% block contenu %}
    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">
        <div class="box box-default">
            <div class="box-body">
                {#<h2>{{ objet_action|trans }}</h2>#}
                {% block formulaire %}
                        {#déplacé pour dégager le bouton de fermeture#}
                    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}




                     {{ form_start(form, {style: 'horizontal','label_col': 3, 'widget_col': 9 })  }}

                    {{ form(form) }}

                    {{ form_end(form) }}

                {% endblock %}
            </div>
        </div>
    </div>

    {% endblock %}
{% endblock %}
