{% set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped super_tableau">
    <thead>
    <tr>
        <th>{{ 'ID'|trans }}</th>
        <th>{{ 'IDSR'|trans }}</th>
        <th>{{ 'montantservicerendu'|trans }}</th>
        {#<th>{{ 'montantcheque'|trans }}</th>#}
        {#<th>{{ 'montant_utilise'|trans }}</th>#}
        <th>{{ 'IDPA'|trans }}</th>
        <th>{{ 'datecreation'|trans }}</th>
        <th>{{ 'datemodification'|trans }}</th>
        {#&#123;&#35;<th>{{ 'id_servicerendu'|trans }}</th>&#35;&#125;#}
        {#<th>{{ 'nom'|trans }}</th>#}
        {#<th>{{ 'prestationtype'|trans }}</th>#}
        {#<th>{{ 'Du'|trans }}</th>#}
        {#<th>{{ 'Réglé'|trans }}</th>#}
        {#&#123;&#35;<th></th>&#35;&#125;#}
    </tr>
    </thead>

     {% for objet_data in charger_tab_objet({objet:objet_en_cours,'tab_enfant':tab_enfant}) %}
        <tr>
            <td>{{ objet_data.getidServicepaiement }}</td>
            <td>{{ objet_data.idServicerendu }}</td>
            {#<td>{{ objet_data.getServicerendu.getMontant() }}</td>#}
             {#<td>{{ objet_data.getPaiements.getMontant() }}</td>#}
            <td>{{ objet_data.Montant }}</td>
            <td>{{ objet_data.idPaiement }}</td>
            <td>{{ objet_data.CreatedAt|localizeddate('medium', 'none', 'fr') }}</td>
            <td>{{ objet_data.UpdatedAt|localizeddate('medium', 'none', 'fr') }}</td>
             {#<td>{% set membre = objet_data.getMembre() %}{% if membre %}{{ membre.getNom() }}{% endif %}</td>#}

            {# les 3 boutons de droite#}
            {#</td>#}
        </tr>
    {% endfor %}

</table>