{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet('servicerendu') %}
{% block content %}

<div id="aside" class="col-sm-4">

    <div class="box box-default">
        <div class="box-header">
            <h2>{{ objet |trans }} : {{ objet_data.idServicerendu }}</h2>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>{{ 'ID'|trans }}</dt><dd>{{ objet_data.idServicerendu }}</dd>
                <dt>{{ 'date_debut'|trans }}</dt>
                <dd>{{ objet_data.DateDebut|localizeddate('medium', 'none', 'fr') }}</dd>
                <dt>{{ 'date_fin'|trans }}</dt>
                <dd>{{ objet_data.DateFin|localizeddate('medium', 'none', 'fr') }}</dd>
                <dt>{{ 'entite'|trans }}</dt>
                <dd>{{ objet_data.idEntite|getNomEntite }}</dd>
                <dt>{{ 'prestation'|trans }}</dt>
                <dd>{{ objet_data.idPrestation }}  :
                    {{ tab('prestation.'~objet_data.idPrestation~'.nom')}} :
                    {{ tab('prestation.'~objet_data.idPrestation~'.prestation_type_nom')}}</dd>
                <dt>{{ 'membre'|trans }}</dt>
                <dd>{% set membre = objet_data.getMembre() %}{% if membre %}{{ membre.getNom() }}{% endif %}</dd>
                <dt>{{ 'montant'|trans }}</dt>
                <dd>{{ objet_data.Montant }}</dd>
                <dt>{{ 'regle'|trans }}</dt>
                <dd>{{ objet_data.regle|getRegle }}</dd>
                <dt>{{ 'comptabilise'|trans }}</dt>
                <dd>{{ objet_data.comptabilise|ouinon }}</dd>
                <dt>{{ 'observations'|trans }}</dt>
                <dd>{{ objet_data.observation }}</dd>
            </dl>
        </div>
    </div>

    {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}

</div>


<div id="contenu" class="col-sm-8">

    {% set tab_bloc = ['paiement'] %}
    {% for objet_bloc in tab_bloc %}
        {% include('inclure/table_bloc.html.twig') with{'dyn':false,'charger_data':true,'objet_bloc':objet_bloc,'filtres_statiques':{'id_servicerendu':objet_data.primaryKey}} only %}
    {% endfor %}

</div>
{% endblock %}

