
<div class="table-actions">
    {% set prestation_unique = false %}
    {% set tva_aff = true %}
    {% set quantite_aff = true %}
    {% set periode_aff = true %}


    {% if id_prestation_type is defined %}
        {% set prestation_unique = tab('prestation_type.'~id_prestation_type~'.unique') %}
     {% set tva_aff = tab('prestation_type.'~id_prestation_type~'.tva') %}
     {% set quantite_aff = tab('prestation_type.'~id_prestation_type~'.quantite') %}
     {% set periode_aff = tab('prestation_type.'~id_prestation_type~'.periode') %}
     {% set nom_objet = 'sr_'~nom_prestation_type %}
    {% else %}
        {% set id_prestation_type = 0 %}
        {% set nom_objet = 'servicerendu' %}
    {% endif %}
     {% if tab_enfant is not defined %}
         {% set tab_enfant = false %}{% else %}{%  set objet_en_cours = tab_enfant %}{% endif %}

    <div class="box box-default">
    <div class="box-header">
        {% set nom_prestation_type_liste =nom_objet~'_liste' %}
        <h3 class="box-title">  {{ nom_prestation_type_liste|trans }}</h3>
        <div class="pull-right">
            {{ bouton('ajouter',{'bouton_id':'ajouter_'~nom_objet,
                'nom':nom_objet~'_ajouter',
                'bt_texte':true,
                'objet':nom_objet,
                'cle': descr(objet~'.cle'),
                'id': id ,
                'prestation_type':id_prestation_type}) }}
            <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>
        </div>
    </div>


    <div class="box-body">


        {% set tab_col_exclure= ['beneficiaire'] %}
        {% if prestation_unique %}
            {% set tab_col_exclure = tab_col_exclure|merge(['id_prestation']) %}
        {% endif %}


        {%  if nom_objet =='vente' or nom_objet =='don' or nom_objet =='perte'  %}
            {% set tab_col_exclure = tab_col_exclure|merge(['date_debut','date_fin','created_at']) %}
            {% set tri =[['date_enregistrement','desc']] %}
        {% else %}
            {% set tri =[['date_fin','desc']] %}
            {% set tab_col_exclure = tab_col_exclure|merge(['date_enregistrement']) %}
        {% endif %}
        {% set tab_col = donneTabCol('servicerendu')|exclure_cles(tab_col_exclure) %}
        {% include('inclure/table_sta.html.twig') with{'objet_bloc':nom_objet,'charger_data':true,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':filtres_statiques } only %}


     </div>

    </div>
</div>