{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block content %}
<div id="contenu" class="col-md-12">
    <div class="box">
    <div id="super_tableau_{{ objet }}">
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                {% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres} only %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {%  set pref = objet ~ '|export'  %}
                        <a id="pref_{{ objet }}_export" href="{{ path('preferences',{'pref': pref,'redirect':  path(objet~'_liste',{'action':'export_'~objet})}) }}"
                           class="btn modal_form">
                            <span class="glyphicon glyphicon-export"></span> Exportation vers tableur
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="box-body">
            {% include('inclure/table_col.html.twig') with{'tab_col':tab_col,class : 'ajaxdatatable'} only %}
        </div>
    </div>

    {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet,'tab_col':tab_col,'tab_filtres':tab_filtres} only %}
    </div>
</div>

{% endblock %}
