{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set section = objet~'_liste' %}
{% set prestation_type = sac('alias_valeur') %}


{% block content %}

    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-2">
        {% block aside %}
            <div class="box informations">
                {% if modification %}
                    <dt>{{ objet|trans }}  {{ 'numero'|trans }} :</dt>
                    <dd class="numero"> {{ objet_data.idServicerendu }} </dd>
                    <dt>{{ 'cree_le'|trans }} {{ objet_data.createdAt|date('d/m/Y') }} </dt>
                    <dt> {{ 'modifie_le'|trans }}  {{ objet_data.updatedAt|date('d/m/Y') }}</dt>
                    <dt><a href="{{ path(objet,{'id_servicerendu':objet_data.idServicerendu}) }}">
                        <span class="glyphicon glyphicon-info-sign"
                              aria-hidden="true"></span>
                            {{ 'Voir la fiche'|trans }}
                        </a></dt>

                    <dt><a href="{{ path('membre_form',{'id_membre':objet_data.idMembre}) }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
                            {{ 'ajouter'|trans }}</span></a>
                    </dt>
                    <dt><a href="#" data-href="{{ path('membre_form',
                        {action:'supprimer','id_servicerendu':objet_data.idServicerendu,
                            'id_membre':objet_data.idMembre,
                            'retour_parent':'membre'}) }}"
                           data-toggle="modal" data-target="#confirm-delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                            {{ 'Supprimer'|trans }}
                        </a></dt>
                {% elseif objet_action is defined and objet_action is not empty %}
                    <dd>{{ objet_action|trans }} {{ 'nouveau'|trans }}</dd>
                {% endif %}
            </div>

            <div class="back">
                <a href='{{ path('membre_liste') }}' class="btn btn-default">{{ 'membre_liste'|trans }}</a>
            {% if modification %}
                <a href='{{ path(objet_beneficiaire,{'id_objet':id_objet_beneficiaire,'objet_beneficiaire' : objet_beneficiaire}) }}'
                    class="btn btn-default">{{ 'membre_retour'|trans }}</a>
            {% endif %}
            </div>
        {% endblock %}
    </div>
    {% block contenu %}
        <!-- Colonne principal-->
        <div id="contenu" class="col-sm-10">

        <div class="box box-default">
            {% if objet_action is defined and objet_action is not empty %}
                <div class="box-header">
                    <h2 class="box-title">{{ objet_action|trans }}</h2>
                </div>
            {% endif %}
            <div class="box-body">

                {% block formulaire %}

                    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <fieldset class="fieldset_servicerendu">
                        <div class="panel-group" id="accordion">

                            {% if form.objet_beneficiaire is defined %}
                                {{ form_row(form.objet_beneficiaire) }}
                            {% endif %}
                            {% if form.id_membre is defined %}
                                {{ form_row(form.id_membre) }}
                            {% endif %}
                            {% if form.id_individu is defined %}
                                {{ form_row(form.id_individu) }}
                            {% endif %}

                            {{ form_row(form.id_entite) }}

                            {% if lot %}
                                {{ form_row(form.id_prestationslot) }}
                                {% for i in 0..nb_prestation-1 %}
                                    {% set nom_pr = 'pr'~i %}
                                    {% set form_prestation = form[nom_pr] %}

                                    <div class="panel panel-default panneau_prestation" id="prestation{{ i }}">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse{{ i }}">Prestation {{ i }}</a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{ i }}" class="panel-collapse collapse">
                                            <div class="panel-body">

                                                {% include('inclure/servicerendu_form_line.html.twig' )  with {'form_prestation':form[nom_pr],'modification':modification} %}

                                            </div>
                                        </div>
                                    </div>


                                {% endfor %}
                            {% else %}

                                {% include('inclure/servicerendu_form_line.html.twig'  ) with {'form_prestation':form['pr0'],'modification':modification} %}


                            {% endif %}
                        </div>


                    </fieldset>

                    {% if not modification %}

                    {{ form_row(form.reglement_question) }}

                    <fieldset class="fieldset_reglement">
                        <legend>Réglement</legend>
                        {{ form_row(form.reglement.montant) }}
                        {{ form_row(form.reglement.id_tresor) }}

                        <div class="form-group">
                            {{ form_errors(form.reglement.date_cheque) }}
                            {{ form_errors(form.reglement.date_enregistrement) }}
                            {{ form_label(form.reglement.date_cheque) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.reglement.date_cheque) }}
                            </div>
                            {{ form_label(form.reglement.date_enregistrement) }}
                            <div class="col-sm-4 champs_date_enregistrement">
                                {{ form_widget(form.reglement.date_enregistrement) }}
                            </div>

                        </div>

                        {{ form_row(form.reglement.numero) }}
                        {{ form_row(form.reglement.observation) }}
                        {% if form.reglement.solde is  defined %}
                            {{ form_row(form.reglement.solde) }}
                        {% endif %}
                    </fieldset>
                    {% endif %}
                    {{ form_end(form) }}



                    <script type="application/javascript">


                        var variable_servicerendu_form = {
                            combinaison: {{ tab_prochains_servicerendu|json_encode|raw }},
                            nb_prestation: {{ nb_prestation }},
                            lot: {% if lot %}true{% else %}false{% endif %},
                            {% if lot %}
                            combinaison_lot: {{ tab_prestationslot|json_encode|raw }},
                            {% endif %}
                            objet_beneficiaire:'{{objet_beneficiaire }}',
                            prestation_type:'{{prestation_type }}',
                            soldes:{{ tab_soldes|json_encode|raw }},
                            modepaiement:{{ tab_modepaiements|json_encode|raw }},
                            nom_formulaire: '{{ form_name }}',
                            modification: {{ modification }}+0

                        };

                        init_servicerendu_form(variable_servicerendu_form);

                    </script>
                {% endblock %}
            </div>

        </div>
    {% endblock %}
{% endblock %}