{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
<div id="contenu">

    <div class="box box-default">
        <div class="box-header">
            <h3>{{ 'tresor'|trans }} : {{ objet_data.nom }}</h3>
        </div>
        <div class="box-body">

        <dl class="dl-horizontal">
            <dt>{{ 'nomcourt'|trans }} :</dt>
            <dd>{{ objet_data.Nomcourt }}</dd>
            <dt>{{ 'iban'|trans }} :</dt>
            <dd>{{ objet_data.iban }}</dd>
            <dt>{{ 'bic'|trans }} :</dt>
            <dd>{{ objet_data.bic }}</dd>
            <dt>{{ 'ncompterb'|trans }} :</dt>
            <dd> {{ objet_data.idCompterb|getNomIntitule }}</dd>
            <dt>{{ 'ncompte'|trans }} :</dt>
            <dd>{{ objet_data.idCompte|getNomIntitule }} </dd>
            <dt>{{ 'entite'|trans }} :</dt>
            <dd>{{ objet_data.idEntite }} {{ objet_data.idEntite|getNomEntite }}</dd>
            <dt>{{ 'remise_prochaine'|trans }} :</dt>
            <dd>{{ objet_data.remise }}</dd>
            <dt>{{ 'observation'|trans }} :</dt>
            <dd>{{ objet_data.observation }}</dd>
        </dl>
        </div>
    </div>
    {#{% include('inclure/tab_enfants.twig') %}#}
</div>
{% endblock %}
