{% set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}

    <table class="table table-striped">
    <thead>
    <tr>
        {#<th>{{ 'id'|trans }}</th>#}
        <th>{{ 'nomcourt'|trans }}</th>
        <th>{{ 'nom'|trans }}</th>
        <th>{{ 'ncompte_tiers'|trans }}</th>
        <th>{{ 'ncompte_encaissement'|trans }}</th>
        <th>{{ 'iban'|trans }}</th>
        <th>{{ 'bic'|trans }}</th>
        {% if entite_multi %}
            <th>{{ 'entite_nom'|trans }}</th>
        {% endif %}
        <th>{{ 'remise'|trans }}</th>
        <th>{{ 'observation'|trans }}</th>
        <th></th>
    </tr>
    </thead>
         {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
        <tr>
            {#<td>{{ tresor.IdTresor }}</td>#}
            <td>{{ objet_data.nomcourt }}</td>
            <td>{{ objet_data.nom }}</td>
            <td> {{ objet_data.IdCompte|getNomIntitule }}</td>
            <td> {{ objet_data.IdCompterb|getNomIntitule }}</td>
            <td>{{ objet_data.iban }}</td>
            <td>{{ objet_data.bic }}</td>
            {% if entite_multi %}
                <td>{{ objet_data.idEntite|getNomEntite }}</td>
            {% endif %}
            <td>{{ objet_data.remise }}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">


                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                </div>
            </td>
        </tr>
    {% endfor %}

</table>
