{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}

<!-- Colonne principal-->
   <div id="contenu" >

        <div class="box box-default">
            <div class="box-header">
                <h2>{{ page|trans }}</h2>
            </div>
            <div class="box-body">


    <dl class="dl-horizontal">

        <dt>{{ 'activite'|trans }} :</dt>       <dd>{{ objet_data.Nomcourt }}</dd>

        <dt>{{ 'nom'|trans }} :</dt>            <dd>{{ objet_data.Nom }}</dd>

        <dt>{{ 'observation'|trans }} :</dt>    <dd>{{ objet_data.Observation }}</dd>

        <dt>{{ 'entite'|trans }} :</dt>         <dd>{{ objet_data.idEntite|getNomEntite }}</dd>

    </dl>
            </div>
        </div>
            {% include('inclure/tab_enfants.twig') %}

 </div>


{% endblock %}

