{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}

<table class="table table-striped super_tableau">
	<thead>
	<tr>
		<th>{{ 'id'|trans }}</th>
		<th>{{ 'ncompte'|trans }}</th>
		<th>{{ 'nom'|trans }}</th>
		<th>{{ 'nomcourt'|trans }}</th>
		{#{% if id_poste<=1 %}#}
			<th>{{ 'poste'|trans }}</th>
		{#{% endif %}#}
		<th>{{ 'type_op'|trans }}</th>
		<th>{{ 'solde_anterieur'|trans }}</th>
		<th>{{ 'date_anterieure'|trans }}</th>
		{#{% if  id_entite<1 %}#}
		<th>{{ 'entité'|trans }}</th></td>
		{#{% endif %}#}
		<th>{{ 'Nb ligne'|trans }}</th>
		<th> </th>
	</tr>
	</thead>
	 {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
	<tr>

		<td>{{ objet_data.idCompte }}</td>
		<td>{{ objet_data.ncompte }}</td>
		<td>{{ objet_data.nom }}</td>
		<td>{{ objet_data.nomcourt }}</td>

		{% set poste = objet_data.getPoste() %}
		{% if poste %}
			<td>{{ poste.getNom }}</td>
		{% endif %}
		<td>{{ objet_data.typeOp|getTypeOp }}</td>
		<td>{{ objet_data.soldeAnterieur }}</td>
		<td>{{ objet_data.dateAnterieure|date("d/m/Y") }}</td>
		{#{% if  id_entite<1 %}#}
		<td>{{ objet_data.idEntite }}</td>
		{#<td>{{ tab('entite.'.objet_data.idEntite) }}</td>#}
		{#{% endif %}#}
		<td>{{ objet_data.getcountecritures()}}</td>
		<td class="text-right">
			<div class="btn-group" role="group" aria-label="...">


				{{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

				{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

				{{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
			</div>
		</td>
	</tr>
{% endfor %}

</table>

