{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}

{% block content %}

<div id="aside" class="col-sm-4">

    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
        <div id="contenu" >

        <div class="box box-default">
            <div class="box-header">
                <h2 class="box-title">{{ 'compte'|trans }} : {{ objet_data.ncompte }} - {{ objet_data.nom }}</h2>
            </div>
            <div class="box-body">


                <dl class="dl-horizontal">

                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }} :</dd>
                    <dt>{{ 'poste'|trans }} :</dt>
                    <dd>{{ objet_data.getPoste.getNomcourt() }}</dd>
                    <dt>{{ 'type_op'|trans }} :</dt>
                    <dd>{{ objet_data.typeOp|getTypeOp }}</dd>

                    {% if  (objet_data.soldeAnterieur !=0) %}
                        <dt>{{ 'solde_anterieur'|trans }} :</dt>
                        <dd>
                            {{ objet_data.soldeAnterieur }}
                            {{ 'date_anterieure'|trans }} :
                            {% if  (objet_data.dateAnterieure is defined) %}
                                {{ objet_data.dateAnterieure|date("d/m/Y") }}
                            {% else %}
                                {{ 'à corriger' }}
                            {% endif %}
                        </dd>
                    {% endif %}

                    <dt>{{ 'entite'|trans }} :</dt>
                    <dd>{{ objet_data.idEntite|getNomEntite }}</dd>
                    <dt>{{ 'observation'|trans }} :</dt>
                    <dd>{{ objet_data.observation }}</dd>
                </dl>
            </div>

            </div>
        </div>
        {% if objet_data.observation is not empty %}


        <div class="box box-default informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
            </div>
            <dl class="dl-horizontal">
                <div class="remarque">
                    <strong>{{ 'observation'|trans }}</strong> :
                    {{ objet_data.observation|raw }}
                </div>
            </dl>
        </div>
        {% endif %}

        {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}


        {% include('inclure/tab_enfants.twig') %}
    </div>
</div>

{% endblock %}

