{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped super_tableau">
    <thead>
    <tr>
        {#<th>{{ 'ID'|trans }}</th>#}
        <th>{{ 'Date'|trans }}</th>
        <th>{{ 'Libelle'|trans }}</th>
        <th>{{ 'Debit'|trans }}</th>
        <th>{{ 'Credit'|trans }}</th>
             {#<th>{{ 'Entité'|trans }}</th>#}
        {#{% if id_compte<=1 %}#}
            <th>{{ 'Compte'|trans }} </th>
        {#{% endif %}#}
        {#<th>{{ 'Journal'|trans }} </th>#}
        <th>{{ 'Activite'|trans }}</th>
        {#<th>{{ 'piece'|trans }}</th>#}
        {#<th>{{ 'etat'|trans }}</th>#}
        {#<th></th>#}
    </tr>
    </thead>
    {% set objetligne = 'piece' %}

    {% for ecriture in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant})  %}
        <tr>
            {% set saisie='piece_st_form' %}
            {#{%  set saisie='piece_'~piece.EcranSaisie~'_form' %}#}

            {#<td>{{ ecriture.idEcriture }}</td>#}
            <td>{{ ecriture.dateEcriture|date("d/m/Y") }} </td>
            <td>{{ ecriture.Nom }}</td>
            <td>{{ ecriture.debit }}</td>
            <td>{{ ecriture.credit }}</td>
            <td>{{ ecriture.idCompte|getNomIntitule }} </td>
            <td>{{ ecriture.getActivite.getNomcourt }} {{ ecriture.getActivite.getNom }}</td>
            {#<td>{{ ecriture.idPiece }}</td>#}
            {#<td>{{ ecriture.etat|getEtat }}</td>#}
            {#<td class="text-right">#}
            {# 3 boutons  #}
                 {#{% include('inclure/bti_ligne.twig')with{idligne:ecriture.idPiece } %}#}
            {#</td>#}

        </tr>
    {% endfor %}

</table>
