{% extends 'layout.html.twig' %}

    {% set objet = 'ecriturepiece_ac_form' %}

{% block content %}
    <!-- Colonne de gauche-->


    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-12">

            {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
        {#{% if ecriture.idEcriture is defined %}#}
            {#{{ form(form, {action:  path('ecriturespiece_'~ecriture.EcranSaisie~'_form',{'id_ecriture':ecriture.idEcriture}) }) }}#}
        {#{% else %}#}
            {{ form(form, {action:  retour_form }) }}
         {#{% endif %}#}
	</div>





    <script >

        var data = $.parseJSON($('#form_lignes').val());

        $('#form_lignes').after('<div id="hot-tabe_ecriture"></div>')
        container = $('#hot-tabe_ecriture');
        container.handsontable({
            data: data,
            rowHeaders: true,
            minSpareRows: 1,
            colHeaders: ['id_ecriture', 'jour','libellé','Numéro du Compte','Compte','credit','debit'],
            columns: [
                {data: "IdEcriture", type: 'numeric'},
                {data: "DateEcriture", type: 'date'},
                {data: "Nom", type: 'text'},
                {data: "IdCompte", type: 'dropdown'},
                {data: "ncompte", type: 'text'},
                {data: "Credit", type: 'numeric'},
                {data: "Debit", type: 'numeric'}

            ],
            afterChange: function (change, source) {
                if (source === 'loadData') {
                    return; //don't save this change
                }
                var tmpData = JSON.parse(JSON.stringify(data));
                $('#form_lignes').val(JSON.stringify( tmpData));
                $('#form_lignes_modif').val(1);

            }

        });
        table = $('table');
        var hotInstance = $(container).handsontable('getInstance');

    </script>



{% endblock %}
