{% extends 'layout.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
    <div id="contenu">
        <div class="box box-default">
            <div class="box-header">
                <h3>{{ 'La ligne d\'écriture de la pièce en visu complete de la pièce Ecriture' }}
                </h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{{ 'date_ecriture'|trans }} :</dt>
                    <dd>{{ objet_data.dateEcriture|date('d/m/Y') }}</dd>
                    <dt>{{ 'classement'|trans }} :</dt>
                    <dd>{{ objet_data.classement }} --- {{ 'piece'|trans }} : {{ objet_data.idPiece }}</dd>

                    <dt>{{ 'libelle'|trans }} :</dt>
                    <dd>{{ objet_data.Nom }}</dd>

                    <dt>{{ 'debit'|trans }} :</dt>
                    <dd>{{ objet_data.debit }}</dd>

                    <dt>{{ 'credit'|trans }} :</dt>
                    <dd>{{ objet_data.credit }}</dd>

                    <dt>{{ 'compte'|trans }} :</dt>
                    <dd>{{ objet_data.idCompte|getNomIntitule }}</dd>
                    <dt>{{ 'journal'|trans }} :</dt>
                    <dd>{{ objet_data.getJournal.getJournalnom() }}</dd>
                    <dt>{{ 'activite'|trans }} :</dt>
                    <dd>{{ objet_data.getActivite.getActivitenom() }}</dd>
                    <dt>{{ 'entite'|trans }} :</dt>         <dd>{{ objet_data.idEntite|getNomEntite }}</dd>
                    <dd>------------</dd>
                    <dt>{{ 'Lettrage  '|trans }} :</dt>
                    <dd>{{ objet_data.dateLettrage|date('d/m/Y') }}</dd>
                    <dt>{{ 'etat'|trans }} :</dt>
                    <dd>{{ objet_data.etat|getEtat }}</dd>
                    <dt>{{ 'observation'|trans }} :</dt>
                    <dd>{{ objet_data.observation }}</dd>
                    <dt>{{ 'contrepartie'|trans }} :</dt>
                    <dd>{{ objet_data.contrePartie|nonoui }}</dd>
                </dl>
            </div>
        </div>
        {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}

