{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}

    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">
        {#<div class="box box-default logo">#}
        {#<div class="box-header">#}
        {#<h5> {{ 'Logo'|trans }} </h5>#}
        {#</div>#}
        {#<div class="box-body">#}
        {#{{ image_mini('entite',objet_data.IdEntite)|raw }}#}
        {#</div>#}
        {#</div>#}

        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ico ico-journal"></i></span>

            <div class="info-box-content">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_journal':id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_journal':id}) }}
                    </div>
                </div>

                <span class="info-box-text">{{ objet_data.Nom }}</span>
                <span class="info-box-number">{{ objet_data.IdJournal }}</span>
            </div>
            <div class="btn-group-horizontal">
                <dl class="dl-horizontal">
                    <dt>{{ 'nomcourt'|trans }} :</dt>   <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'compte'|trans }} :</dt> <dd>{{ objet_data.idCompte|getNomIntitule }}</dd>
                    <dt>{{ 'actif'|trans }} :</dt>  <dd>{{ objet_data.actif }}</dd>
                    <dt>{{ 'mouvement'|trans}} :</dt> <dd>{{ objet_data.mouvement }}</dd>
                    <dt>{{ 'entite'|trans }} :</dt> <dd>{{ objet_data.idEntite|getNomEntite }}</dd>
                 </dl>
            </div>
        </div>
        {% if objet_data.observation is not empty %}

            <div class="box box-default informations">
                <div class="box-header">
                    <h3> {{ 'informations'|trans }}</h3>
                </div>
                <dl class="dl-horizontal">
                    <div class="remarque">
                        <strong>{{ 'observation'|trans }}</strong> :
                        {{ objet_data.observation|raw }}
                    </div>
                </dl>
            </div>
        {% endif %}

            {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}
            {% include('inclure/tab_enfants.twig') %}

        </div>
    </div>

    <div id="contenu" >

    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">
        {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}

