{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        {#            <th>{{ 'id'|trans }}</th>#}
        <th>{{ 'nomcourt'|trans }}</th>
        <th>{{ 'nom'|trans }}</th>
        <th>{{ 'compte'|trans }}</th>
        <th>{{ 'actif'|trans }}</th>
        <th>{{ 'mouvement'|trans }}</th>
        <th>{{ 'observation'|trans }}</th>
        {% if entite_multi %}
            <th>{{ 'Entite'|trans }}</th>
        {% endif %}
        <th></th>

    </tr>
    </thead>
     {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
        <tr>

            {#<td>{{ journal.idJournal }}</td>#}
            <td>{{ objet_data.Nomcourt }}</td>
            <td>{{ objet_data.Nom }}</td>
            <td>{{ objet_data.idCompte|getNomIntitule }}</td>
            <td>{{ objet_data.actif|ouinon }} </td>
            <td>{{ objet_data.mouvement }}</td>
            <td>{{ objet_data.observation }}</td>
            {% if entite_multi %}
                <td>{{ objet_data.idEntite }}</td>
            {% endif %}
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">

                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                </div>
            </td>
         </tr>
    {% endfor %}

</table>
{#<div class="table-actions">#}
	{#<a href="{{ path('journal_form',{'id_entite':id_entite}) }}" class="btn btn-success" role="button">{{  'journal_ajout'|trans }}</a>#}
{#</div>#}
