<div id="contenu" class="col-sm-12">
	<h3>{{ 'tableau en modif toutes les cellules sont modifiables et possibilité d\'ajouter et supprimer des lignes' }}
	</h3>
	<table class="table table-striped super_tableau">
		<thead>
        <tr>
            {#<th>{{ 'ID'|trans }}</th>#}
			{#<th>{{ 'piece'|trans }}</th>#}
			<th>{{ 'date'|trans }}</th>
			<th>{{ 'libelle'|trans }}</th>
			<th>{{ 'debit'|trans }}</th>
			<th>{{ 'credit'|trans }}</th>
			<th>{{ 'compte'|trans }}</th>
			<th>{{ 'activite'|trans }}</th>
		</thead>

	{% for ecriture in tab_ecriturespiece %}
		<tr>

			{#<td>{{ ecriture.idEcriture }}</td>#}
			{#<td>{{ ecriture.idPiece }}</td>#}
			<td>{{ ecriture.dateEcriture|date("d/m/Y") }}</td>
			<td>{{ ecriture.Nom }}</td>
			<td>{{ ecriture.debit }}</td>
			<td>{{ ecriture.credit }}</td>
			<td>{{ objet_data.idCompte|getNomIntitule }}</td>
			<td>{{ ecriture.getActivite.getNom }}</td>

		</tr>
	{% endfor %}

	</table>
</div>


