{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<div id="contenu" class="col-sm-12">
	{#<h3>{{ 'tableau en visualisation toutes les cellules sont modifiables et possibilité d\'ajouter et supprimer des lignes' }}#}
	{#</h3>#}
	<table class="table table-striped super_tableau">
		<thead>
        <tr>
			<th>{{ 'piece'|trans }}</th>
			<th>{{ 'Date'|trans }}</th>
			<th>{{ 'ecriture'|trans }}</th>
			<th>{{ 'classement'|trans }}</th>
			<th>{{ 'Libelle'|trans }}</th>
			<th>{{ 'observation'|trans }}</th>
			<th>{{ 'journal'|trans }}</th>
			<th>{{ 'entite'|trans }}</th>
			<th>{{ 'saisie'|trans }}</th>
			<th>{{ 'etat'|trans }}</th>
			<th>{{ 'Nb lignes'|trans }}</th>
			{#<th>{{ 'Compte'|trans }}</th>#}
			{#<th>{{ 'Activite'|trans }}</th>#}
		</thead>

		 {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}

                {#<td>{{ piece.idEcriture }}</td>#}
                <td>{{ piece.idPiece }}</td>
                <td>{{ piece.DatePiece|date("d/m/Y") }}</td>
            <td>{{ piece.idEcriture }}</td>
            <td>{{ piece.Classement }}</td>
            <td>{{ piece.Nom }}</td>
            <td>{{ piece.Observation }}</td>
                <td>{{ piece.idJournal }}</td>
                <td>{{ piece.idEntite }}</td>
            <td>{{ piece.EcranSaisie }}</td>
            <td>{{ piece.Etat|getEtat }}</td>
            <td>{{ piece.NbPiece }}</td>

        {%  set saisie='piece_'~piece.EcranSaisie~'_form' %}
                <td class="text-right">
                    <div class="btn-group" role="group" aria-label="...">


                        {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                        {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                        {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    </div>
                </td>

            </tr>

        {% endfor %}

	</table>

</div>


