{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped">
{#<table class="table table-striped super_tableau">#}
        <thead>
        <tr>
            <th>{{ 'piece'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'ecriture'|trans }}</th>
            <th>{{ 'classement'|trans }}</th>
            <th>{{ 'Libelle'|trans }}</th>
            <th>{{ 'observation'|trans }}</th>
            <th>{{ 'journal'|trans }}</th>
            <th>{{ 'entite'|trans }}</th>
            <th>{{ 'saisie'|trans }}</th>
            <th>{{ 'etat'|trans }}</th>
            <th>{{ 'Nb lignes'|trans }}</th>
            <th></th>
        <tr>
        </thead>
   En instance ----------------
    {#{{ charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant})}}#}
     {#{% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}#}
        {#<tr>#}
            {#&#123;&#35;{% set saisie='piece_'~objet_data.EcranSaisie~'_form' %}&#35;&#125;#}

            {#&#123;&#35;<td>{{ objet_data.idEcriture }}</td>&#35;&#125;#}
            {#<td>{{ objet_data.idPiece }}</td>#}
            {#<td>{{ objet_data.DatePiece|date("d/m/Y") }}</td>#}
            {#<td>{{ objet_data.idEcriture }}</td>#}
            {#<td>{{ objet_data.Classement }}</td>#}
            {#<td>{{ objet_data.Nom }}</td>#}
            {#<td>{{ objet_data.Observation }}</td>#}
            {#<td>{{ objet_data.idJournal }}</td>#}
            {#<td>{{ objet_data.idEntite }}</td>#}
            {#<td>{{ objet_data.EcranSaisie }}</td>#}
            {#<td>{{ objet_data.Etat|getEtat }}</td>#}
            {#<td>{{ objet_data.NbLigne }}</td>#}
            {#<td class="text-right">#}
                {#<div class="btn-group" role="group" aria-label="...">#}


                    {#{{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}

                    {#{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}

                    {#{{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}
                {#</div>#}
            {#</td>#}
        {#</tr>#}
    {#{% endfor %}#}
</table>
