{% extends 'layout.html.twig' %}
{% block content %}
    <div id="contenu">

    <div class="box box-default">
        <div class="box-header">
            <h3>
                {{ 'piece'|trans }} : {{ data.piece.idPiece }}
                du {{ data.piece.DatePiece|date("d/m/Y") }}
                Classement {{ data.piece.Classement }}
                Journal : {{ data.piece.IdJournal|getNomJournal() }}
                {{ 'entite'|trans }} : {{ data.piece.getEntites.getnom() }}
                {{ 'etat'|trans }} : {{ data.piece.etat|getEtat }}
            </h3>
        </div>
        <div class="box-body">


        </div>
        {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}