{% extends 'layout.html.twig' %}
{#{% set active = 'piece_import' %}#}

{% block content %}
    <div id="contenu" class="col-sm-9">
        <h2>{{ 'piece_import'|trans }}</h2>
        {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
        {{ form(form, {action:  path('piece_import') }) }}
        {% if  tab_btn_eti is  defined %}
        <div class="pull-right">
            <ul class="menu_export list-unstyled">
             <div class="btn-group">
                {# modif Todo ajouter  Reste un pb de fermeture de modal #}
               <a class="btn btn-default" data-toggle="modal" data-target="#lien_html_btn_eti">
                    Parametres
                </a>
                {% set param = tab_btn_eti['imprim_eti'] %}
                {% set param = param|merge({'id': 'lien_html_btn_eti'}) %}
                {% include 'inclure/modal.html.twig' with param %}
                </div>
             </ul>
        </div>
        {% endif %}
     </div>
{% endblock %}

