{% extends 'layout.html.twig' %}

{% block content %}
     <!-- Colonne principal-->
    <div id="contenu" class="col-sm-12">
        {#{% form_theme form 'Form/bootstrap.html.twig' %}#}
        {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
{#todo en attente plusieurs ecrans#}
        {#{% if piece.EcranSaisie is defined %}#}
            {#{{ form(form, {action:  path('piece_'~piece.EcranSaisie~'_form',{'id_piece':piece.idPiece}) }) }}#}
        {#{% else %}#}
        {{ form(form, {action:  retour_form }) }}
        {#{% endif %}#}
        <fieldset class="fieldset_piece">
        {{ form_row(form.id_journal) }}
        {{ form_row(form.etat) }}
        {{ form_row(form.image) }}

        {#<div class="row">#}
            {#<div class="col-lg-4">#}
                {#{{ form_row(form.date_piece,{ 'label_col': 6, 'widget_col': 6}) }}#}
            {#</div>#}
            {#<div class="col-lg-3">#}
                {#{{ form_row(form.classement,{ 'label_col': 2, 'widget_col': 10}) }}#}
            {#</div>#}
        {#</div>#}
        {{ form_row(form.observation) }}
            </fieldset>


    </div>

    <script >
        var data = $.parseJSON($('#form_lignes').val());

        $('#form_lignes').after('<div id="hot-tabe_ecriture"></div>')
        container = $('#hot-tabe_ecriture');
        container.handsontable({
            data: data,
            rowHeaders: true,
            minSpareRows: 1,
            colHeaders: [
                'id_ecriture',
                'jour',
                'nom',
                'idcompte',
                'Nom Compte',
                'Activite',
                'Debit',
                'Credit'],
            columns: [
                              {data: "tIdEcriture", type: 'numeric',format: '0,0'},
                              {data: "tDateEcriture", type: 'numeric',format: '0,0'},
                {data: "tnom", type: 'text',readOnly: false},
                {data: "tIdCompte", type: 'dropdown',source:[ {{ liste_id_compte }} ]},
                {data: "tIntitule", type: 'dropdown',source:[ {{ liste_intitule|raw }} ]},
                {data: "tActivitenom", type: 'dropdown',source:[ {{ liste_activitenom|raw }} ]},
                {data: "tDebit", type: 'numeric',format: '0,0.00'},
                {data: "tCredit", type: 'numeric',format: '0,0.00'}


            ],
            afterChange: function (change, source) {
                if (source === 'loadData') {
                    return; //don't save this change
                }
                var tmpData = JSON.parse(JSON.stringify(data));
                $('#form_lignes').val(JSON.stringify( tmpData));
                $('#form_lignes_modif').val(1);

            }

        });
        table = $('table');
        var hotInstance = $(container).handsontable('getInstance');

    </script>



{% endblock %}
