{% extends 'layout.html.twig' %}

{% set objet_data = charger_objet() %}

{% block content %}
    <div id="contenu">
        <div class="box box-default">
            <div class="box-header">
                <h2>{{ page|trans }} : {{ objet_data.Nom }}</h2>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'observation'|trans }} :</dt>
                    <dd>{{ objet_data.observation }}</dd>
                </dl>
            </div>
        </div>
        {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}

