<div class="fond-gris">Carte d'adhérent</div>
<div class="espaceur">
    <div class="nom">{{ membre_civilite }} {{ membre_nom_famille }} {{ membre_prenom }}</div>
    {{ membre_adresse }}<br />
    {{ membre_codepostal }} {{ membre_ville }}<br />
    <strong> est adhérent(e) jusqu'au {{ cotisation_date_fin }}</strong>
</div>
