
{% set mot_cle = individu.afficheMots() %}
{% set carte_adherent = mot_cle|keys|carte_adherent_etat %}
<span class="info-box-icon">{{ image_mini('individu',individu.IdIndividu)|raw }}</span>
<div class="info-box-content">
    <div class="pull-right">
        <div class="btn-group-vertical" role="group" aria-label="...">
            {% if objet != 'individu' %}
                {{ bouton('voir',{ 'objet':'individu','id':individu.IdIndividu,'tooltip':false}) }}
            {% endif %}
            {{ bouton('modifier', {'objet':'individu','id':individu.IdIndividu,'class_cplt':'modal_form','redirect': url_courante,'tooltip':false}) }}
            {#{{ bouton('supprimer',{'objet':'individu','id':individu.IdIndividu,'tooltip':false}) }}#}
            {#todo supprimer le bouton supprimer car on ne voit pas les prestion lier directement a l'individu#}
            {{ bouton('changer_mdp',{class_cplt:'modal_form','objet':'individu','id':individu.IdIndividu,'redirect': url_courante,'tooltip_placement':'auto right'}) }}

            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                    type="button"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                {% if membre is defined %}
                    {% set titulaire = individu.estTitulaire(membre.idMembre) %}
                    {% if not titulaire %}
                        <li class="text-right">
                            <a href="{{ path('membre_form',{'action':'titularise','id_membre':membre.idMembre,'id_individu':individu.IdIndividu}) }}">
                                Rendre titulaire <i class="glyphicon glyphicon-king"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if not titulaire %}
                        <li class="text-right">
                            <a href="{{ path('membre_form',{'action':'detacher_individu','id_individu':individu.IdIndividu,'id_membre':membre.idMembre}) }}"
                               data-modal="Etes vous certain de vouloir détacher {{ individu.nom }} de ce membre ?">
                                Détacher l'individu <i class="fa fa-chain-broken"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if autoriser('G2','C2','A2') %}
                <li class="text-right">
                    <a class="modal_form"
                       href="{{ path('individu_form',{action:'retour_courrier','id_individu':individu.IdIndividu ,redirect:url_courante}) }}"
                       title="Signaler une coordonnée invalide (postal, email ...)"
                       id="lien_retour_courrier">
                        Coordonnée invalide <i class="glyphicon glyphicon-alert"></i>
                    </a>
                </li>
                {% endif %}
                {% if conf('carte_adherent.actif') and conf('carte_adherent.objet')=='individu' %}
                    <li class="text-right">
                        <a class="carte_adherent carte_adherent_maxi"
                           data-href="{{ path('individu_form',{action:'carte_adherent','id_individu':individu.IdIndividu,'etat':'' }) }}"
                           title="{{ ('carte_adh_'~carte_adherent)|trans }}">

                                                            <span class="label label-sm label-carte{{ carte_adherent }}">
                                                                {{ decode('carte',carte_adherent)|trans }}
                                                            </span>&nbsp;
                            Carte d'adhérent <i class="fa fa-id-card-o"
                                                aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
                {% if individu.estDecede %}
                    <li class="text-right">
                        <a  href="{{ path('individu_form',{action:'est_decede','id_individu':individu.IdIndividu,'redirect':url_courante }) }}">

                            L'individu a été enregistré comme décédé par erreur <i class="ico ico-ruban-noir" aria-hidden="true"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="text-right">
                        <a href="{{ path('individu_form',{action:'est_decede','id_individu':individu.IdIndividu,'redirect':url_courante  }) }}">
                            Enregistrer l'individu comme décédé <i class="ico ico-ruban-noir" aria-hidden="true"></i>
                        </a>

                    </li>
                {% endif %}

            </ul>
        </div>
    </div>

    {% if membre is defined and titulaire %}
        <span class="label label-warning"><i
                    class="glyphicon glyphicon-king"></i></span>
    {% endif %}


    {% if conf('carte_adherent.actif') and conf('carte_adherent.objet')=='individu' %}
        <a class="carte_adherent carte_adherent_mini"
           data-href="{{ path('individu_form',{action:'carte_adherent','id_individu':individu.IdIndividu }) }}"
           title="{{ 'carte_adh_'~carte_adherent }}" data-toggle="tooltip">
                                            <span class="label label-sm label-carte{{ carte_adherent }}"><i
                                                        class="fa fa-id-card-o" aria-hidden="true"></i></span>
        </a>
    {% endif %}
    &nbsp;{{ individu.IdIndividu }}

    {% if individu.civilite %} - {{ individu.civilite }}{% endif %}

    <h4 class="box-title">
        {% if individu.nomFamille is empty %}
            {{ individu.nom }}
        {% else %}
            {{ individu.nomFamille }} {{ individu.prenom }}
        {% endif %}
        {% if individu.estDecede %}
            <i class="ico ico-ruban-noir"></i>
        {% endif %}
    </h4>

    {% if individu.ville %}
        <div class="pull-left">
            <a href="{{ path('carte',{objet:'individu','action':'positionner','id': individu.IdIndividu,'redirect':url_courante}) }}"
               class="btn modal_form modal-large{% if not individu.estGeoreference  %} text-danger{% endif %}" id="btn_carte{{ individu.IdIndividu }}"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="el npai">
            {% include('inclure/npai.html.twig') with { 'type':'adres', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
            {{ individu.adresse }}<br/>
            {{ individu.codePostal }} {{ individu.ville }}
        </div>
    {% endif %}
    {% if individu.email %}
        <div class="el npai">
            {{ individu.email|lien_courriel }}
            {% include('inclure/npai.html.twig') with { 'type':'email', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if individu.telephone %}
        <div class="el npai">
            <i class="fa fa-phone" aria-hidden="true"></i> {{ individu.telephone|afficher_telephone }}
            {% include('inclure/npai.html.twig') with { 'type':'telep', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if individu.mobile %}
        <div class="el npai">
            <i class="fa fa-mobile" aria-hidden="true"></i> {{ individu.mobile|afficher_telephone }}
            {% include('inclure/npai.html.twig') with { 'type':'mobil', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if individu.telephonePro %}
        <div class="el npai">
            <i class="fa fa-phone" aria-hidden="true"></i> {{ individu.telephonePro|afficher_telephone }}
            {% include('inclure/npai.html.twig') with { 'type':'tele2', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if conf('module.newsletter') and tab_infolettre is not empty and individu.email %}
        {% set tab_inscription = individu.getIdInfolettreInscrit %}
        <div class="el">
            {% if tab_infolettre|length > 3 %}
                <div class="pull-right">
                    <a class="btn btn-default btn-xs"
                       data-infolettre="{{ tab_inscription|join(',') }}"
                       data-href="{{ path('infolettre_form',{'action':'changer_inscription','email':individu.email,'redirect':url_courante,'id_infolettre':''}) }}">
                        Modifier
                    </a>
                </div>
                <i class="fa fa-envelope-o"></i>
                {% if tab_infolettre is not empty %}
                    {{ tab_inscription|length }} infolettres
                {% else %}
                    aucune infolettre
                {% endif %}
            {% else %}
                <i class="fa fa-envelope-o"></i>
                <div class="btn-group">
                    {% for id,infolettre in tab_infolettre %}
                        {% set class_actif = 'label-default' %}
                        {% set il_action = 'Inscription' %}
                        {% if id in tab_inscription|keys %}
                            {% set class_actif = 'label-primary' %}
                            {% set il_action = 'Désinscription' %}
                        {% endif %}
                        <a href="{{ path('infolettre_form',{'action':'changer_inscription','id_infolettre':id,'email':individu.email,'redirect':url_courante,'unique':true}) }}"
                           class="label {{ class_actif }} force-tooltip btn-infolettre" title="{{ il_action }}">{{ infolettre.nom }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="el mot">
        <i class="fa fa-tag" aria-hidden="true"></i>
        {% set mot_cle_ind = mot_cle|exclure_mot_systeme %}
        {% if mot_cle_ind is not empty %}
            <ul class="list-inline inline">
                {% for mot in mot_cle_ind %}
                    <li>{{ mot }}</li>
                {% endfor %}
            </ul>
        {% else %}
            Aucun
        {% endif %}
        <div class="pull-right">
            {{ bouton('tagguer',{
                'action':'tagguer',
                'id_objet': individu.IdIndividu ,
                'objet': 'individu',
                'class_cplt':'btn-xs',
                'redirect': url_courante,
                'bt_texte':true}) }}
        </div>
    </div>

    <div class="clearfix"></div>
</div>