<div class="container-fluid">
    <div class="col-md-4">


        <dl class="dl-horizontal">
            <dt>{{ 'Numero'|trans }} :</dt>
            <dd>{{ mg.id_motgroupe }}</dd>
            <dt>{{ 'nomcourt'|trans }} :</dt>
            <dd>{{ mg.nomcourt }}</dd>
            <dt>{{ 'Descriptif'|trans }} :</dt>
            <dd>{{ mg.descriptif }}</dd>
            <dt>{{ 'Texte'|trans }} :</dt>
            <dd>{{ mg.texte }}</dd>
            {#<dt>{{ 'texte'|trans }} :</dt>#}
            {#<dd>{{ objet_data.Texte }}</dd>#}

            <dt>{{ 'objetenlien'|trans }} :</dt>
            <dd>{{ mg.objets_en_lien|join(',') }}</dd>
            <dt>{{ 'Groupe de mot important'|trans }} :</dt>
            <dd>{% if mg.importance %} oui {% else %} non {% endif %}</dd>
            <dt>{{ 'options'|trans }} :</dt>
            <dd>
                {% for o,opt  in mg.options %}
                    {{ o }} : {{ opt|join(',') }} <br>
                {% endfor %}
            </dd>
            <dt>{{ 'Groupe de Mot clés systeme'|trans }} :</dt>
            <dd>{% if mg.systeme %} oui {% else %} non {% endif %}</dd>
            <dt>{{ 'Actif'|trans }} :</dt>
            <dd>{% if mg.actif %} oui {% else %} non {% endif %}</dd>

        </dl>


    </div>
    <div class="col-md-8">
        <div class="pull-right">{{ bouton('ajouter', {'objet':'mot','bt_texte':true,'args':{'id_motgroupe':mg.id_motgroupe},'redirect':url_courante,'class_cplt':'btn-sm'}) }}</div>
        <h5>Liste des mots</h5>
        <ul class="list-inline groupe_mot">
            {% for id_mot  in mg['mots'] %}
                {% set mot = tab('mot.'~id_mot) %}
                <li><a href="{{ path('mot',{'id_mot':id_mot}) }}">{{ mot['nom'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% for k,nom  in mg.enfant %}
    <hr />

    <div class="panel panel-default">
        <div class="box-header">
            <div class="pull-right">
                <div class="btn-group" role="group" aria-label="...">
                    {{ bouton('modifier', {'objet':'motgroupe','id' :k,'class_cplt':'modal_form','redirect':url_courante}) }}
                    {{ bouton('supprimer',{'objet':'motgroupe','id':k,'redirect':url_courante}) }}
                </div>
            </div>

            <h3 id="{{ k }}" class="panel-title">{{ nom }}</h3>
        </div>
    <div class="panel-body">

        {% set mg  = tab('motgroupe.'~k) %}
        {% if mg is not empty %}
            {% include('asso/fiche/motgroupe.html.twig') with { 'mg': mg } only %}
        {% endif %}

    </div>

    </div>
{% endfor %}
