{% block sujet %}
    {{ email_prefixe_sujet }} Actication de votre compte adhérent
{% endblock %}

{% block contenu %}
<h3>Activer votre compte adhérent</h3>

    <p>
        Votre login d'accès au site est <strong>{{ login }}</strong> <small >Conserver le précieusement.</small>
    </p>
<p>
    Pour finaliser l'activation de votre compte adhérent, Merci de <a href="{{ url_activation|raw }}">cliquer ici pour choisir votre mot de passe </a>.
</p>

<hr style="margin-top: 30px;"/>
<p style="font-size: 13px;">
    <strong>Je n'ai pas demandé à l'activation mon compte adhérent ?</strong>
    <br/>
    Si vous ne venez pas d'effectuer la demande d'activation de mot de passe, ne tenez pas compte de ce mail.
</p>

{% endblock %}