{% block sujet %}
    {{ email_prefixe_sujet }} Réinitialiser votre mot de passe
{% endblock %}

{% block contenu %}
<h1>Réinitialiser votre mot de passe</h1>

<p>
    S'il vous plait, <a href="{{ url_reset }}">Cliquez ici pour réinitialiser votre mot de passe</a>.
</p>

<hr style="margin-top: 30px;"/>
<p style="font-size: 13px;">
    <strong>Je n'ai pas demandé à réinitialiser mon mot de passe?</strong>
    <br/>
    Si vous ne venez pas d'effectuer la demande de la réinitialisation de mot de passe, ne tenez pas compte de ce mail.
</p>

{% endblock %}