{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped super_tableau">
	<thead>
	<tr>
		<th>{{ 'ID'|trans }}</th>
		<th>{{ 'codepostal'|trans }}</th>
		<th>{{ 'Nom'|trans }}</th>
		<th>{{ 'cplt'|trans }}</th>
		<th></th></tr>
	</thead>
<tbody>
	 {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
		<tr>
			<td>{{ objet_data.IdCodepostal }}</td>
			<td>{{ objet_data.Codepostal }}</td>
			<td>{{ objet_data.Nom }}</td>
			<td>{{ objet_data.NomSuite }}</td>
			<td class="text-right">
				<div class="btn-group" role="group" aria-label="...">


					{{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

					{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

					{{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
				</div>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>

