{% extends 'layout.html.twig' %}


{% block content %}
<div id="contenu" class="box">
	<nav class="navbar navbar-default ">

		<div class="navbar-header">
			<a class="navbar-brand" >	<span class="glyphicon glyphicon-filter"></span> Filtres</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar-collapse">
				<i class="fa fa-bars"></i>
			</button>
		</div>


		<div class="container-fluid">




			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{{ 'Rechercher'|trans }}" id="filtre_recherche">
				</div>
				<button type="submit" class="btn btn-default hide">Search</button>
			</form>

		</div></nav>
	<div class="box-body">



				<table class="table table-striped super_tableau_codepostaux">
					<thead>
					<tr>
						<th>{{ 'ID'|trans }}</th>
						<th>{{ 'codepostal'|trans }}</th>
						<th>{{ 'nom'|trans }}</th>
						<th>{{ 'nomsuite'|trans }}</th>
						<th>{{ 'action'|trans }}</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>

					</tr>

					</tbody>

				</table>
	</div>

	<script >

		$(document).ready(function(){


			timer_recherche=0

			$('#filtre_recherche').keyup( function() {
						if(timer_recherche )
							clearTimeout(timer_recherche);
						timer_recherche= setTimeout( function(){ table.ajax.reload(); }, 300 );
					}
			)



			var table = $('.super_tableau_codepostaux').DataTable(
					{
						"language": {"url": "{{ app.request.basepath }}/assets/js/french.lang"},
						"searching": false,
						"lengthChange": false,
						"pageLength": 20,
						"processing": true,
						"serverSide": true,
						"columns": [
							{"name": 'idCodepostal'},
							{"name": 'Codepostal'},
							{"name": 'Nom'},
							{"name": 'NomSuite'},
							{"name": 'action',"orderable": false}],
						"ajax": {
							"url": "{{ path('codespostaux_liste') }}",
							"data": function (d) {
								recherche=$('input#filtre_recherche').val();
								d.action = "dataliste";
								d.search={regex:false,value:recherche};

							},
							'complete':function(){
								initialisation_modal_confirm('.super_tableau_codepostaux')
							}
						}
					} );
		} );
	</script>
	{#{% include('inclure/lien.html.twig')  %}#}
</div>
{% endblock %}




