{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="contenu" class="box">
        {% include(fichier_twig('table')) %}
    </div>
{% endblock %}