{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        {#<div id="contenu" >#}
        <div class="box box-default">
            <div class="box-header">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_zone':id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_zone':id}) }}
                    </div>
                </div>
                {% set zonegroupe_nom =  tab('zonegroupe.'~objet_data.idZonegroupe) %}
                <dl class="dl-horizontal">
                    <span class="info-box-number">{{ objet_data.IdZone }}</span>
                    <span class="info-box-text">{{ objet_data.nom }}</span>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.Descriptif }}</dd>
                    <dt>{{ 'zonegroupe'|trans }} :</dt>
                    <dd><a href="{{ path('zonegroupe',{'id_zonegroupe':objet_data.idZonegroupe}) }}" > {{ tab('zonegroupe.'~objet_data.idZonegroupe~'.nom') }} </a> </dd>

                </dl>
            </div>
        </div>
        {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}

        <div class="back">
            <a href='{{ path(objet~'_liste') }}' class="btn btn-default">{{ 'retour_liste'|trans }}</a>
        </div>



    </div>
    <div id="contenu" class="col-sm-8">
        <div class="box box-default">
            <div class="box-header"><h4>Emprise spaciale</h4></div>
            <div class="box-body">

                    {% include 'inclure/carte_zone_geo.html.twig' %}
            </div>
        </div>

        <div class="box box-default">
            <div class="box-header">
                <h4>Liste des individus</h4>
                <div class="pull-right">
                    <a href="{{ path('zone',{'action':'lier','objet':'individu','id_zone':objet_data.idZone}) }}" class="btn btn-success">Recalculer</a>
                </div>
            </div>
            <div class="box-body">
                {% include('asso/individu_table.html.twig') with {tab:tab_individu} %}
            </div>
        </div>

        {% include('inclure/tab_enfants.twig') %}
    </div>

{% endblock %}
