{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        {#<div id="contenu" >#}
        <div class="box box-default">
            <div class="box-header">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_zone':id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_zone':id}) }}
                    </div>
                </div>
                {% set zonegroupe_nom =  tab('zonegroupe.'~objet_data.idZonegroupe) %}
                <dl class="dl-horizontal">
                    <span class="info-box-number">{{ objet_data.IdZonegroupe }}</span>
                    <span class="info-box-text">{{ objet |trans }} : {{ objet_data.nom }}</span>

                </dl>
            </div>
        </div>
        {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}

        <div class="back">
            <a href='{{ path(objet~'_liste') }}' class="btn btn-default">{{ 'retour_liste'|trans }}</a>
        </div>



    </div>
    <div id="contenu" class="col-sm-8">
        <div class="box box-default">
            <div class="box-header"><h4>Emprise spaciale</h4></div>
            <div class="box-body">

                    {% include 'inclure/carte_zonegroupe_geo.html.twig' %}
            </div>
        </div>

        <div class="box box-default">
            <div class="box-header">
                <h4>Liste des zones</h4>
                <div class="pull-right">
                    {{ bouton('ajouter',{'objet':'zone','id':'','args':{'id_zonegroupe':objet_data.idZonegroupe},'redirect':url_courante,'bt_texte':true,'class_cplt':'modal-large'}) }}
                </div>
            </div>
            <div class="box-body">
                {% include('inclure/table_dyn.html.twig') with{'objet':'zone','tab_col':donneTabCol('zone'),'tab_filtres':donneTabFiltre('zone'),'filtres_statiques':{id_zonegroupe:objet_data.idZonegroupe},'redirect':url_courante } only %}
            </div>
        </div>


    </div>

{% endblock %}
