<form class="form form-inline">


    <div id="filtres"  class="filtres">
        {% include 'inclure/filtres.html.twig' with {'filtres': tab_filtres['premier']} %}
        <ul class="nav navbar-nav">

            {% if tab_filtres['second'] is defined %}
            <li>
                <a id="filtrer_plus" class="btn-modal modal-large" data-modal="filtres_secondaires">
                    Plus de filtres
                </a>
            </li>
            {% endif %}
            <li>
                {% if selection is defined and selection %}
                <div class="btn-group navbar-btn">
                    <a id="btn_selection" class="btn btn-default btn-modal"  data-modal="choix_selection">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> Sélection
                    </a>
                    <a href="{{ path('preferences',{'action': 'ajout_selection','objet':objet}) }}"
                       class="btn btn-default modal_form" title="Enregistrer la selection courante">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                {% endif %}
                {% if tab_filtres['second'] is defined %}
                <div id="filtres_secondaires" class="filtres hide">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            {% for titre,groupe_filtre in tab_filtres['second']  %}
                                <li role="presentation" {% if loop.index == 1 %}class="active"{% endif %}><a href="#tab_{{ titre }}" aria-controls="{{ titre }}" role="tab" data-toggle="tab">{{ titre }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for titre,groupe_filtre in tab_filtres['second']  %}
                                <div role="tabpanel" class="tab-pane fade{% if loop.index == 1 %} in active{% endif %}" id="tab_{{ titre }}">
                                    {% include 'inclure/filtres.html.twig' with {'filtres': groupe_filtre} %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if selection is defined and selection  %}
                <div id="choix_selection" data-rel="super_tableau_{{ objet }}" class="hide">
                    {% include 'inclure/selection.html.twig' with {'tab_selections': pref('selection.'~objet)} only %}
                </div>
                {% endif %}
            </li>
        </ul>

    </div>
</form>