<div id="map" class="map carte"></div>
<script type="text/javascript">

    $(document).ready(function(){



        var map = L.map('map').setView([50.5, 3], 7);
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        {% if objet_data.getZoneGeo %}
            geojson = {{ objet_data.getZoneGeo|raw }};
        {% else %}
            geojson = [];
        {% endif %}
        if (geojson) {
            var objet = geojson;
            var len = objet.length;
            for (i = 0; i < len; i++) {
                type = objet[i]['type'];

                geojson = objet[i]['geojson'];
                if (type == 'circle') {
                    latlng0 = L.latLng(
                            geojson['geometry']['coordinates'][1],
                            geojson['geometry']['coordinates'][0]
                    );
                    layer = L.circle(latlng0, objet[i]['plus']['radius']);
                }
                else if (type == 'rectangle') {
                    latlng0 = L.latLng(
                            geojson['geometry']['coordinates'][0][0][1],
                            geojson['geometry']['coordinates'][0][0][0]
                    );
                    latlng1 = L.latLng(
                            geojson['geometry']['coordinates'][0][2][1],
                            geojson['geometry']['coordinates'][0][2][0]
                    );

                    layer = L.rectangle(L.latLngBounds(latlng0, latlng1));
                }
                else if (type == 'polyline') {
                    var lenj = geojson['geometry']['coordinates'][0].length;
                    var tab_coords = new Array();
                    var j = 0;
                    for (j = 0; j < lenj; j++) {
                        tab_coords.push(L.GeoJSON.coordsToLatLng(geojson['geometry']['coordinates'][0][j]))
                    }
                    layer = L.polyline(tab_coords);
                }
                else if (type == 'polygon') {
                    var lenj = geojson['geometry']['coordinates'][0].length;
                    var tab_coords = new Array();
                    var j = 0;
                    for (j = 0; j < lenj; j++) {
                        tab_coords.push(L.GeoJSON.coordsToLatLng(geojson['geometry']['coordinates'][0][j]))
                    }
                    layer = L.polygon(tab_coords);
                }
                drawnItems.addLayer(layer);
            }
        }

        // add an OpenStreetMap tile layer
        L.tileLayer('https://a.tiles.mapbox.com/v4/guillaumew.lno8fg97/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3VpbGxhdW1ldyIsImEiOiJiREFkR3IwIn0.-CUhlefzCSV-FTSQTcre9g', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        if (drawnItems)
            map.fitBounds(drawnItems.getBounds());

    })


</script>

