<div id="map" class="map carte"></div>
<script type="text/javascript">


    function ajoute_forme(geojson,couleur,drawnItems,titre,description,url){

        var objet = geojson;
        var len = objet.length;
        for (i = 0; i < len; i++) {
            type = objet[i]['type'];
            cool= {
                color: couleur,
                        fillColor: couleur,
                    fillOpacity: 0.5
            }
            geojson = objet[i]['geojson']
            if (type == 'circle') {
                latlng0 = L.latLng(
                        geojson['geometry']['coordinates'][1],
                        geojson['geometry']['coordinates'][0]
                );

                layer = L.circle(latlng0, objet[i]['plus']['radius'],cool).bindPopup("<strong>"+titre+"</strong>"+description+' <a href="'+url+'">voir la zone</strong>');
            }
            else if (type == 'rectangle') {
                latlng0 = L.latLng(
                        geojson['geometry']['coordinates'][0][0][1],
                        geojson['geometry']['coordinates'][0][0][0]
                );
                latlng1 = L.latLng(
                        geojson['geometry']['coordinates'][0][2][1],
                        geojson['geometry']['coordinates'][0][2][0]
                );

                layer = L.rectangle(L.latLngBounds(latlng0, latlng1),cool).bindPopup("<strong>"+titre+"</strong>"+description+' <a href="'+url+'">voir la zone</strong>');
            }
            else if (type == 'polyline') {
                var lenj = geojson['geometry']['coordinates'][0].length;
                var tab_coords = new Array();
                var j = 0;
                for (j = 0; j < lenj; j++) {
                    tab_coords.push(L.GeoJSON.coordsToLatLng(geojson['geometry']['coordinates'][0][j]))
                }
                layer = L.polyline(tab_coords,cool).bindPopup("<strong>"+titre+"</strong>"+description+' <a href="'+url+'">voir la zone</strong>');
            }
            else if (type == 'polygon') {
                var lenj = geojson['geometry']['coordinates'][0].length;
                var tab_coords = new Array();
                var j = 0;
                for (j = 0; j < lenj; j++) {
                    tab_coords.push(L.GeoJSON.coordsToLatLng(geojson['geometry']['coordinates'][0][j]))
                }
                layer = L.polygon(tab_coords,cool).bindPopup("<strong>"+titre+"</strong>"+description+' <a href="'+url+'">voir la zone</strong>');

            }
            drawnItems.addLayer(layer);
        }

    }

    $(document).ready(function(){



        var map = L.map('map').setView([50.5, 3], 7);
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);



        {% set tab = objet_data.zones %}
        var couleur= new Array()
        var pas = Math.min((360/{{ tab|length }}),60);
        var h=60;
        for (var n = 0; n < {{ tab|length }}; n++) {
            var color = new KolorWheel([(h%360),56,66]);
            couleur[n]=color.getHex();
            h += pas;
        }

        {% for i,zone in tab %}
            {% if zone.getZoneGeo %}
            geojson = {{ zone.getZoneGeo|raw }};
            if (geojson) {
                ajoute_forme(geojson,couleur[{{ loop.index0 }}],drawnItems,'{{ zone.nom }}','{{ zone.descriptif }}','{{ path('zone',{id_zone:zone.idZone}) }}');
            }
            {% endif%}
        {% endfor %}
        // add an OpenStreetMap tile layer
        L.tileLayer('https://a.tiles.mapbox.com/v4/guillaumew.lno8fg97/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3VpbGxhdW1ldyIsImEiOiJiREFkR3IwIn0.-CUhlefzCSV-FTSQTcre9g', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        if (drawnItems)
            map.fitBounds(drawnItems.getBounds());
    })


</script>

