{% for nom_filtre,filtre in filtres %}
    {% set type='select' %}
    {% if filtre.type is defined %}
        {% set type = filtre.type %}
    {% endif %}
    {% set class='select2' %}
    {% if filtre.class is defined %}
        {% set class = filtre.class %}
    {% endif %}

    <div class="navbar-form navbar-left" role="filtre">
        <div class="form-group">
            {% if type=='select' %}
                {% set nom_champs = filtre.nom %}
                {% if f.groupe is defined %}
                    {% set nom_champs=f.groupe %}
                {% endif %}
                <select style="width:200px;" class="form-control {{ class }}"
                        name="{{ nom_champs }}{% if filtre.multiple is defined %}[]{% endif %}"
                        {% if filtre.multiple is defined %}multiple="multiple"
                        {% endif %}
                        data-placeholder="{{ nom_filtre }}">
                    {% if filtre.multiple is not defined %}
                        <option value=""></option>
                    {% endif %}
                    {% for key,f in filtre.options %}
                        {% if f.libelle  is defined %}
                            <option
                                    {% if f.on is defined and f.on %}
                                        selected="selected"
                                    {% endif %}
                                    value="{{ f.valeur }}">
                                {{ f.libelle }}
                                {% if f.nb is defined %}
                                    <!-- <span class="badge"> {{ f.nb }}   </span>-->
                                {% endif %}
                            </option>
                        {% else %}
                            <optgroup label="{{ key }}">{{ key }}
                                {% for key2,f2 in f %}
                                    <option
                                            {% if f2.on is defined and f2.on %}
                                                selected="selected"
                                            {% endif %}
                                            value="{{ f2.valeur }}">
                                        {{ f2.libelle }}
                                        {% if f2.nb is defined %}
                                            <!-- <span class="badge">{{ f2.nb }}</span>-->
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    {% endfor %}
                </select>
            {% elseif type=='switch' %}
                {% set nom_champs = filtre.nom %}
                {% if f.groupe is defined %}
                    {% set nom_champs=f.groupe %}
                {% endif %}
                {% for key,f in filtre.options %}
                    <label>
                        {{ f.libelle }}
                        {% if f.nb is defined %}
                            <!-- <span class="badge">
                        {{ f.nb }}
                        </span>-->
                        {% endif %}
                        <input type="radio" name="{{ nom_champs }}"
                                {% if f.on is defined and f.on %}
                                    checked="checked"
                                {% endif %}
                               value="{{ f.valeur }}"/>
                    </label>
                {% endfor %}
            {% elseif type=='checkbox' %}
                {% set nom_champs = filtre.nom %}
                {% for key,f in filtre.options %}
                    <label>
                        <input type="checkbox" name="{{ nom_champs }}"
                                {% if f.on is defined and f.on %}
                                    checked="checked"
                                {% endif %}
                               value="on"/>
                        {{ f.libelle }}
                    </label>
                {% endfor %}
            {% elseif type=='text' %}
                    {% if filtre.label is defined %}
                        {{ filtre.label|raw  }}
                    {% else %}
                        <label for="filtre_{{ filtre.nom }}">
                            {{ filtre.nom|trans }}
                        </label>
                    {% endif %}
                    <input id="filtre_{{ filtre.id }}" type="text" name="{{ filtre.nom }}" placeholder="{{ filtre.placeholder|trans }}"  value="" class="form-control {{ filtre.class }}"/>

            {% endif %}
        </div>
    </div>
{% endfor %}