<footer class="main-footer">
    <div class="container-fluid">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{ version }}
        </div>
        <strong>{{ application_nom }}</strong> Logiciel Libre
        <small>porté par <a href="http://www.declic3000.com" target="_blank">Déclic 3000</a>.</small>
    </div>
</footer>