<div class="box box-default informations">
    <div class="box-header">
        <h4><i class="fa fa-clock-o" aria-hidden="true"></i> {{ 'historique'|trans }}</h4>
    </div>
    {% set tab_operations =log_operations(objet,id)  %}
    {% if tab_operations is not empty %}
        {% include('inclure/timeline_objet.html.twig') with {'tab_operations' :tab_operations,'regroupement':false} only %}
        {# todo pour les ereurs dans log et les enregistrements anciens avant mise en place de log
         ajouter dans include timeline_objet un test pour savoir si creation a été affiché si non repredre la partie création du else
         ajouter dans include timeline_objet un test pour savoir si modification a été affiché si non repredre la partie modification du else #}
    {% else %}
        <dl class="dl-horizontal">
            <dt>{{ 'Création'|trans }}:</dt>
            <dd>{{ objet_data.createdAt|date('d/m/Y') }}
                {% set qui = objet_data.getQuiCree %}
                {% if qui %}
                    par {{ qui|getNomIndividu }}
                {% endif %}
            </dd>
            {% if objet_data.createdAt!=objet_data.updatedAt %}
                <dt>{{ 'Dernière modification'|trans }}:</dt>
                <dd>
                    {{ objet_data.updatedAt|date('d/m/Y') }}
                    {% set qui = objet_data.getQuiModifie %}
                    {% if qui %}
                        par {{ qui|getNomIndividu }}
                    {% endif %}
                </dd>
            {% endif %}
        </dl>
    {% endif %}
</div>