{% set mot = mot('npai_'~type) %}
{% if mot %}
    <div class="pull-right bt-npai">
    {% set actif = mot.id_mot in mots|keys %}
    {% if conf('npai.saisie_unique') %}
        {% if npai %}
            <span class="label label-xs label-warning" title="{{ mot.nom }}" ><i class="glyphicon glyphicon-alert"></i></span>
        {% endif %}
    {% else %}
        <a class="btn  {% if mot.id_mot in mots|keys %}btn-warning{% else %}btn-default{% endif %} btn-xs force-tooltip npai" data-href="{{ path('individu',{'action':'npai','id_individu':id,'type':type}) }}"
           title="Marquer {{ mot.nom }}" data-placement="bottom" id="lien_retour_courrier{{ type }}_{{ id }}">
            <i class="glyphicon glyphicon-alert"></i>
        </a>
    {% endif %}
    </div>
{% endif %}