<script type="application/javascript">

    $(document).ready(function () {

        container = 'super_tableau_{{ objet }}';
        url= '{{ path( objet~'_liste' ) }}';
        cols = {{ tab_col|array_values|json_encode|raw }};
        nb = {{ liste_secondaire(objet,objet_bloc) }};
        options = {
            action: true,
            {% set cle = descr(objet~'.cle')   %}
            {% set args ={(cle) :''}  %}
            url: '{{ path(objet,args)|raw }}',
            {% if autoriser('G2','C2','A2') %}
                url_form: '{{ path(objet~'_form',args)|raw }}',
            {% endif %}
            {% if autoriser('G3','C3','A3') %}
                {% set args ={'action':'supprimer',(cle) :''}  %}
                url_delete: '{{ path(objet~'_form',args)|raw }}',
                {% endif %}
            {% if options.redirection is defined and options.redirection %}
                redirection: '{{ url_courante|raw }}',
            {% endif %}
            {#{% if tri is defined %}#}
               {#tri: {{ tri|json_encode|raw }},#}
            {#{% endif %}#}
            filtres:{{ tab_filtres|liste_filtre|json_encode|raw }}
            {% if filtres_statiques is defined  and filtres_statiques is not empty %}
            ,filtres_statiques:{{ filtres_statiques|json_encode|raw }}
            {% endif %}
        };

        if (typeof {{ objet }}_liste === "function")
        {
            {{ objet }}_liste(container,url,cols,nb,options);
        }
        else{
            ajaxdatatable(container,url,cols,nb,options);
        }


    });

</script>