
<div class="box box-default">

<div class="box-header">
{% set objet_liste = objet_bloc~'_liste' %}
 <h3 class="box-title">  {{ objet_liste|trans }} </h3>
    <div class="pull-right">

        {{ bouton('ajouter',{'bouton_id':'ajouter_'~objet_bloc,
            'nom':objet_bloc~'_ajouter',
            'bt_texte':true,
            'objet':objet_bloc,
            'cle': descr(objet~'.cle'),
            'redirect': url_courante,
            'id': id }) }}
        <a href="{{ documentation_lien(objet_bloc) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>

    </div>
    {%  if filtres_statiques is not defined %}{% set filtres_statiques = {} %}{% endif %}
    {%  if tab_col is not defined %}{% set tab_col = donneTabCol(objet_bloc) %}{% endif %}
    {%  if charger_data is not defined %}{% set charger_data = false %}{% endif %}

    {%  if dyn is defined and not dyn %}
        {%  if tab_filtres is not defined %}{% set tab_filtres = {} %}{% endif %}
        {% include('inclure/table_sta.html.twig') with{'objet_bloc':objet_bloc,'charger_data':charger_data,'tab_col':tab_col,'tab_filtres':tab_filtres,'filtres_statiques':filtres_statiques} only %}

    {%  else %}
        {%  if tab_filtres is not defined %}{% set tab_filtres = donneTabFiltre(objet) %}{% endif %}
        {% include('inclure/table_dyn.html.twig') with{'objet':objet_bloc,'tab_col':tab_col,'tab_filtres':tab_filtres,'filtres_statiques':filtres_statiques} only %}
    {%  endif %}
</div>
 </div>


