<div id="super_tableau_{{ objet_bloc }}">
	{%  if tab_filtres is  defined and tab_filtres is not empty  %}
	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			{%  if selection is not defined %}{% set selection = false %}{% endif %}
				{% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres,'selection':selection} only %}
		</div>
	</nav>
	{% endif %}
	<div class="box-body">
		{% include('inclure/table_col.html.twig') with{'tab_col':tab_col, class:'super_tableau_data','data':true,'objet_bloc':objet_bloc} only %}
	</div>
</div>

{% if charger_data is defined and charger_data %}
	{% set donnees  =  charger_enfant_tableau(objet_bloc,tab_col)  %}
{% else %}
	{%if data is defined %}
		{% set donnees  =  preparation_tableau(data,objet_bloc,tab_col)  %}
	{% endif %}
{% endif %}
	<script type="application/javascript">
		var data_{{objet_bloc}} = {{ donnees|json_encode()|raw }};

	</script>

{%  if tri is not defined %}{% set tri = {} %}{% endif %}
{%  if filtres_statiques is not defined %}{% set filtres_statiques = {} %}{% endif %}
{% include('inclure/table_sta_js.html.twig') with{'objet_bloc':objet_bloc,'tab_col':tab_col,'tab_filtres':tab_filtres,'filtres_statiques':filtres_statiques,'redirect':url_courante,'tri':tri} only %}
