<script type="application/javascript">


    $(document).ready(function () {

        container = 'super_tableau_{{ objet_bloc }}';
        cols = {{ tab_col|array_values|json_encode|raw }};
        nb = {{ liste_secondaire(objet,objet_bloc) }};
        options = {
            action: true,
            {% set cle = descr(objet_bloc~'.cle')   %}
            {% set args ={(cle) :''}  %}
            {% if redirect is defined %}
                {% set args ={'redirect':redirect,(cle) :''}  %}
            {% endif %}
            url: '{{ path(objet_bloc,args)|raw }}',
            {% if autoriser(['A2','C2','G2']) %}
                url_form: '{{ path(objet_bloc~'_form',args)|raw }}',
            {% endif %}
            {% if autoriser(['A3','C3','G3']) %}
                {% set args ={'action':'supprimer',(cle) :''}  %}
                {% if redirect is defined %}
                    {% set args ={'action':'supprimer','redirect':redirect,(cle) :''}  %}
                {% endif %}
                url_delete: '{{ path(objet_bloc~'_form',args)|raw }}',
            {% endif %}
            {% if tri is defined %}
                tri: {{ tri|json_encode|raw }},
            {% endif %}
            filtres:{{ tab_filtres|liste_filtre|json_encode|raw }}
        };

        if (typeof {{ objet_bloc }}_liste === "function")
        {
            {{ objet_bloc }}_liste(container,cols,nb,options);
        }
        else{
            super_datatable(data_{{ objet_bloc }},container,cols,nb,options);
        }


    });

</script>