{% set tab_sr = tab('prestation_type') %}

    {% for id_prestation_type,prestation_type in tab_sr %}

        {% set nom_prestation_type = prestation_type['nom']  %}
        {% set sr_nom_prestation_type = 'sr_'~nom_prestation_type  %}
        {% set alias = descr(sr_nom_prestation_type~'.alias') %}
        {% set fichier_twig = descr(sr_nom_prestation_type~'.twig.table') %}
        {% set affichage = pref(sr_nom_prestation_type~'.affichage') %}
        {% set module_actif = conf('module.'~nom_prestation_type ) %}
        {% if  module_actif and affichage and  objet in tab('prestation_type.'~id_prestation_type~'.objet_beneficiaire')  %}
            <div class="box box-default">
                <div class="box-header">
                    {% set nom_prestation_type_liste =sr_nom_prestation_type~'_liste' %}
                    <h3 class="box-title">  {{ nom_prestation_type_liste|trans }}</h3>
                    <div class="pull-right">
                        {{ bouton('ajouter',{'bouton_id':'lien_'~nom_prestation_type~'_ajouter',
                            'nom':'sr_'~nom_prestation_type~'_ajouter',
                            'bt_texte':true,
                            'objet':sr_nom_prestation_type,
                            'cle': descr(objet~'.cle'),
                            'id': id ,
                            'prestation_type':id_prestation_type}) }}
                        <a href="{{ documentation_lien(nom_prestation_type) }}" target="_blank" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="box-body">

                    {% set tab_col_exclure= ['beneficiaire'] %}
                    {%  if getPrestationDeType(nom_prestation_type)|length < 2 %}
                        {% set tab_col_exclure = tab_col_exclure|merge(['id_prestation']) %}
                    {% endif %}


                    {%  if nom_prestation_type =='vente' or nom_prestation_type =='don' or nom_prestation_type =='perte'  %}
                        {% set tab_col_exclure = tab_col_exclure|merge(['date_debut','date_fin','created_at']) %}
                        {% set tri =[['date_enregistrement','desc']] %}
                    {% else %}
                        {% set tab_col_exclure = tab_col_exclure|merge(['date_enregistrement']) %}
                        {% set tri =[['date_fin','desc']] %}
                    {% endif %}
                    {% set tab_col = donneTabCol('servicerendu')|exclure_cles(tab_col_exclure) %}
                    {% include('inclure/table_sta.html.twig') with{'objet_bloc':sr_nom_prestation_type,'charger_data':true,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':filtres_statiques } only %}


                </div>
            </div>
        {% endif %}

    {% endfor %}

