<ul class="timeline timeline_objet">
    {% for date,operation  in tab_operations %}
        <li class="time-label">
            <span class="bg-blue small">{{ date|localizeddate('medium', 'none', 'fr') }} </span>
        </li>
        {% for op, opv in operation %}
            <li>
                <div class="timeline-item">
                        <div class="timeline-body">
                            <span class="label label-default"><i class="fa fa-clock-o"></i> {{ opv['date']|localizeddate('none', 'short', 'fr') }}</span>

                            {% if opv['variables'] is defined and opv['variables'] is iterable %}
                                {{ opv['code']|trans(opv['variables'])|raw }}
                            {% else %}
                                {{ opv['code']|trans }}
                            {% endif %}
                            par
                            {% for id_op, operateur in opv['operateur'] %}
                                <a href="{{ path('individu',{'id_individu':id_op}) }}">{{  operateur }}</a>
                            {% endfor %}
                        </div>

                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

