{% if decoupage is not defined %}{% set decoupage='seconde' %}{% endif %}
{% if regroupement is not defined %}{% set regroupement=false %}{% endif %}
<ul class="dernieres_operations timeline">
    {% for date,operation  in tab_operations %}
        <li class="time-label">
            {% set time_format = 'none' %}
            {% if decoupage == 'heure' %}
                {% set time_format = 'short' %}
                <span class="bg-blue small">{{ date|localizeddate('medium', 'none', 'fr') }} <i
                            class="fa fa-clock-o"></i> {{ date|localizeddate('none', 'short', 'fr') }}</span>
            {% else %}
                <span class="bg-blue small">{{ date|localizeddate('medium', 'none', 'fr') }} </span>
            {% endif %}

        </li>
        {% for op, opv in operation %}
            <li>
                <i class="fa {{ opv['code']|classLog }}"></i>
                <div class="timeline-item">
                    {% if opv['date'] is defined %}<span class="time pull-right"><i
                            class="fa fa-clock-o"></i> {{ opv['date']|localizeddate('none', 'medium', 'fr') }}
                        </span>{% endif %}
                    <div class="timeline-body">
                        {% if opv['variables'] is defined and opv['variables'] is iterable %}
                            {{ opv['code']|trans(opv['variables'])|raw }}
                        {% else %}
                            {{ opv['code']|trans }}
                        {% endif %}
                        par
                        {% for id_op, operateur in opv['operateur'] %}
                            <a href="{{ path('individu',{'id_individu':id_op}) }}">{{ operateur }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

