<p><strong>Objet</strong> : Convocation à l'assemblée générale</p>
<p><strong>Chers adhérents,</strong></p>
<p>L'assemblée générale de {{ entite_nom }} se tiendra le samedi 24 novembre 2012 à 14 h, à la MRES.</p>
<p>Nous avons décidé d'avancer la date de notre Assemblée Générale afin de vous présenter les résultats comptables rapidement après leur publication afin qu'ils expriment une situation actuelle.</p>
<p>Pour cette raison, vous trouverez également ci-dessous la convocation à l'Assemblée Générale Extraordinaire afin de mettre les statuts en accord avec ce souhait.</p>
<p>Conformément aux statuts, le CA étant élu pour 3 ans, nous ne procéderons qu'à une élection partielle, pour remplacer les administrateurs démissionnaires et pourvoir éventuellement aux mandats disponibles. N'hésitez pas à nous rejoindre dans le CA.</p>
<p>Il y sera aussi question de l'avenir de Robin des Bio. Il serait souhaitable que nous soyons nombreux pour échanger.</p>
<p>Ordre du jour:</p>
<ul>
    <li>13H30 : Accueil, paiement des cotisations 2013.</li>
    <li>14h00 : Début AG</li>
    <li>14H15 : Rapport financier</li>
    <li>14H45 : Rapport d'activités</li>
    <li>15h15 : Rapport moral et d'orientation</li>
    <li>16H15 : Vote des différents rapports et élection partielle du CA</li>
    <li>16H30 : Dépouillement</li>
    <li>17H00 : Décision</li>
    <li>puis pot de clôture.</li>
</ul>
<p>Rappel : les cotisations font vivre l'association. N'oubliez pas que pour voter, vous devrez avoir payé celle de l'année 2012.</p>
<p>En espérant vous retrouver nombreux,</p>
