Chers adhérents de {{ entite.nom }},
A ce jour, sauf erreur de notre part, vous n'avez pas encore réglé votre {{ nom.prestation }}{{ annee }}.
Il n'est pas trop tard... Vous pouvez déposer votre {{ nom_prestation }} de {{ motant_prestation }} au local (de préférence par chèque) ou l'envoyer par courrier au {{ adresse_entite }}.
Merci de votre compréhension et de votre engagement dans notre association,

Le CA de {{ entite_nom }}