{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        {% if objet_action is defined and objet_action is not empty %}

        <div class="back">
            <a href='{{  path(page) }}' class="btn btn-default">{{'retour_liste'|trans }}</a>
        </div>
            {% else %}
                <a href='{{  path('homepage')}}' class="btn btn-default">{{'retour'|trans }}</a>
        {% endif %}
    </div>

    {% block contenu %}
	<!-- Colonne principal-->
	<div id="contenu" class="col-sm-8">
	    <div class="box box-default">
		<div class="box-header">
		    <h2>{{ page|trans }}</h2>
		</div>
		<div class="box-body">
		    {% block formulaire %}
				<div id="formualire_impression_carte">
				{% if date_log is defined %}
					<p><strong>Regénération des carte d'adherent {{  date_log.format('d/m/Y H:i') }}</strong></p>
				<hr/>
				{% endif %}
				<dl class="dl-horizontal">
					<dt>Nombre de carte</dt>
					<dd>{{ nb_carte }}</dd>
				</dl>

				{% if nb_carte > 0 %}
					<hr />
					{% include('inclure/form.html.twig') %}
				{% endif %}
				{% if  tab_impression|length > 0 %}
				<hr />
				<dl class="dl-horizontal">

					<dt>Dernières impressions</dt>
					<dd>
						<ul class="list-unstyled select_pdf_histo">
							{% for impression in tab_impression %}
								<li><a data-id_log="{{ impression['id_log'] }}" href="{{ path('image',{'id_ged': impression['id_ged']  }) }}">{{ impression['date'].format('d/m/Y H:i') }}</a></li>
							{% endfor %}
						</ul>
					</dd>
				</dl>
			{% endif %}

				<hr />
				<div class="depliable">
					<div class="gachette">Réglage d'impression</div>
					<div class="depliant">
						{% include('inclure/form.html.twig') with {'form':form_pref} only  %}
					</div>
				</div>

				<script type="application/javascript">
					$(document).ready(function(){

						$('ul.select_pdf_histo').after('<select><option></option></select><div class="affichage_pdf_histo"></div>');
						select=$('ul.select_pdf_histo').next();
						$('ul.select_pdf_histo li').each(function(){
							lien = $(this).children('a');
							$(select).append('<option value="'+$(lien).attr("data-id_log")+'"  data-href="'+$(lien).attr("href")+'">'+ $(lien).text()+'</option>');
						});
						$('ul.select_pdf_histo').remove();
						$(select).change( function() {
							opt = $('option[value='+this.value+']',this);
							html='<div><i class="fa fa-file-pdf-o"/><a href="'+$(opt).attr('data-href')+'">Télécharger le document PDF</a></div>';
							html+='<div><i class="fa fa-refresh"/><a href="{{ path('carte_adherent',{'id_log':''}) }}'+$(opt).attr('value')+'" class="ajax_remplace" data-cible="#formualire_impression_carte" >Regénérer le document PDF</a></div>';
							$(this).next('.affichage_pdf_histo').html(html);
							initialisation_ajax_remplace('#formualire_impression_carte .affichage_pdf_histo');
						});

						initialisation_depliable();
					});
				</script>
				</div>
			{% endblock %}
		</div>
	    </div>
	</div>



    {% endblock %}
{% endblock %}

