{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        {% if objet_action is defined and objet_action is not empty %}

        <div class="back">
            <a href='{{  path(page) }}' class="btn btn-default">{{'retour_liste'|trans }}</a>
        </div>
            {% else %}
                <a href='{{  path('homepage')}}' class="btn btn-default">{{'retour'|trans }}</a>
        {% endif %}
    </div>

    {% block contenu %}
	<!-- Colonne principal-->
	<div id="contenu" class="col-sm-8">
	    <div class="box box-default">
		<div class="box-header">
		    <h2>{{ page|trans }}</h2>
		</div>
		<div class="box-body">
		    {% block formulaire %}

				{% include('inclure/form.html.twig') %}

				{% if  tab_impression|length > 0 %}
				<hr />
				<dl class="dl-horizontal">

					<dt>Dernières impressions</dt>
					<dd><ul class="select_redirect">
							{% for impression in tab_impression %}
								<li><a href="{{ path('image',{'id_ged': impression['id_ged']  }) }}">{{ impression['date'].format('d/m/Y h:m') }}</a></li>
							{% endfor %}
						</ul></dd>
				</dl>
				{% endif %}
				<hr />
				<div class="depliable">
					<div class="gachette">Réglage d'impression</div>
					<div class="depliant">
						{% include('inclure/form.html.twig') with {'form':form_pref} only  %}
					</div>
				</div>

				<script type="application/javascript">
					$(document).ready(function(){

						ul_select_redirect();
						initialisation_depliable();
					});
				</script>

			{% endblock %}
		</div>
	    </div>
	</div>

    {% endblock %}
{% endblock %}

