{% extends 'layout.html.twig' %}


{% block content %}

    <div class="box">
        <div class="box-body">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation">
                <a href="{{ path('inspecteur') }}"><i class="fa fa-stethoscope"></i></a>
            </li>

            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" id="drop_paiement" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Paiement  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop_paiement">
                    <li><a href="{{ path('inspecteur',{'action':'servicerendu_sans_paiement'}) }}">{{ 'Service sans paiement'|trans }}</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" id="drop_geo" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Géographie  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop_geo">
                    <li><a href="{{ path('inspecteur',{'action':'individu_sans_coords'}) }}">{{ 'individu non georeferencé'|trans }}</a></li>
                    <li><a href="{{ path('inspecteur',{'action':'individu_sans_ville'}) }}">{{ 'individu sans ville'|trans }}</a></li>
                    <li><a href="{{ path('inspecteur',{'action':'individu_sans_cp'}) }}">{{ 'individu sans code postal'|trans }}</a></li>
                    <li><a href="{{ path('inspecteur',{'action':'individu_ville_inconnue'}) }}">{{ 'individu ville inconnue'|trans }}</a></li>
                    <li><a href="{{ path('inspecteur',{'action':'individu_email_invalide'}) }}">{{ 'individu email individu'|trans }}</a></li>

                </ul>
            </li>
        </ul>







 {% if tab is defined %}



     {% set action = action|split('_')  %}
     {% set action = action[0]  %}

         {% if action  =='individu' %}


        {% set tab_col_exclure= [] %}
        {% set tri =[['id_individu','desc']] %}
        {% set tab_col = donneTabCol('individu')|exclure_cles(tab_col_exclure) %}
        {% include('inclure/table_sta.html.twig') with{'objet_bloc':'individu','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}



    {% elseif action  == 'servicerendu_sans_paiement' %}

         {% set tab_col_exclure= [] %}
         {% set tri =[['date_fin','desc']] %}
         {% set tab_col = donneTabCol('servicerendu')|exclure_cles(tab_col_exclure) %}
         {% include('inclure/table_sta.html.twig') with{'objet_bloc':'servicerendu','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}


     {% endif %}
 {% endif %}
        </div>
    </div>
{% endblock %}
