{% extends 'layout.html.twig' %}
{% block content %}
    <div id="contenu" class="col-sm-3">
        <nav id="spy" class=" hidden-print hidden-sm hidden-xs" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
            <ul class="nav nav-pills nav-stacked left-menu">
                {% for k,c  in choix %}
                    <li><a href="#{{ k }}">{{ k|trans }}</a></li>
                {% endfor %}


            </ul>
        </nav>



    </div>
    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-9">
        {% for k,form  in choix %}



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 id="{{ k }}" class="panel-title">{{ k|trans }}</h3>
                </div>
                <div class="panel-body">
                    {% form_theme form with ['form_large.html.twig'] %}
                    {{ form(form) }}
                </div>
            </div>

        {% endfor %}
        <script type="application/javascript">

            $("document").ready(function () {
                initialisation_composant_form('form[name=preferences]');



                /*Menu-toggle*/
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("active");
                });

                /*Scroll Spy*/
                $('body').scrollspy({ target: '#spy', offset:80});

                /*Smooth link animation*/
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });

            });

        </script>
    </div>

{% endblock %}