@import "AdminLTE";
@import "bootstrap-less/variables";
@import "font-awesome";

.navbar-brand {
  padding-top: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

body {
  background-color: transparent;
  background: url("../images/fond.jpg") no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  min-height: 100%;
}

.wrapper {
  position: relative;
  min-height: calc(~"100% - 3em");
  height: auto;

}

.content-wrapper {
  position: relative;
}

#main {
  background-color: transparent;
  margin: 0 15px;

  input.petit {
    width: 150px;
    display: inline-block;
  }
  .help-block {
    display: inline-block;
    margin-left: 1em;
  }

  .panel-heading > .btn-group {
    margin-top: -5px;
  }

}

.option_form {
  margin-top: -4em;
}

.divider-vertical {
  height: 40px;
  width: 5px;
  margin: 5px;
  border-left: 1px solid @gray-light;
  text-align: center;
}

.type_var {
  display: inline-block;
  margin-right: 1em;
  color: @red;
  font-size: 0.9em;
}

.select2-container .select2-selection--single .select2-selection__rendered{
  margin-top:-2px;

}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: @black;
}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
  height:28px;
}
.select2-container--bootstrap .select2-selection{
  font-size:@font-size-base;

}
.select2-container--bootstrap .select2-selection--multiple{
  min-height:28px;
}
.select2-container--bootstrap .select2-selection--single{
  height:28px;
}

.ajax-upload-dragdrop {
  width:100%;
  min-height: 80%;
}


/////////////////////////////////////////////////////////////
// BREADCRUMB
////////////////////////////////////////////////////////////

.breadcrumb {
  background-color: @white-trans;
}

/////////////////////////////////////////////////////////////
// ASIDE
////////////////////////////////////////////////////////////

#aside {
  background-color: transparent;
  dl.descriptif{
    margin-top:0.5em;
    margin-right: 40px; overflow: hidden;
    dt{vertical-align: top;clear:none;width:80px;color:gray;font-size:0.9em}
    dd{margin-left:100px;}

  }
  .informations {
    background-color: @white;
    padding: 0.5em;
    dd.numero {
      text-align: center;
      font-size: 3em;
    }
    .lien_fiche {
      display: inline-block;
      width: 95%;
      line-height: 1.5;
      margin: 0.25em auto;
    }
  }
  .actions {

  }

}

/////////////////////////////////////////////////////////////
// CONTENU
////////////////////////////////////////////////////////////

#contenu {
  margin-bottom: 3em;
  padding-bottom: 1em;
  h2 {
    margin-bottom: 1em;
  }

  .table caption + thead tr:first-child td, .table caption + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child td, .table thead:first-child tr:first-child th {
    border-top: 0 none;
  }
  table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    top: 0;

  }

}

.histo_operation {
  background-color: @white;
  margin: 0 1em 1em 0;
  padding: 0.5em;

  ul {
    margin: 0 1em;
    padding: 0;
    list-style: none;
    li {
      margin: 0.5em;
      padding: 0;
      .date {
        color: @gray;
      }
    }
  }

}

.histo_instruction {
  background-color: @white;
  margin: 0 1em 1em 0;
  padding: 0.5em;

  ul {
    margin: 0 1em;
    padding: 0;
    list-style: none;
    li {
      margin: 0.5em;
      padding: 0;
      .date {
        color: @gray;
      }
    }
  }

}

.postit {
  background-color: @white;
  margin: 0 1em 1em 0;
  padding: 1em;
  p.bg-warning {
    padding: 1em;
  }
  a {
    color: @gray;
  }

}

.message_gestionnaire {
  padding: 1em;
  margin: 0 1em 1em 0;
}

.liste_prescriptions {

  ul li {
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
  }

}

.select2-dropdown {
  z-index: 90000000000001;
}


.groupe_mot {

  ul {
    margin: 0.25em;
  }
  li {
    border-radius: @border-radius-base;
    padding: 0.25em 0.5em;
    margin: 0.5em;
    cursor: pointer;
  }
  li.hover {
    background-color: @gray-lighter;
  }
  .selected {
    background-color: @brand-success;
    color: @white;
  }

}

.tab-content{padding-top:2em}


/////////////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////////////

footer.main-footer { background-color: transparent; border-top:0 none;  width: 100%; padding:0.5em 1em; color:@gray-dark;}


/////////////////////////////////////////////////////////
// top link
/////////////////////////////////////////////////////////

#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -122px; /* negative of the offset - height of link element */
  left: 10px; /* padding from the left side of the window */
}

#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 58px; /* height of link element */
  left: 10px; /* padding from the left side of the window */
}

//////////////////////////////////////////////////////////////////////////
//////////////////// typeahead /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion:hover {
  color: #fff;
  cursor: pointer;
  background-color: @brand-primary;

}

.tt-suggestion:hover a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-cursor {
  background-color: @brand-primary;
  color: @white;
}

.editor {
  overflow: scroll;
  max-height: 300px;
  min-height: 200px;
}

.modal-body .tortue_lievre {
  margin-right: 30px;
}

form {
  .form-group {

    input.small6 {
      width: 6em;
    }

  }

}

#choix_selection {

  .selection {
    border-bottom: @gray-light 1px solid;
    padding: 0.5em 0;
    cursor: pointer;
    .nom {
      font-size: 1.3em;
    }
    .description {
      font-color: gray-dark;
    }
  }
  .selection:hover {
    background-color: @gray-lighter;
  }

}

//////////////////////////////////////////////////////////////////////////
///   NPAI
/////////////////////////////////////////////////////////////////////////

div.el.npai {
  padding: 0.25em 4em 0.25em 0.25em;
  border-left: 3px white solid;
  a.btn {
    opacity: 0;
    margin-top :-2px;
  }

  a.btn-warning {
    transition: 0.5s;
    opacity: 1;
  }
}

div.el.npai:hover {

  border-left: 3px @gray-light solid;
  background-color: @gray-lighter;

  a.btn {  opacity: 1; }

}



div.npai.disable {
  background: repeating-linear-gradient(
          45deg,
          @gray-lighter,
          @gray-lighter 7px,
          white 7px,
          white 14px
  );
}

div.npai:hover {

  border-left: 3px @gray-light solid;
  background-color: @gray-lighter;

  a.btn {  opacity: 1; }

}



//////////////////////////////////////////////////////////////////////////
///   tag
/////////////////////////////////////////////////////////////////////////

div.el.mot {
  padding: 0.25em 4em 0.25em 0.25em;
  border-left: 3px white solid;
  a.btn {
    opacity: 0;
    margin-top :-2px;
  }

  a.btn-warning {
    transition: 0.5s;
    opacity: 1;
  }
}

div.el.mot:hover {

  border-left: 3px @gray-light solid;
  background-color: @gray-lighter;
  a.btn {  opacity: 1; }

}








//////////////////////////////////////////////////////////////////////////
///   CARTE
/////////////////////////////////////////////////////////////////////////

.label-carte { }
.label-carte0 { background-color:@label-default-bg }
.label-carte1 { background-color: @red;}
.label-carte2 { background-color: @yellow;}
.label-carte3 { background-color: @orange;}
.label-carte4 { background-color: @vert;}

.carte{height:400px;}

//////////////////////////////////////////////////////////////////////////
///   LOG
/////////////////////////////////////////////////////////////////////////
.timeline > li > .fa {
  width: 25px;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  left: 20px;
}
.timeline > li > .timeline-item{
  padding:0;
  padding-top:0.25em;
  min-height: 25px;
  > .timeline-body{ padding:0;}
}


#aside{
.timeline > li > .timeline-item {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 transparent;
  background: transparent;
  margin-left: 0;
}
}


.tootip{z-index: 3003}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: @white;
}




.bloc_id{margin:3em 0 ;}


.depliable{
  .gachette{font-weight: bold;
    i{ color:@yellow; }
  }
  .gachette:hover{background-color:@gray-lighter;border-radius: @border-radius-base;cursor: pointer;}
  .depliant{display:none;padding:1em;margin: 1em 0;
    border: 1px solid @gray-lighter;border-radius: @border-radius-base;}

}
.depliable.deplie{
  .depliant{display:block;}

}