{{ form_row(form.individu.civilite) }}
{{ form_row(form.individu.nom_famille) }}
{{ form_row(form.individu.prenom) }}
{{ form_row(form.individu.adresse) }}
{{ form_row(form.individu.codepostal) }}
{{ form_row(form.individu.ville) }}
{{ form_row(form.individu.pays) }}
{{ form_row(form.individu.telephone) }}
{{ form_row(form.individu.telephone_pro) }}
{{ form_row(form.individu.mobile) }}
{{ form_row(form.individu.fax) }}
{{ form_row(form.individu.email) }}
{{ form_row(form.individu.contact_souhait) }}
{{ form_row(form.individu.profession) }}
{{ form_row(form.individu.naissance) }}
{{ form_row(form.individu.login) }}
{{ form_row(form.individu.observation) }}
{{ form_row(form.individu.image) }}