{{ form_row(form.civilite) }}
{{ form_row(form.nom) }}
{% if conf("champs.membre.nomcourt") %}
    {{ form_row(form.nomcourt) }}
{% endif %}
{% if conf("champs.membre.identifiant_interne") %}
    {{ form_row(form.identifiant_interne) }}
{% endif %}
{{ form_row(form.observation) }}