{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-6">

        <div class="box box-default">
            <div class="box-header">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_import':id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_import':id}) }}
                        <a href="{{  path('import_form',{'action':'attente','id_import':id}) }}"
                           title="{{'import'|trans }}"
                            class="btn btn-success ">
                            <i class="glyphicon glyphicon-import"></i>
                        </a>
                    </div>
                </div>
                <dl class="dl-horizontal">
                    <span class="info-box-number">{{ objet_data.IdImport }}</span>
                    <span class="info-box-text">{{ objet |trans }} : {{ objet_data.nom }}</span>
                    <dt>{{ 'operation'|trans }} :</dt>
                    <dd>{{ objet_data.Modele }}</dd>
                    <dt>{{ 'avancement'|trans }} :</dt>
                    <dd>{{ objet_data.Avancement }}</dd>
                    <dt>{{ 'nb_lignes'|trans }} :</dt>
                    <dd>{{ objet_data.nbLigne }}</dd>
                    {% if objet_data.proposition.url is defined  %}
                        <dt>{{ 'charger'|trans~' le compterendu'|trans }} :</dt>
                        <dd>{{ arbre(objet_data.proposition.url)|raw }}</dd>
                    {% endif %}
                   {% if objet_data.proposition.nb is defined  %}
                        <dt>{{ 'nombre'|trans }} :</dt>
                        <dd>{{ arbre(objet_data.proposition.nb)|raw }}</dd>
                    {% endif %}
                     {% if objet_data.proposition.message is defined  %}
                            <dt>{{ 'Message'|trans }} :</dt>
                            <dd>{{ arbre(objet_data.proposition.message)|raw }}</dd>
                    {% endif %}
                    {#{% if objet_data.proposition.entete is defined  %}#}
                        {#<dt>{{ 'entete'|trans }} :</dt>#}
                        {#<dd>{{ arbre(objet_data.proposition.entete)|raw }}</dd>#}
                    {#{% endif %}#}
                     {#{% if objet_data.proposition.param is defined  %}#}
                            {#<dt>{{ 'parametre'|trans }} :</dt>#}
                            {#<dd>{{ arbre(objet_data.proposition.param) }}</dd>#}
                    {#{% endif %}#}
                     {#{% if objet_data.proposition.lignes.13 is defined  %}#}
                        {#<dt>{{ 'une ligne 13 '|trans }} :</dt>#}
                        {#<dd>{{ arbre(objet_data.proposition.lignes.13) }}</dd>#}
                    {#{% endif %}#}
                    {#<dt>{{ 'compterendu'|trans }} :</dt>#}
                    {#<dd>{{ arbre(objet_data.proposition) }}</dd>#}

                </dl>
            </div>
        </div>
         <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'information'|trans }}
                </h5>
            </div>
            <dl class="dl-horizontal">

                <dt>{{ 'creation'|trans }}:</dt>
                <dd>{{ objet_data.createdAt|date('d/m/Y h:i:s') }}
                    {#par {{ objet_data.getQuiCree|getNomIndividu }}#}
                </dd>
                {% if objet_data.createdAt!=objet_data.updatedAt %}
                    <dt>{{ 'modification'|trans }}:</dt>
                    <dd>{{ objet_data.updatedAt|date('d/m/Y h:i:s') }}
                        {#par {{ objet_data.getQuiModifie|getNomIndividu }}#}
                    </dd>
                {% endif %}
            </dl>

        </div>

    </div>
    <div id="contenu" class="col-sm-6">
        <div class="box box-default">
        <table class="table table-striped super_tableau">
             <span class="info-box-text">{{ 'Actions réalisées'  }} </span>
            <thead>
            <tr>
                <th>{{ 'etape'|trans }}</th>
                <th>{{ 'detail'|trans }}</th>
                <th>{{ 'quand'|trans }}</th>
                <th>{{ 'qui'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for action in objet_data.modification %}
                {% if action.action is defined %}
                    <tr>
                        <td>{{ action.action }}</td>
                        <td>{{ action.detail }}</td>
                        <td>{{ action.date|date(' h:i:s') }}</td>
                        <td>par {{ action.operateur|getNomIndividu }}</td>
                    </tr>
                  {% endif %}
            {% endfor %}
            {% for etape in objet_data.modification %}
                {% if etape.etapes is defined %}
                    <tr>
                        <td>{{ etape.etapes }}</td>
                        <td> a faire </td>
                        <td></td>
                        <td></td>
                    </tr>
                 {% endif %}
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% if objet_data.proposition.m_nom.ligne is defined  %}
        <div class="box box-default">
        <table class="table table-striped super_tableau_select">
             <span class="info-box-text">{{ 'modification nom prenom'  }} </span>
             <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés" />
            <input type="submit" class="submit" name="bretour" value="Abandon" />
            <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
            <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
           <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                <th>{{ 'ligne'|trans }}</th>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'remplace'|trans }}</th>
                <th>{{ 'par'|trans }}</th>
                <th>{{ 'concerne'|trans }}</th>
                <th>{{ 'objet'|trans }}</th>
                <th>{{ 'champ destination'|trans }}</th>
             </tr>
            </thead>
            <tbody>
             {% for mnom in objet_data.proposition.m_nom %}
                    <tr>
                        <td></td>
                        <td>{{ mnom.ligne }}</td>
                        <td>{{ mnom.id }}</td>
                        <td>{{ mnom.remplace }}</td>
                        <td>{{ mnom.par }}</td>
                        <td>{{ mnom.inform }}</td>
                        <td>{{ mnom.objet }}</td>
                        <td>{{ mnom.champ_destination }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
        {% if objet_data.proposition.m_individu.ligne is defined  %}
       <div class="box box-default">
        <table class="table table-striped super_tableau_select">
            <span class="info-box-text">{{ 'modifications coordonnées'  }} </span>
             <p class='boutons'>
                <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés" />
                <input type="submit" class="submit" name="bretour" value="Abandon" />
                <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
                <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
            </p>
            <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                <th>{{ 'ligne'|trans }}</th>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'remplace'|trans }}</th>
                <th>{{ 'par'|trans }}</th>
                <th>{{ 'concerne'|trans }}</th>
                <th>{{ 'objet'|trans }}</th>
                <th>{{ 'champ destination'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for mnom in objet_data.proposition.m_individu %}
                <tr>
                    <td></td>
                    <td>{{ mnom.ligne }}</td>
                    <td>{{ mnom.id }}</td>
                    <td>{{ mnom.remplace }}</td>
                    <td>{{ mnom.par }}</td>
                    <td>{{ mnom.inform }}</td>
                    <td>{{ mnom.objet }}</td>
                    <td>{{ mnom.champ_destination }}</td>
                </tr>
            {% endfor %}
             </tbody>
        </table>
       </div>
        {% endif %}
        {% if objet_data.proposition.a_individu.ligne is defined  %}
        <div class="box box-default">
            <table class="table table-striped super_tableau_select">
                <span class="info-box-text">{{ 'Ajout individus'  }} </span>
                <p class='boutons'>
            <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés" />
            <input type="submit" class="submit" name="bretour" value="Abandon" />
            <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
            <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
         </p>
             <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                <th>{{ 'ligne'|trans }}</th>
                <th>{{ 'nom_famille'|trans }}</th>
                <th>{{ 'prenom'|trans }}</th>
                <th>{{ 'ville'|trans }}</th>
                <th>{{ 'objet'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for mnom in objet_data.proposition.a_individu %}
                    <tr>
                        <td></td>
                        <td>{{ mnom.ligne }}</td>
                        <td>{{ mnom.nom_famille }}</td>
                        <td>{{ mnom.prenom }}</td>
                        <td>{{ mnom.ville }}</td>
                        <td>{{ mnom.objet }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
        {% if objet_data.proposition.m_membre.ligne is defined  %}
        <div class="box box-default">
            <table class="table table-striped super_tableau_select">
                <span class="info-box-text">{{ 'ajout Membres'  }} </span>
                <p class='boutons'>
            <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés" />
            <input type="submit" class="submit" name="bretour" value="Abandon" />
            <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
            <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
         </p>
            <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                <th>{{ 'ligne'|trans }}</th>
                <th>{{ 'nom'|trans }}</th>
                 <th>{{ 'objet'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                 {% for mnom in objet_data.proposition.a_membre %}
                    <tr>
                        <td></td>
                        <td>{{ mnom.ligne }}</td>
                        <td>{{ mnom.nom }}</td>
                         <td>{{ mnom.objet }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
        {% if objet_data.proposition.m_cot.ligne is defined  %}
        <div class="box box-default">
            <table class="table table-striped super_tableau_select">
                <span class="info-box-text">{{ 'Modifications cotisations'  }} </span>
                 <p class='boutons'>
            <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés" />
            <input type="submit" class="submit" name="bretour" value="Abandon" />
            <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
            <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
         </p>
               <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                <th>{{ 'ligne'|trans }}</th>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'remplace'|trans }}</th>
                <th>{{ 'par'|trans }}</th>
                <th>{{ 'concerne'|trans }}</th>
                <th>{{ 'objet'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for mnom in objet_data.proposition.m_cot %}
                    <tr>
                        <td></td>
                        <td>{{ mnom.ligne }}</td>
                        <td>{{ mnom.id }}</td>
                        <td>{{ mnom.remplace }}</td>
                        <td>{{ mnom.par }}</td>
                        <td>{{ mnom.inform }}</td>
                        <td>{{ mnom.objet }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
        {% if objet_data.proposition.m_cotp.ligne is defined  %}
       <div class="box box-default">
            <table class="table table-striped super_tableau_select">
                <span class="info-box-text">{{ 'Modifications paiements'  }} </span>
                 <p class='boutons'>
            <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés" />
            <input type="submit" class="submit" name="bretour" value="Abandon" />
            <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
            <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
         </p>
               <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                <th>{{ 'ligne'|trans }}</th>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'remplace'|trans }}</th>
                <th>{{ 'par'|trans }}</th>
                <th>{{ 'concerne'|trans }}</th>
                <th>{{ 'objet'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for mnom in objet_data.proposition.m_cotp %}
                    <tr>
                        <td></td>
                        <td>{{ mnom.ligne }}</td>
                        <td>{{ mnom.id }}</td>
                        <td>{{ mnom.remplace }}</td>
                        <td>{{ mnom.par }}</td>
                        <td>{{ mnom.inform }}</td>
                        <td>{{ mnom.objet }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       </div>
     {% endif %}
       </div>
     </div>
      </div>
       </div>

{% endblock %}
