{%  set objet_en_cours = _self.templateName|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped super_tableau_select">
	<thead>
	<tr>
		<th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
		<th>{{ 'ID'|trans }}</th>
		<th>{{ 'Nom'|trans }}</th>
		<th>{{ 'date_envoi'|trans }}</th>
		<th>{{ 'mode_envoi'|trans }}</th>
		<th>{{ 'message particulier'|trans }}</th>
		<th></th></tr>
	</thead>
<tbody>
	 {% for objet_data in calculon('charge_tab_objet',{'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
		<tr>
			<td></td>
			<td>{{ objet_data.idMembre }}</td>

			<td>{%if objet_data.membre %}{{ objet_data.membre.nom }}{% endif %}</td>
			<td>{{ objet_data.DateEnvoi|date("d/m/Y") }}</td>
			<td>{{ objet_data.modeEnvoi }}</td>
			<td>{% if objet_data.messageParticulier %} voir {% else %} aucun {% endif %}</td>
			<td class="text-right">
				<div class="btn-group" role="group" aria-label="...">
					{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
					{{ bouton('supprimer',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
				</div>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>

