{%  set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped ">
    <thead>
    <tr>
        <th>{{ 'ID'|trans }}</th>
        <th>{{ 'operation'|trans }}</th>
        <th>{{ 'avancement'|trans }}</th>
        <th>{{ 'nom'|trans }}</th>
        <th>{{ 'taille'|trans }}</th>
        <th>{{ 'nb_enregistrer'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
 {#{% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}#}
    {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'id_filtre':'charge'})%}
    {#{% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}#}

        <tr>
            <td>{{ objet_data.IdImport }}</td>
            <td>{{ objet_data.Modele }}</td>
            <td>{{ objet_data.Avancement }} {{  pref('import.etapes.'~objet_data.Avancement)  }}</td>
            <td>{{ objet_data.Nom }}</td>
            <td>{{ objet_data.Taille }}</td>
            <td>{{ objet_data.NbLigne }} </td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {%  if (objet_data.avancement < '8' and objet_data.avancement > '0' ) %}
                        {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

