{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">

        <div class="box box-default">
            <div class="box-header">
                <div class="pull-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'id_import':id,'class_cplt':'modal_form'}) }}
                        {{ bouton('supprimer',{'id_import':id}) }}
                        <a href="{{ path('import_form',{'action':'attente','id_import':id}) }}"
                           title="{{ 'import'|trans }}"
                           class="btn btn-success ">
                            <i class="glyphicon glyphicon-import"></i>
                        </a>
                    </div>
                </div>
                <dl class="dl-horizontal">
                    <span class="info-box-number">{{ objet_data.IdImport }}</span>
                    <span class="info-box-text">{{ objet |trans }} : {{ objet_data.nom }}</span>
                    <dt>{{ 'operation'|trans }} :</dt>
                    <dd>{{ objet_data.Modele }}</dd>
                    <dt>{{ 'avancement'|trans }} :</dt>
                    <dd>{{ objet_data.Avancement }}</dd>
                    <dt>{{ 'nb_lignes'|trans }} :</dt>
                    <dd>{{ objet_data.nbLigne }}</dd>
                    {% if objet_data.proposition.url is defined %}
                        <dt>{{ 'charger'|trans~' le compterendu'|trans }} :</dt>
                        <dd>{{ arbre(objet_data.proposition.url)|raw }}</dd>
                    {% endif %}
                    {% if objet_data.proposition.nb is defined %}
                        <dt>{{ 'nombre'|trans }} :</dt>
                        <dd>{{ arbre(objet_data.proposition.nb)|raw }}</dd>
                    {% endif %}
                    {% if objet_data.proposition.message is defined %}
                        <dt>{{ 'Message'|trans }} :</dt>
                        <dd>{{ arbre(objet_data.proposition.message)|raw }}</dd>
                    {% endif %}
                    {#{% if objet_data.proposition.entete is defined  %}#}
                    {#<dt>{{ 'entete'|trans }} :</dt>#}
                    {#<dd>{{ arbre(objet_data.proposition.entete)|raw }}</dd>#}
                    {#{% endif %}#}
                    {#{% if objet_data.proposition.param is defined  %}#}
                    {#<dt>{{ 'parametre'|trans }} :</dt>#}
                    {#<dd>{{ arbre(objet_data.proposition.param) }}</dd>#}
                    {#{% endif %}#}
                    {#{% if objet_data.proposition.lignes.13 is defined  %}#}
                    {#<dt>{{ 'une ligne 13 '|trans }} :</dt>#}
                    {#<dd>{{ arbre(objet_data.proposition.lignes.13) }}</dd>#}
                    {#{% endif %}#}
                    {#<dt>{{ 'compterendu'|trans }} :</dt>#}
                    {#<dd>{{ arbre(objet_data.proposition) }}</dd>#}

                </dl>
            </div>
        </div>
        <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'information'|trans }}
                </h5>
            </div>
            <dl class="dl-horizontal">

                <dt>{{ 'creation'|trans }}:</dt>
                <dd>{{ objet_data.createdAt|date('d/m/Y h:i:s') }}
                    {#par {{ objet_data.getQuiCree|getNomIndividu }}#}
                </dd>
                {% if objet_data.createdAt!=objet_data.updatedAt %}
                    <dt>{{ 'modification'|trans }}:</dt>
                    <dd>{{ objet_data.updatedAt|date('d/m/Y h:i:s') }}
                        {#par {{ objet_data.getQuiModifie|getNomIndividu }}#}
                    </dd>
                {% endif %}
            </dl>

        </div>

    </div>
    <div id="contenu" class="col-sm-9">
        <div class="box box-default">
            <div class="box-header"><h3>Etat d'avancement</h3></div>
            <div class="box-body"></div>
        </div>
        <div class="box box-default">
            <div class="box-header"><h3>Adhérents & individus: Rapprochement</h3></div>
            <div class="box-body">

                <label for="masquer_ok_ind">
                    <input type="checkbox" id="masquer_ok_ind" checked="checked" name="masquer_ok_ind"/>
                    Masquer les lignes ok
                </label>

                <table class="table table-striped table-responsive super_tableau" id="table_ind">
                    <thead>
                    <tr>
                        <th>{{ 'Numéro de ligne'|trans }}</th>
                        <th>{{ 'etat'|trans }}</th>
                        <th>{{ 'Donnée dans le fichier'|trans }}</th>
                        <th>{{ 'Proposition'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for num,ligne in tab_ligne %}
                        {% set prop_ind=ligne.propositions.individu %}
                        {% set prop_membre=ligne.propositions.membre %}
                        <tr id="tr_ind_{{ num }}">
                            <td>{{ num }}</td>
                            <td>
                                {% if prop_ind.data is defined and prop_membre.data is defined %}
                                    OK
                                {% else %}
                                    A compléter
                                {% endif %}
                            </td>
                            <td>
                                {% set url_xeditable= path('import_form',{'action':'variable_ligne','id_import':objet_data.idImport,'num':num}) %}
                                <dl>
                                    <dd>
                                        <span class="xeditable" data-url="{{ url_xeditable}}" id="individu.nom_famille">{{ prop_ind.nom_famille }}</span>
                                        <span class="xeditable" data-url="{{ url_xeditable}}" id="individu.prenom">{{ prop_ind.prenom }}</span>

                                    </dd>
                                    <dd>
                                        {% if prop_ind.naissance is not empty %}
                                            <span class="xeditable" data-type="date"  data-url="{{ url_xeditable}}" id="individu.naissance">{{ prop_ind.naissance|date('d/m/Y') }}</span>
                                        {% endif %}
                                    </dd>
                                    <dd><span class="xeditable" data-url="{{ url_xeditable}}" id="individu.email">{{ prop_ind.email }}</span></dd>
                                    <dd><span class="xeditable" data-type="textarea" data-url="{{ url_xeditable}}" id="individu.adresse">{{ prop_ind.adresse }}</span></dd>
                                    <dd>
                                        <span class="xeditable" data-url="{{ url_xeditable}}" id="individu.codepostal">{{ prop_ind.codepostal }}</span>
                                        <span class="xeditable" data-url="{{ url_xeditable}}" id="individu.ville">{{ prop_ind.ville }}</span>
                                    </dd>

                                </dl>
                            </td>
                            <td>
                                <div>
                                    <div><small>Adhérent</small></div>
                                    {% if prop_membre.data is defined %}
                                        {% set tab_membre = prop_membre.data %}
                                        {% if tab_membre|length == 1 %}
                                            {% for id_membre,membre in tab_membre %}
                                                <dl>
                                                    <dd>{{ membre.id_membre }}</dd>
                                                    <dd>{{ membre.nom }}</dd>
                                                </dl>
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        <a href="" class="btn btn-success">Choisir l'adherent</a> ou <a href=""
                                                                                                        class="btn btn-success">le
                                        créer</a>
                                    {% endif %}
                                </div>
                                <div>
                                    <div><small>Individu</small></div>
                                    {% if prop_ind.data is defined %}
                                    {% set tab_ind = prop_ind.data %}

                                    {% if tab_ind|length > 1 %}
                                        {% for id_individu,ind in tab_ind %}

                                            <div>
                                                <form>
                                                    <input type="radio" name="" value="{{ id_individu }}" id=""><label>
                                                        <dl>

                                                            <dd>{{ id_individu }}</dd>
                                                            <dd>{{ ind.nom_famille }}</dd>
                                                            <dd>{{ ind.prenom }}</dd>
                                                            <dd>{{ ind.email }}</dd>
                                                            <dd>{{ ind.adresse }}</dd>
                                                            <dd>{{ ind.codepostal }}  {{ ind.ville }}</dd>
                                                        </dl>
                                                    </label>
                                                    <input type="button" value="Choisir"/>
                                                </form>
                                            </div>

                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            {% for id_individu,ind in tab_ind %}
                                                <dl>
                                                    <dd>{{ id_individu }}</dd>
                                                    <dd>{{ ind.nom_famille }}</dd>
                                                    <dd>{{ ind.prenom }}</dd>
                                                    <dd>{{ ind.email }}</dd>
                                                    <dd>{{ ind.adresse }}</dd>
                                                    <dd>{{ ind.codepostal }}  {{ ind.ville }}</dd>
                                                </dl>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                {% endif %}
                            </td>
                            <td>

                                <a href="{{ path('import_form',{'action':'refresh_ligne','id_import':objet_data.idImport,'num':num}) }}" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></a>

                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <script type="application/javascript">
                $(document).ready(function(){

                    conteneur_table_ind = $('#table_ind');


                    $('#masquer_ok_ind').change(function () {

                        if ($(this).is(':checked')) {
                            $("td:first-child", conteneur_table_ind).next(":contains('OK')").parent().hide();
                        } else {
                            $("tr", conteneur_table_ind).show();
                        }


                    })

                    $('#masquer_ok_ind').trigger('change');

                });

            </script>

        </div>


     <div class="box box-default">
            <div class="box-header"><h3>Service rendu & Paiement : Rapprochement</h3></div>
            <div class="box-body">

                <label for="masquer_ok_ind">
                    <input type="checkbox" id="masquer_ok_sr" checked="checked" name="masquer_ok_sr"/>
                    Masquer les lignes ok
                </label>

                <table class="table table-striped table-responsive super_tableau" id="table_ind">
                    <thead>
                    <tr>
                        <th>{{ 'Numéro de ligne'|trans }}</th>
                        <th>{{ 'etat'|trans }}</th>
                        <th>{{ 'Donnée dans le fichier'|trans }}</th>
                        <th>{{ 'Proposition'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for num,ligne in tab_ligne %}
                        {% set prop_ind=ligne.propositions.individu %}
                        {% set prop_membre=ligne.propositions.membre %}
                        {% set prop_sr=ligne.propositions.servicerendu %}
                        {% set prop_paiement=ligne.propositions.paiement %}

                        <tr>
                            <td>{{ num }}</td>
                            <td>
                                {% if prop_sr.id_prestation is defined or prop_sr.id_prestation_lot is defined %}
                                    OK
                                {% else %}
                                    A compléter
                                {% endif %}
                            </td>
                            <td>

                                <dl>
                                    <dd>{{ prop_ind.nom_famille }} {{ prop_ind.prenom }}</dd>
                                    <dd>{{ prop_sr.temporaireprestype }} </dd>
                                    <dd>{{ prop_paiement.montant }} € </dd>

                                </dl>
                            </td>
                            <td>
                                <div>
                                    <div><small>Servicerendu</small></div>



                                    {% if prop_sr.data is defined %}

                                        Service rendu déjà enregistré

                                    {% else %}

                                        {% if prop_sr.id_prestation is defined or id_prestion_lot is defined %}
                                        Proposition de prestation
                                        {% else %}
                                        <dl>

                                            <dd>{{ prop_sr.temporaireprestype }} </dd>
                                            <dd>{{ prop_paiement.montant }} € </dd>

                                        </dl>
                                        {% endif %}
                                    {% endif %}

                                    <div><small>Paiement</small></div>
                                    {% if prop_sr.data is defined %}

                                        Paiement déjà enregistré

                                    {% else %}

                                        Proposition de création de paiement
                                        <dl>

                                            <dd>{{ prop_sr.temporaireprestype }} </dd>
                                            <dd>{{ prop_paiement.montant }} € </dd>

                                        </dl>
                                    {% endif %}
                                </div>


                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <script type="application/javascript">
                $(document).ready(function(){

                    conteneur_table_ind = $('#table_ind');


                    $('#masquer_ok_sr').change(function () {

                        if ($(this).is(':checked')) {
                            $("td:first-child", conteneur_table_ind).next(":contains('OK')").parent().hide();
                        } else {
                            $("tr", conteneur_table_ind).show();
                        }


                    })

                    $('#masquer_ok_ind').trigger('change');

                });

            </script>

        </div>
    </div>




{% endblock %}
