<p><strong>Chers adhérents,</strong></p>

<p>A ce jour, sauf erreur de notre part, vous n'avez pas encore réglé votre {{ prestation_nom }} {{ relance_annee }} à l'association
    {{ entite_nom }}.</p>
<p><strong>{{ entite_nom }}</strong> étant une association, il est nécessaire de renouveler chaque année votre
    cotisation pour venir acheter vos produits à l'épicerie</p>

<p> Nous savons que les cotisations contribuent modestement aux ressources de {{ entite_nom }}.
    Cependant chaque cotisation a son importance : elle contribue à notre équilibre financier
    (et donc indépendance), nous permet une représentation dans le paysage "bio" régional et engage le CA
    à créer un lien fort avec vous, les adhérents.
</p>

<p>
      Si actuellement, vous ne pouvez plus fréquenter l'épicerie, vous pouvez toujours nous encourager
    avec votre cotisation dans notre activité et nos missions. </p>
<p>
    Vous pouvez déposer votre {{ prestation_nom }} de {{ prestation_montant }} au local (de préférence par chèque) ou
    l'envoyer par courrier au {{ entite_adresse }} {{ entite_codepostal }} {{ entite_ville }}. </p>

<p>
    Merci de votre compréhension et de votre engagement dans notre association, </p>

