<p><strong>Bonjour,</strong></p>

<p>Ci joint le pdf correspondant à votre action de remetre des moyens de paiements .</p>
<p>Vous pouvez joindre cette liste à vos chèques et prévenir le trésorier</p>


